#page_sub_nav { display: none; }

#page-root {
    position: relative;
    padding-bottom: 20px;
}

form.auth-form {
    /* TODO(benkomalo): vertically position this and make it flex. */
    position: relative;
    display: block;
}

.login-container.card-case {
    margin: 6em auto;
    padding: 2em 1em;
    width: 740px;
    white-space: nowrap;
}

.providers, .pw-login {
    display: inline-block;
    vertical-align: top;
    height: 250px;
}

.login-container .providers {
    text-align: center;
}

.pw-login {
    width: 430px;
    text-align: right;
}
.pw-login h3 {
    text-align: left;
    margin-bottom: 3em;
}

#page-root .vertical-separator {
    width: 1px;
    height: 250px;
    margin: 0 2em;
    border-left: 1px solid #ccc;
    text-align: center;
    position: relative;
    display: inline-block;
}
.separator-text {
    color: #999;
    font-family: "MuseoSans500", sans-serif;
    font-size: 16px;
    background: #eee;
    display: inline-block;
    padding: 0.5em;
    position: relative;
}

.vertical-separator .separator-text {
    top: 50%;
    margin-top: -0.5em;
    margin-left: -1.25em;
}

#page-root .horizontal-separator {
    height: 1px;
    margin: 2em auto;
    width: 100%;
    border-top: 1px solid #ccc;
    text-align: center;
    position: relative;
    display: inline-block;
}

.horizontal-separator .separator-text {
    position: relative;
    display: inline-block;
    padding: 0 0.5em;
    top: -0.5em;
}


h2.login-title {
    text-align: center;
    margin-bottom: 2em;
}
a:visited {
    color: #0075b1;
}

.providers li {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    width: 200px;
    height: 78px;
    border-bottom-color: #aaa;
    border-right-color: #bbb;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow: 2px 2px 5px #ccc;
    -webkit-box-shadow: 2px 2px 5px #ccc;
    box-shadow: 2px 2px 5px #ccc;

    cursor: pointer;
}

.providers li .img-container {
    display: table-cell;
    vertical-align: middle;
    height: 85px;
}
.providers li img {
    margin: 0 10px;
}

.providers li:hover,
.providers li:active {
    border-color: #aaa;
    left: 2px;
    top: 2px;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.field-container {
    margin: 0.5em;
}

#login-fail-message {
    margin: 0 0.5em; /* same as horizontal margins of field-container */
}

.field-label {
    color: #333;
    font-family: "MuseoSans500", sans-serif;
    font-size: 14px;
    margin-right: 0.5em;
}

.field-error {
    color: red;
}

.auth-form .simple-input {
    font-size: 14px;
    padding: 0.1em 0.3em;
    margin: 0.1em 0;
    width: 12em;
}

.auth-form .simple-input:focus {
    -webkit-box-shadow: 0 0 8px rgba(115, 152, 44, .5);
    -moz-box-shadow: 0 0 8px rgba(115, 152, 44, .5);
    box-shadow: 0 0 8px rgba(115, 152, 44, .5);
    outline: none;
}

.auth-form .simple-input:disabled {
    color: #333;
}

/* TODO(benkomalo): possibly make this a standard for the site. */
.auth-form select.simple-input {
    /* Work around a webkit "bug" where box shadows don't work unless you
     * disable webkit-appearance. That removes the dropdown icon though. */
    -webkit-appearance: none;

    background: white url("/images/dropdown.png") no-repeat right center;
}

.auth-form .simple-input#gender {
    width: 8em;
}

.auth-form .simple-input.birth-month,
.auth-form .simple-input.birth-day,
.auth-form .simple-input.birth-year {
    width: 5em;
}

.password-label {
    margin-top: 0.4em;
    display: inline-block;
}
.password-container {
    display: inline-block;
    vertical-align: top;
    margin-right: -3px;
}
#forgot-hint {
    font-size: 90%;
    color: #678d00;

    /* HACK(benkomalo): need to left-align with password field, so we apply a left
     * padding equal to the password-label's margin-box-width */
    margin-right: 8.2em;
}

.pw-login #submit-button {
    float: right;
    margin-right: 6px;
}

.pw-login img.tree {
    float: left;
    padding-left: 2em;
}

.signup-prompt-container {
    margin-top: 4em;
    margin-right: 4px;
}

.signup-prompt {
    color: #666;
}
a.signup-link {
    color: #678d00;
}


#birthday-picker {
    display: inline-block;
}

.signup-container.card-case {
    margin: 6em auto;
    padding: 2em 4em;
    width: 650px;
}
.completesignup-container .field-label, .signup-container .field-label {
    width: 13em;
    text-align: right;
    display: inline-block;
}
.signup-container .simple-input {
    width: 14.3em;
}
.signup-container .pw-signup {
    width: 600px;
    margin: 0 auto;
}

.signup-container .field-error {
    display: inline-block;
    margin-left: 2em;
}

.signup-container .providers-container {
    padding: 0 2em 2em;
}

.signup-container .providers-container h4 {
    margin-bottom: 0.5em;
}

.signup-container .providers {
    height: auto;
    display: inline-block;
}

.signup-container .providers-info {
    display: inline-block;
    font-family: "MuseoSans500", sans-serif;
    font-size: 14px;
    width: 12em;
    margin-top: 0.5em;
    margin-left: 1em;
}

.signup-container #submit-button {
    margin-top: 0.5em;

    /* HACK(benkomalo): need to align with the right of the password field so
     * we force a left margin equal to width of password field and label. */
    margin-left: 23.5em;
}


/* completesignup specific styles */

.completesignup-container.card-case {
    margin: 6em auto;
    padding: 2em;
    width: 550px;
}

.completesignup-container .simple-input {
    width: 17em;
}


.completesignup-container img.tree {
    float: left;
    margin-right: 1em;
}

.completesignup-container h3 {
    font-family: "MuseoSans300", sans-serif;
    vertical-align: middle;
}

.completesignup-container .auth-form {
    /* To clear the floated img of the tree */
    clear: both;
}

.completesignup-container .tos-area {
    display: inline-block;
    width: 18em;
    font-size: 11px;
    text-align: right;
    margin-right: 2em;
    vertical-align: middle;
}

.completesignup-container .submit-container {
    margin-top: 2em;
}
.completesignup-container .submit-container,
.completesignup-container .field-error {
    text-align: right;

    /* HACK(benkomalo): add in enough padding on the right to right align
     * contents with the form fields */
    padding-right: 8.4em;
}

/* Settings page styles */

#pw-change-form {
    margin-top: 0;
}

#pw-change-form .input-label-cell {
    padding: 0.5em 2em 0.5em 0;
}

#pw-change-form .sidenote {
    margin-left: 5px;
}

/* TODO(benkomalo): style nicer */
#pw-change-form .message.success {
    color: green;
}

#pw-change-form .message.error {
    color: red;
}

/* Dialog shown after step 1 of sign up */
.signup-success-dialog.modal.fade.in {
    width: 450px;
    left: 50%;
    margin-left: -200px;
    position: absolute;
    top: 150px;
    background-color: #eee;
}

.signup-success-dialog .modal-body {
    padding: 2em 4em;
}

.signup-success-dialog .email-header {
    font-family: "MuseoSans300", sans-serif;
    color: #333;
    margin-bottom: 0.5em;
}

.signup-success-dialog .email {
    font-family: "MuseoSans500", sans-serif;
    font-size: 18px;
    color: #000;
    text-align: center;
}

.signup-success-dialog .instructions {
    font-family: "MuseoSans500", sans-serif;
    display: inline-block;
    font-size: 16px;
    width: 15em;
    margin-left: 2em;
    margin-top: 2em;
}

/* TODO(benkomalo): consolidate these with the profile page's sidenote styles */
.sidenote {
    background-repeat: no-repeat;
    background-position: 0 30%;
    padding-left: 13px;
}
.sidenote.success {
    background-image:url(/images/video-indicator-complete.png);
}
.sidenote.error {
    background-image:url(/images/cross.png);
}

/* A gray-background, rounded corner "card look" */
.card-case {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #eee;
}
