#page_sub_nav { display: none; }

#login-page {
    text-align: center;
    position: relative;

}

#login-page-content {
    /* TODO(benkomalo): vertically position this and make it flex. */
    position: relative;
    margin-top: 6em;
}

.providers, .pw-login {
    display: inline-block;
    text-align: left;
    width: 500px;
}

#login-page .separator {
    margin: 2em auto;
    width: 800px;
    text-align: center;
    position: relative;
}
.separator-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    width: 100%;
    height: 1px;
}
.separator-text {
    color: #666;
    font-family: "MuseoSans500", sans-serif;
    font-size: 14px;
    background: white;
    display: inline-block;
    padding: 0 0.5em;
    position: relative;
}

h2.login-title {
    text-align: center;
    margin-bottom: 2em;
}
h3 {
    color: #555;
}
a:visited {
    color: #0075b1;
}

.providers li {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    height: 90px;
    border-bottom-color: #aaa;
    border-right-color: #bbb;
    margin: 0 10px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow: 2px 2px 5px #ccc;
    -webkit-box-shadow: 2px 2px 5px #ccc;
    box-shadow: 2px 2px 5px #ccc;

    cursor: pointer;
}

.providers li .img-container {
    display: table-cell;
    vertical-align: middle;
    height: 95px;
}
.providers li img {
    margin: 0 10px;
}

.providers li:hover,
.providers li:active {
    border-color: #aaa;
    left: 2px;
    top: 2px;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login-field-set {
    margin: 0.2em 0.5em;
    display: inline-block;
}

.login-label {
    color: #666;
    font-family: "MuseoSans500", sans-serif;
    font-size: 14px;
}

.login-input {
    display: block;
    font-size: 14px;
    padding: 0.1em 0.3em;
    margin: 0.1em 0;
    width: 18em;
}

.login-input:focus {
    -webkit-box-shadow: 0 0 5px rgba(115, 152, 44, .5);
    -moz-box-shadow: 0 0 5px rgba(115, 152, 44, .5);
    box-shadow: 0 0 5px rgba(115, 152, 44, .5);
    outline: none;
}

#forgot-hint {
    float: right;
    font-size: 90%;
    color: #678d00;
}

.login-button {
    margin-left: 1em;
}

.signup-prompt-container {
    margin: 8em 0;
}

.signup-prompt {
    color: #666;
}
a.signup-link {
    color: #678d00;
}
