#page_sub_nav { display: none; }

#login-page {
    padding-top: 18px;
}
#login-page h3 {
    color: #555;
}
#login-page a:visited {
    color: #0075b1;
}
#login-page .providers-sign-up li {
    float: left;
    padding-right: 20px;
    font-size: 15px;
}
#login-page .providers li {
    float: left;
    border: 1px solid #ccc;
    border-bottom-color: #aaa;
    border-right-color: #bbb;
    text-align: left;
    padding: 0 10px;
    margin-right: 20px;
    min-height: 80px;
    position: relative;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow: 2px 2px 5px #ccc;
    -webkit-box-shadow: 2px 2px 5px #ccc;
    box-shadow: 2px 2px 5px #ccc;

    cursor: pointer;
}
#login-page .providers li:hover,
#login-page .providers li:active {
    border-color: #aaa;
    left: 2px;
    top: 2px;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#login-page .providers li .sign-in-text {
    color: #777;
}
#login-page #feature-list {
    width: 100%;
}
#login-page #feature-list div.feature {
    width: 33%;
    float: left;
    text-align: center;
}
#login-page #feature-list div.feature img {
    border: 1px solid #AAA;
    -webkit-box-shadow: 1px  2px 2px #CCC;
    -moz-box-shadow: 1px 2px 2px #CCC;
    box-shadow: 1px 2px 2px #CCC;
}
