{{#each badge_collections}}
    <div id="category-{{category}}" style="display: none;">
      <div class="badge-description-container">
        <div class="badge-description-content">
            {{category_description}}
        </div>
      </div>
      {{#if user_badges.length}}
      <div id="user-owned">
      <h2 style="display: block; margin-left: 10px;">Badges Earned</h2>
        {{#each user_badges}}
          {{> badge}}
        {{/each}}
        <div class="clear"></div>
      </div>
      {{/if}}
      <div id="all-badges">
        <h2 style="display: block; margin-left: 10px;">Possible Badges</h2>
        {{#each badges}}
          {{> badge}}
        {{/each}}
      </div>
      <div class="clear"></div>
    </div>
{{/each}}