{{#each badges}}
  {{#if emptyBadge}}
    <div class="achievement-badge empty">
      <div id="outline-box">
      EMPTY SLOT - replace with pretty asset
      </div>
    </div>
  {{else}}
    {{> badge-compact}}
  {{/if}}
{{/each}}

