<style>
  .exercise-row {
    padding-bottom: 10px;
  }

  .exercise-row:hover {
    background-color: #eee;
  }

  .fake-row span {
    height: 5px;
    display: inline-block;
  }

  .fake-row span.status span {
    text-transform: capitalize;
    padding-left: 8px;
    padding-bottom: 10px;
    font-weight: bold;
  }

  .left-column, .right-column {
    width: 300px;
    float: left;
  }

  .student-list {
    display: none;
  }

  .student-list td {
    padding-left: 5px;
  }

</style>
<div id="progress-summary-container">
  {{#each exercises}}
    <div class="exercise-row">
      <div class="left-column">
        {{#progressColumn side="left"}}
          {{> class-progress-column}}
        {{/progressColumn}}
      </div>

      <div class="right-column">
        {{#progressColumn side="right"}}
          {{> class-progress-column}}
        {{/progressColumn}}
      </div>

      <div style="clear: both;"></div>
    </div>
  {{/each}}
</div>
