<div id="coaches">
{{#if requests}}
<h2>New coaches are waiting</h2>

<p>These coaches have requested you as their student. <strong>If you accept them as your coach, they will have access to your Khan Academy data</strong>.</p>

<table>
{{#zebra requests "even-row" "odd-row"}}
    <tr class="{{zebraClassName}}">
        <td>{{email}}</td>
        <td><a href="" class="simple-button action-gradient">Accept coach</a></td>
        <td><a href="" class="simple-button action-gradient">Deny coach</a></td>
    </tr>
{{/zebra}}
</table>
{{/if}}

<h2 {{#if requests}}class="section-headline"{{/if}}>Add a coach</h2>
<p>
    Your coach will give you their coach id. Enter it here to give them access to your Khan Academy data.
</p>

<form action="/registercoach" method="post">
<input type="text" name="coach" class="blur-on-esc">
<input type="submit" value="Add coach" class="simple-button action-gradient">
</form>

<div{{#unless invalidCoach}} style="display: none;"{{/unless}}>
    <p><span style="color:red;font-weight:bold;">We can't find this coach.</span></p>
    <p style="padding-left:18px;">
        Make sure you're entering your full coach's full id, which is <em>case sensitive</em>. The coach id looks like <strong>teacher@gmail.com</strong> or <strong>http://facebookid.khanacademy.org/1067499349</strong>. If you're entering your coach id correctly and still having trouble, make sure your coach has logged in to the Khan Academy at least once.
    </p>
</div>

{{#if coaches}}
<h2 class="section-headline">Your coaches</h2>

<table>
{{#zebra coaches "even-row" "odd-row"}}
    <tr class="{{zebraClassName}}">
        <td>{{email}}</td>
        <td><a href="" class="simple-button action-gradient">Remove coach</a></td>
    </tr>
{{/zebra}}
</table>
{{/if}}

<h2 class="section-headline">Your Student ID</h2>
<p>If your coach asks for your student id, it is: asdfasdfasdf</p>
</div>
