<span class="email">{{email}}</span>
<span class="controls">
{{#if isCoachingLoggedInUser}}
    <span class="remove simple-button action-gradient">Remove coach</span>
{{else}}
    <span class="accept simple-button action-gradient">Accept request</span>
    <span class="deny simple-button action-gradient">Deny request</span>
{{/if}}
</span>
