<span class="email">{{email}}</span>
{{#if isCoach}}
    <a href="" class="simple-button action-gradient">Remove coach</a>
{{else}}
    {{#if isRequesting}}
        <a href="" class="simple-button action-gradient">Accept request</a>
        <a href="" class="simple-button action-gradient">Deny request</a>
    {{/if}}
{{/if}}
