<div class="empty-badge-picker">
<div style="font-size:180%">No badges...yet!</div>
Get some by watching some <a href="/#browse">videos</a> or doing some <a href="/exercisedashboard">exercises</a>.
</div>
