<div class="empty-badge-picker">
Looks like you haven't earned any badges, yet<br>
Let's go get some by watching some <a href="/#browse">videos</a> or doing some <a href="/exercisedashboard">exercises</a>!
</div>
