<style>
  #page_sub_nav {
    display: none;
  }
</style>

<div id="tabs">
    <ul>
        <li><a href="#tab-content-user-profile"><img src="/images/darth.png" /></a></li>
        <li><a href="#tab-content-vital-statistics">Vital Statistics</a></li>
        <li><a id="tab-achievements" href="#tab-content-achievements">Achievements</a></li>
        <li><a href="#tab-content-goals">Goals (beta)</a></li>
    </ul>
    <div id="tab-content-user-profile">
        <div class="user-info-container vertical-shadow"></div>
        <div style="clear: both;"></div>
    </div>
    <div id="tab-content-vital-statistics">
        {{> vital-statistics}}
    </div>
    <div id="tab-content-achievements"></div>

    <div id="tab-content-goals">
        <div id="profile-goals-content"></div>
    </div>
</div>
