<style>
  #page_sub_nav {
    display: none;
  }
</style>

<div>
    <ul>
        <li><a href="#">Darth</a></li>
        <li><a href="#vital-statistics">Vital statistics</a></li>
        <li><a href="#achievements">Achievements</a></li>
        <li><a href="#goals">Goals (beta)</a></li>
    </ul>
</div>

<div id="tabs">
    <div id="tab-content-user-profile">
        <div class="user-info-container vertical-shadow"></div>
        <div style="clear: both;"></div>
    </div>

    <div id="tab-content-vital-statistics">
        {{> vital-statistics}}
    </div>

    <div id="tab-content-achievements"></div>

    <div id="tab-content-goals">
        <div id="profile-goals-content"></div>
    </div>
</div>
