<style>
  #page_sub_nav {
    display: none;
  }
</style>

<menu class="profile-navigation">
    <ul class="vertical-tab-list">
        <li><a href="/profile" class="tab-link has-icon">Darth</a></li>
        <li class="inactive link-section-header">
            Vital statistics
            <ul class="vertical-tab-list second-tier">
                <li><a href="/profile/vital-statistics/activity" class="tab-link has-icon">Activity</a></li>
                <li><a href="/profile/vital-statistics/focus" class="tab-link has-icon">Focus</a></li>
                <li><a href="/profile/vital-statistics/exercise-progress" class="tab-link has-icon">Exercise Progress</a></li>
                <li><a href="/profile/vital-statistics/exercise-progress-over-time" class="tab-link has-icon">Progress Over Time</a></li>
            </ul>
        </li>
        <li><a href="/profile/achievements" class="tab-link has-icon">Achievements</a></li>
        <li><a href="/profile/goals" class="tab-link has-icon">Goals (beta)</a></li>
    </ul>
</menu>

<section class="tab-content">
    <div id="tab-content-user-profile">
        <div class="user-info-container vertical-shadow"></div>
        <div style="clear: both;"></div>
    </div>

    <div id="tab-content-vital-statistics">
        {{> vital-statistics}}
    </div>

    <div id="tab-content-achievements"></div>

    <div id="tab-content-goals">
        <div id="profile-goals-content"></div>
    </div>
</section>
