{{#if listRecentActivity.length}}
    <div id="activity-list">
        <ul>
            {{#each listRecentActivity}}
            <li>
                <span class="activity-image"><img src="{{toSrcIcon sType}}"></span>
                <div class="ach-text">
                    {{#toActivityText this}}{{/toActivityText}}
                    <br>
                    <span class="time timeago" title="{{dt}}">{{dt}}</span>

                    {{#unless mobileView}}
                        {{! sharing stuff goes here }}
                    {{/unless}}
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
{{else}}
    Recent <a href="/#browse">video</a>, <a href="/exercisedashboard">exercise</a>, and <a href="#achievements">badge</a> activity will show up here.
{{/if}}

