<h4 style="margin-top: 2em">Change password</h4>
<form id="pw-change-form" method="POST" action="{{secureUrlBase}}pwchange">
<table>
<tr>
    <td class="input-label-cell">Current password:</td>
    <td><input id="existing" name="existing" type="password" class="simple-input ui-corner-all"><span class="sidenote existing"></span></td>
</tr>
<tr>
    <td class="input-label-cell">New password:</td>
    <td><input id="password1" name="password1" type="password" class="simple-input ui-corner-all"><span class="sidenote password1"></span></td>
</tr>
<tr>
    <td class="input-label-cell">Re-type new password:</td>
    <td><input id="password2" name="password2" type="password" class="simple-input ui-corner-all"><span class="sidenote password2"></span></td>
</tr>
</table>

<input id="submit-settings" type="button" value="Change password" class="simple-button action-gradient green" style="margin-top: 1em;">
<input id="continue" name="continue" type="hidden">
</form>

