<h3>Exercises</h3>
{{! Arbitrarily categorizing the suggestions, for now. }}
{{#each exercises}}
    <p><a href="{{url}}">{{name}}</a></p>
{{/each}}

<h3>Videos</h3>
{{#each videos}}
{{/each}}

<h3>Goals</h3>
{{#each goals}}
{{/each}}
