<div class="username-picker">
    <div>
        <input type="text" value="{{nickname}}" placeholder="Full name" class="nickname">
    </div>
    <div>
        <input type="text" value="{{username}}" placeholder="Username" class="username">
        <span class="sidenote"></span>
    </div>
    <div>
        <p>Explanation stuff. English.</p>
        <p>Your Khan Academy URL:</p>
        <p>http://khanacademy.org/profile/<span class="example-username">{{username}}</span></p>
    </div>
    <div>
        <input id="save-profile-info" type="button" class="simple-button action-gradient" value="Save">
        <input id="cancel-profile-info" type="button" class="simple-button action-gradient" value="Cancel">
    </div>
</div>
