<div id="message-bar"></div>
<div>
    <label for="username">temp landgrab textfield:</label>
    <input type="text" value="{{username}}" id="username"
        placeholder="Enter username here" class="inline-editable nickname">
</div>