<div id="message-bar"></div>
<div>
    <p>Insightful text goes here. This will be a URL! You can change it!</p>
    <label for="username">http://khanacademy.org/profile/</label>
    <input type="text" value="{{username}}" id="username"
        placeholder="Enter username here" class="inline-editable nickname">
    <span class="sidenote"></span>
    <input id="claim-username" type="button" value="click me to save">
</div>
