{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Creating a classroom culture</h1>
	<hr>
	<p class="lead">Classrooms that embrace self-paced learning must cultivate a unique culture that allows students to feel comfortable moving at their own speed while taking ownership over their own learning.</p>
	
	<h3>We encourage teachers to redefine success in the following ways:</h3>
	
	<h5>Effort and responsibility</h5>
	<p>Various data reports make it easy for teachers and students to see how much time and effort has been put into learning a concept, whether through video, exercise, or both. KA makes it possible for students who are willing to work hard to demonstrate that. Because the opportunity to master a concept is always available on KA, we’ve seen students take responsibility over their own learning by suddenly filling in their gaps or moving on to the next concept on their own. We’ve seen teachers reward effort and responsibility verbally, visually, and through phone calls home.</p>
	
	<h5>Individual improvement</h5>
	<p>It is likely that students will be mastering various concepts at different speeds, so an emphasis on individual improvement will help all students stay invested in their own learning.  Goal setting is a great tool for this as it allows students to feel accomplished in mastering their individual goals regardless of the goals’ content.  Note: when individual improvement is prioritized above grade-based standards there may be ramifications (both positive and/or negative) for grade-based assessments.  For instance, students who spend more time filling in their gaps may not perform as well on immediate grade-based assessments but may ultimately become better in math as a result of building a strong foundation.</p>
	
	<h5>Social skills</h5>
	<p>KA creates opportunities for collaboration in the classroom through peer tutoring and group projects.  Teachers can use these opportunities to show students what it means to be a good peer tutor, how to ask good questions, how to be positive and supportive with peers, and how to collaborate well with others.</p>
	
	<h3>Strategies for cultivating a good classroom culture:</h3>
	
	<h5>Student or Class Contracts</h5>
	<p>We’ve seen teachers start the year with explicit student or class contracts.  Contracts can help establish norms, set expectations, and make sure everyone is on the same page. We’ve seen teachers provide student contracts that prompt a discussion; we’ve also seen teachers and students create a class contract together through a facilitated discussion.  We’ve been really impressed by classes that have the following norms:</p>
	<ul class="bullet">
		<li>We all learn concepts at different paces, and that’s okay</li>
		<li>We take responsibility for our own learning, and we try our best</li>
		<li>We help each other out. When another student in our class is having trouble with something that we already know, we’ll explain it to him or her. We won’t just give him or her the answer, though, because that won’t help him or her actually learn it. Instead, we’ll help guide him or her to truly learn it</li>
		<li><a href="#">See an actual example of a student contract here.</a></li>
	</ul>
	
	<h5>Presentations and discussions</h5>
	<p>Many teachers choose to start the school year or a blended unit with a candid conversation about what will be different and why they think those differences matter.  We’ve seen this conversation take place more formally through a presentation <a href="http://prezi.com/savnabakcjjt/copy-of-blended-learning-presentation-to-students/">(see an example of a presentation from Summit San Jose here)</a>, while other conversations have been more informal with teachers facilitating a conversation among students.  Questions to be covered in a conversation or a presentation could include:</p>
	<ul class="bullet">
		<li>Think about your previous math classes.  How might your experience be similar or different than another student in this math class?</li>
		<li>What are some advantages to using Khan Academy?</li>
		<li>What are some challenges we might face by using Khan Academy?  How can we meet those challenges?</li>
	</ul>
	
	<p><a href="{{base_url}}/keys-to-success" class="call-to-action simple-button action-gradient green">Next: Keys to success →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	

		<h3>Useful links</h3>
		<ul class="bullet">
			<li><a href="http://prezi.com/savnabakcjjt/copy-of-blended-learning-presentation-to-students/">Example presentation that invests students in blended learning from Summit San Jose</a></li>
			<li><a href="#">Example student contract from LASD</a></li>
		</ul>			
	
{% endblock col2content %}	
