{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Common questions</h1>
	<hr>
	
	<p class="lead">Before diving in, we'd like to provide a bit of context for terms and ideas we'll be using throughout the toolkit.</p>
	
	<h5>What’s an individualized classroom?</h5>
	<p>When we talk about individualized classrooms on this site, we’re describing</p>
	<ul class="bullet">
		<li>students who use Khan Academy to learn concepts deeply and to mastery <strong>at their own pace</strong></li>
		<li>teachers who develop collaborative classroom environments where <strong>students tutor one another, solve problems in groups,</strong> and tackle <strong>hands-on projects</strong> that help them better understand their world</li>
	</ul>
	<br>
	<br>	

	<h5>Teachers and administrators have lots of reasons for choosing Khan Academy. TODO: Hear their reasons in these videos (link to “why KA” videos)</h5>
	<br>
	<br>
	<br>

	<h5>What does it mean to be a Khan Academy classroom?</h5>
	<p>Every classroom is different, but Khan Academy classrooms share some common elements:</p>
	<ul class="bullet">
		<li><strong>Engagement:</strong> Khan Academy students are excited about the world around them and take ownership for learning about it. If they don’t understand a concept, they watch a video on it, ask a classmate or a teacher, or find another way to make sure they learn it.</li>
		<li><strong>Flexibility:</strong> Khan Academy is an ever-evolving site, and you can help shape it! Students, teachers, administrators, and parents who use Khan Academy are encouraged to share feedback with the KA team so we can make the site better for learners around the world. When planning how to use Khan Academy, keep in mind that we regularly add new videos, exercises, and features, which we hope you’ll be excited to integrate into your classroom</li>
	</ul>
	<br>
	<br>

	<h5>What is the role of the teacher in a Khan Academy classroom?</h5>
	<p>Teachers play a fundamental role in a Khan Academy classroom, where he/she can</p>
	<ul class="bullet">
		<li>guide students to set appropriate goals</li>
		<li>use Khan Academy data to identify struggling students, diagnose why they’re struggling, and help them overcome those challenges</li>
		<li>direct students to appropriate videos and other resources to learn or refresh their knowledge on various topics</li>
		<li>run small group and 1-on-1 sessions to teach or reinforce concepts</li>
		<li>create and administer meaningful projects to excite students about content and/or to reinforce knowledge</li>
		<li>teach students how to tutor their peers</li>
		<li>cultivate a positive and supportive learning environment</li>
		<li>determine when students are ready for exams</li>
		<li>design and administer exams</li>
		<li>flexibly adapt to meet the ever-changing needs of students</li>
	</ul>
	<br>
	<br>

	<h5>What is the role of the student in a Khan Academy classroom?</h5>
	<p>In a Khan Academy classroom, students take ownership for their learning and engage deeply with the material. Each student can</p>
	<ul class="bullet">	
		<li>set appropriate goals and work hard to achieve them</li>
		<li>try to help themselves when stuck by watching a video and/or taking hints</li>
		<li>help their peers understand concepts and don’t just give them the answer</li>
		<li>ask their peers or teacher for help if they’ve already tried to help themselves</li>
		<li>practice concepts after they’ve earned proficiency if they think they need the extra practice</li>
		<li>ask questions and continue to try to understand a concept until they’ve fully mastered it</li>
		<li>work hard</li>
		<li>regularly review concepts so they don’t forget them</li>
		<li>try to apply their knowledge to real-world problems</li>
		<li>recognize that everyone learns different concepts at a different pace</li>
		<li>learn at their own pace</li>
	</ul>
	
	<p><a href="{{base_url}}/setting-up-accounts" class="call-to-action simple-button action-gradient green">Next: Setting up accounts →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	

		<h3>Useful links</h3>
		<ul class="bullet">
			<li><a href="#">What type of computers should I get for my classroom?</a></li>
			<li><a href="#">How fast does my internet connection need to be to run Khan Academy?</a></li>
		</ul>			
	
{% endblock col2content %}	
