{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>First day / week / month</h1>
	<hr>
	
	<p class="lead">Everyone wants to have success early on. Here are some tips and tricks to do just that with Khan Academy.</p>
	
	<p>Take a look at the "Useful Links" section - we've included sample first week and first month plans. Here's what we've seen outstanding teachers do in their first few days with Khan Academy:</p>
	
	<h5>Introducing Khan Academy</h5>
	<p>Teachers can help invest students in KA by explaining how they are part of a bigger technology that is growing, and student participation is extremely important! Teachers can also explain how the technology is not perfect, and it is the job of teachers and students to help make it better. Students are encouraged to give us any kind of feedback and even write e-­‐mails to the KA team. Teachers can also explain how people on the KA team will be visiting their classrooms to see how students and teachers are engaging with KA.</p> 
	<p>In addition, teachers can use this time to set a tone of respect when using KA. It is important for students to understand that everyone learns differently and has different “swiss cheese holes.” There is no need to feel embarrassed about filling in these gaps, instead, the emphasis should be placed on meeting goals, regardless of what those specific goals may be.</p>	
	
	<h5>Using a journal / interactive notebook</h5>
	<p>Some teachers might find it useful to have a consistent source of documentation for each student, whether it’s a journal, notebook, binder, etc. This journal can be used to track exercises and videos students worked on, to record scratch work, and to keep track of qualitative goals (e.g., help a struggling student exlore a subject and obtain mastery) and progress.</p>	
	
	<h5>Rules for using technology</h5>
	<p>Each school has different rules and procedures concerning technology. We encourage teachers to start off the year explaining these rules and procedures and getting appropriate forms signed. Previous teachers have also used this as an opportunity to discuss social responsibility (e.g., responsibilities of e-mail accounts, difference between work e‐mail accounts and personal e‐mail accounts).</p>
	
	<p><a href="{{base_url}}/classroom-culture" class="call-to-action simple-button action-gradient green">Next: Classroom culture →</a></p>

{% endblock col1content %}	
		
{% block col2content %}	

		<h3>Useful links</h3>
		<ul class="bullet">
			<li><a href="#">TODO: Insert first week handout</a></li>
			<li><a href="#">TODO: Insert first month handout</a></li>
		</ul>			
	
{% endblock col2content %}	
