{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}

	<h1>How to use this toolkit</h1>
	<hr>
		
	<p class="lead">We put together this toolkit for teachers, administrators, parents, and students interested in using Khan Academy at their schools.</p> 
	
	<p>Khan Academy can be used in many wonderful and creative ways, and we’re always thrilled to hear about how it’s helping to enhance student learning. Depending on how you’re thinking of using Khan Academy, you may find different parts of the toolkit most useful. Please note that many of the suggestions in the toolkit come from classrooms currently piloting Khan Academy, and while they reflect our best knowledge of Khan Academy in classrooms to-date, other techniques may work better in your classroom. As you discover methods that work well for you, please <a href="mailto:implementations@khanacademy.org">share them with us</a>!</p> 

	<p><h4>TODO:</h4> {show image with 3 implementation phases}</p>

	<p><strong>Supplemental:</strong> If you’re interested in using Khan Academy as a supplemental resource (e.g., in a learning lab, as an optional or additional homework tool), check out our section on getting started and our FAQ</p>
	<p><strong>Integrated:</strong> In some of our pilots this year, we worked with teachers to develop ways for students to learn at their own pace while also getting through the full curriculum. If you’re interested in using Khan Academy in a similar manner, check out our sections on getting started, class time, and integrating Khan Academy & your curriculum. Many of the practices described in the class time section could also be used in non-self-paced classrooms</p>
	<p><strong>Future!:</strong> We’re really excited about working with teachers and administrators who want to challenge some of the basic assumptions in education to meet each student’s needs. The possibilities are endless, but some of the ideas we’re hoping to see:</p>
		<ul class="bullet">
			<li>Mixed-age classes</li>
			<li>Self-paced learning, even outside of grade-level standards (i.e., students could learn topics below or above grade level, depending on their needs)</li>
			<li>Significant use of real-world problem-solving and meaningful project-based learning</li>
			<li>Cross-disciplinary courses</li>
		</ul>

	<p>If you’re interested in using Khan Academy to do something like that, please contact us here.</p>

	<p><a href="{{base_url}}/toolkit-sections" class="call-to-action simple-button action-gradient green">Next: Toolkit sections →</a></p>


{% endblock col1content %}	
		
{% block col2content %}	

	<h3>Useful links</h3>
	<ul class="bullet">
		<li><a href="#">What type of computers should I get for my classroom?</a></li>
		<li><a href="#">How fast does my internet connection need to be to run Khan Academy?</a></li>
	</ul>			
	
{% endblock col2content %}	
