{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Six step process to integrate KA into your curriculum</h1>
	<hr>
	
	<p>In our pilot, some teachers used Khan Academy to create individualized units, in which students covered grade-level standards at their own pace. These teachers used the questions and worksheets that follow to plan these units, and we hope they’ll be a helpful starting point for other teachers interested in using Khan Academy in a similar manner.</p> 

	<h5>How should I use this section of the toolkit?</h5>
	<p>This section of the toolkit is structured around a 6-part framework. You can read a brief summary of each part of the framework below. Then, you can download worksheets and handouts that correspond to each of the 6 parts of the framework. Some of these worksheets are designed for you to use in your planning and have a “teacher” stamp at the top. Others are intended to be used as handouts for your students and have a “student” stamp at the top.</p> 
	<ol class="number">
		<li><strong>Which topics or standards will this unit cover?</strong><br>
			If you use the Common Core, you can look up the relevant Khan Academy videos and exercises by Common Core standard. If you think in terms of topics (e.g., fractions, linear equations), you can search for KA content by topic as well. Either way, laying out your standards or topics in this step will help you most efficiently find KA resources in the next steps.</li>

		<li><strong>Is every student ready for this unit?</strong><br>
			What concepts are prerequisites for this unit? For example, you may want your students to have mastered fractions before moving on to decimals. You can use the “progress summary” report to find out whether your students have mastered the prerequisite topics. If they all have, that’s wonderful! Move to step 3. If some students have not mastered the prerequisite topics, you might want to have them devote some time to mastering them before they move on. Meanwhile, students who are ready for the next unit can get started.</li>

	<li><strong>What assignments do all students need to do?</strong><br>
		Some teachers create this worksheet as a handout for their students. That way, their students know what they’re expected to learn and do in the unit, and they can work through the assignments at their own pace. Break the topics or standards into sub-topics (e.g., fractions could become “adding and subtracting fractions,” “multiplying fractions,” and “dividing fractions”). Enter in the KA videos and exercises that fit each sub-topic or standard. You may also want to add resources from your textbook, worksheets you like, or other sources.</li>

	<li><strong>How can students use goal-setting?</strong><br>
		You may want students to set a certain number of goals each week or to choose a combination of goals from the unit (i.e., anything on the assignment sheet you created in step 3) and personal goals (i.e., topics they haven’t fully mastered or would like to review, or more advanced topics). Make sure students know what types of goals they’re expected to set and how their progress will be measured.</li>

	<li><strong>What can I do to help students achieve their goals?</strong><br>
		How will you use data from Khan Academy (and other sources, as needed) to determine which students to help and with which topics throughout the unit? In this unit, are there certain topics for which you anticipate you’ll need to teach some small groups? Are you including a project in this unit? If so, will you teach the students who finish the unit assignments first how to do the project and have them teach their peers subsequently, or will you introduce the project in another way? Which data reports will you check each day?</li>

	<li><strong>How and when will I assess mastery?</strong><br>
		Will you give a unit test, or will you assess mastery in another way? Will you give quizzes throughout the unit? If you’re planning to give a unit test, will you administer it more than once if students progress through the content at different paces?</li>
	
	<p><a href="{{base_url}}/sample-unit-plans" class="call-to-action simple-button action-gradient green">Next: Sample unit plans  →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	

		<h3>Useful links</h3>
		<ul class="bullet">
			<li><a href="#">What type of computers should I get for my classroom?</a></li>
			<li><a href="#">How fast does my internet connection need to be to run Khan Academy?</a></li>
		</ul>			
	
{% endblock col2content %}	
