{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>KA classrooms</h1>
	<hr>
	
	<p class="lead">Khan Academy classrooms are most successful when they include flexible and engaged teachers and students.</p>
	

	<h5>What is the role of the teacher in a Khan Academy classroom?</h5>
	<p>In a self-paced classroom, teachers become masterminds who can interpret various streams of data and facilitate appropriate learning experiences as a result. Teachers can expect to… </p>
	<ul class="bullet">
		<li>use data to identify struggling students, diagnose why they’re struggling, and help them overcome those challenges</li>
		<li>teach small groups, hold 1-on-1 sessions, and facilitate collaborative projects</li>
		<li>direct students to specific videos and other resources to learn or refresh their knowledge</li>
		<li>determine when and how students are ready to be assessed</li>
		</ul>
	
	<h5>What is the role of the student in a Khan Academy classroom?</h5>
	<p>In a Khan Academy classroom, students take ownership for their learning and engage deeply with the material. Students</p>
	<ul class="bullet">	
		<li>take initiative when stuck by watching a video, taking hints, or asking a peer</li>
		<li>set appropriate goals and work hard to achieve them</li>
		<li>help peers understand concepts while respecting that everyone learns at different paces</li>
		<li>challenge themselves by applying their math skills to real-world problems and projects</li>
	</ul>

	<br>
	<br>

	
	<p><a href="{{base_url}}/setting-up-accounts" class="call-to-action simple-button action-gradient green">Next: Setting up accounts →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	

		<h3>Useful links</h3>
		<ul class="bullet">
			<li><a href="#">What type of computers should I get for my classroom?</a></li>
			<li><a href="#">How fast does my internet connection need to be to run Khan Academy?</a></li>
		</ul>			
	
{% endblock col2content %}	
