{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Why Khan Academy?</h1>
	<hr>
	
	<p class="lead">Khan Academy can help you create an engaging, dynamic classroom that meets the needs of every student.</p>
	

	<h5>Why should I use Khan Academy in my classroom?</h5>
	<p>With Khan Academy, you can meet all of your students' needs at once. Some of the features and strategies that make that possible:</p>
		<p><strong>Exercises and videos</strong>: KA generates an unlimited number of random questions for students to practice many topics, from arithmetic through calculus, so every student can work on content appropriate to his/her level. Students get automatic feedback and hints for each problem, and the system keeps track of students' progress. Since problems are randomly generated, students can't copy each other's homework (and you don't have to grade homework). Plus, with KA's 3000+ clear, concise videos, students can move ahead or relearn earlier concepts at their own pace.</p>
		<p><strong>Data</strong>: With KA, you have data about your students' progress available at your fingertips. Students can add their parents as coaches to give them access to their data too. You can get a snapshot of your class's progress on various topics, dive deep into each student's data to diagnose gaps in their knowledge, get a snapshot of your class's goals, and more. With this data, you always know who's struggling and who's proficient in each topic, so you can spend your time with the students who need your help most. <a href="using-data">Find out more</a>.</p>
		<p><strong>Student autonomy</strong>: Students can easily see what they've learned on KA and what other knowledge is out there, waiting to be learned. They can check out calculus if they're curious about it. They can go back and review fractions if they need to brush up. Since students have tons of resources at their fingertips, they're able to take control of their learning in really powerful and wonderful ways.</p>
		
	<h5>What challenges should I be prepared for before using KA in my classroom?</h5>
	<p>With KA, students can learn at their own pace, but you'll probably need extra prep time, and you may get a bit overwhelmed at the beginning.</p>
		<p><strong>Prep time</strong>: At first, you may need more prep time to review KA data and to adjust your planning accordingly. Once upside? You don't need to create minute-by-minute lesson plans.</p>
		<p><strong>Data</strong>: While the data available in KA is a big plus (and the key to making this all work), it can be overwhelming to have so much data at your fingertips. Teachers who've used KA successfully recommend investing some time upfront to get familiar with the data so that you're able to take advantage of it. <a href="using-data">Find out more</a>.</p>
		<p><strong>Chaos</strong>: Dynamic classrooms are exciting and energetic, with each student working on content appropriate to him or her. While it's incredibly powerful to have a small group seminar, peer tutoring, individual work, and projects happening simultaneously, it can also feel chaotic at first. You may want to ease your way in by starting with individual work and small groups, then introducing peer tutoring, and finally adding projects. The chaos is much easier to embrace when you realize that each student is engaged and truly learning.</p>
		
	
	<p><a href="{{base_url}}/setting-up-accounts" class="call-to-action simple-button action-gradient green">Next: Setting up accounts →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	

		<h3>Useful links</h3>
		<ul class="bullet">
			<li><a href="#">What type of computers should I get for my classroom?</a></li>
			<li><a href="#">How fast does my internet connection need to be to run Khan Academy?</a></li>
		</ul>			
	
{% endblock col2content %}	
