{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>KA classrooms</h1>
	<hr>
	
	<p class="lead">Khan Academy classrooms are most successful when they include flexible and engaged teachers and students.</p>
	

	<h5>What is the role of the teacher in a Khan Academy classroom?</h5>
	<p>Teachers play many fundamental roles in Khan Academy classrooms, where they</p>
	<ul class="bullet">
		<li>use Khan Academy data to identify struggling students, diagnose why they’re struggling, and help them overcome those challenges</li>
		<li>guide students to set appropriate goals</li>
		<li>direct students to appropriate videos and other resources to learn or refresh their knowledge on various topics</li>
		<li>run small group and 1-on-1 sessions to teach or reinforce concepts</li>
		<li>create and administer meaningful projects to excite students about content and/or to reinforce knowledge</li>
		<li>teach students how to tutor their peers</li>
		<li>cultivate a positive and supportive learning environment</li>
		<li>determine when students are ready for exams</li>
		<li>design and administer exams</li>
		<li>flexibly adapt to meet the ever-changing needs of students</li>
		<li>share content and product feedback with the KA team</li?>
		</ul>
	
	<h5>What is the role of the student in a Khan Academy classroom?</h5>
	<p>In a Khan Academy classroom, students take ownership for their learning and engage deeply with the material. Students</p>
	<ul class="bullet">	
		<li>set appropriate goals and work hard to achieve them</li>
		<li>try to help themselves when stuck by watching a video and/or taking hints</li>
		<li>help their peers understand concepts and don’t just give them the answer</li>
		<li>ask their peers or teacher for help if they’ve already tried to help themselves</li>
		<li>continue working on exercises after they’ve earned proficiency if they think they need the extra practice</li>
		<li>ask questions and continue to try to understand a concept until they’ve fully mastered it</li>
		<li>work hard</li>
		<li>regularly review concepts so they don’t forget them</li>
		<li>try to apply their knowledge to real-world problems</li>
		<li>recognize that everyone learns different concepts at different paces</li>
		<li>learn at their own pace</li>
	</ul>
	
	<h5>What roles do teachers and students play in individualized classrooms?</h5>
	<p>When we talk about individualized classrooms on this site, we’re describing classrooms in which</p>
	<ul class="bullet">
		<li>students use Khan Academy to learn concepts deeply and to mastery <strong>at their own pace</strong></li>
		<li>teachers develop collaborative classroom environments where <strong>students tutor one another, solve problems in groups,</strong> and tackle <strong>hands-on projects</strong> that help them better understand their world</li>
	</ul>	

	<br>
	<br>

	
	<p><a href="{{base_url}}/setting-up-accounts" class="call-to-action simple-button action-gradient green">Next: Setting up accounts →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	

		<h3>Useful links</h3>
		<ul class="bullet">
			<li><a href="#">What type of computers should I get for my classroom?</a></li>
			<li><a href="#">How fast does my internet connection need to be to run Khan Academy?</a></li>
		</ul>			
	
{% endblock col2content %}	
