{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Keys to success</h1>
	<hr>
	<p class="lead">Best practices to get your classroom up and running smoothly.</p>
	
	<h5>A dedicated notebook</h5>
	<p>A math or Khan Academy notebook can help students keep track of scratch work, video notes, goals, and other key info.</p>

	<h5>Goal setting</h5>
	<p>Although the requirements for setting personal goals will vary depending on teacher, classroom, and school, this is a hallmark of using KA.  For this reason, we suggest teaching students how to read their own data and how to set reasonable goals on their own.  This way, students become self-motivated and can have a conversation with their teachers during goal-setting sessions about their own progress. Download handouts on goal setting here.</p>

	<h5>Transparency and accountability</h5>
	<p>Within the first couple weeks of using KA, teachers and students should become familiar with the various reports and features of KA.  An explicit time should be devoted to sharing class reports with students so that they understand how their data is shared with coaches.  With this information, students are more likely to hold themselves accountable for their time spent on KA, and teachers can easily hold students accountable as well.</p>

	<h5>Peer tutoring</h5>
	<p>Since students finish exercises at different paces, classrooms can benefit tremendously from peer tutoring. Peer tutoring helps students who are acting as tutors confirm and deepen their understanding of a particular topic while helping students who are stuck get assistance when the teacher is occupied. For many classrooms, it will be essential to explicitly teach students how to be a good peer tutor to their peers.  This can include a brainstorming session of characteristics they would like in an excellent tutor (e.g. they don’t just tell me the answer, the ask me questions that guide me to the answer, they are encouraging and positive, etc.).  Teachers can easily use the progress summary report to pair students up with appropriate peer tutors.  We’ve also seen teachers post a board with two columns that say “I need help with…” and “I can help with…” to help facilitate peer tutoring.  See an example of a peer tutoring board here.</p>

	<h5>Active listening</h5>
	<p>In order to take full advantage of KA videos, it might be necessary to explicitly teach students how to watch a KA video.  This can be done in a variety of ways:</p>
	<ul class="bullet">
		<li>Teachers can model by watching a video on a higher concept and taking notes, stopping and replaying parts that are not clear, etc. so that students can observe the learning and note-taking process.</li>
		<li>Students can fill out a standard form whenever watching a video, see an example of a form here</li>
		<li>Students can pause a video after Sal introduces a problem, try the problem out in their math notebooks, then watch Sal complete the problem. Students then reflect on their initial and current understanding of the concept (may be used for particularly challenging concepts or on an occasional basis)</li>
		<li>Students can teach a concept in their own words or draw what their version of a given video would look like after watching a video</li>
	</ul>	

	<h5>Classroom space</h5>
	<p>Each classroom is unique in its layout, the number or students it holds, and the type of technology being used.  Regardless of these factors, we’ve seen teachers think very deliberately about how to maximize using space.  The following are questions and tips to consider when setting up your room.</p>
	<ul class="bullet">
		<li>Does the technology need to be charged during class?  How can outlets and extension cords be safely used while allowing for a purposeful seating arrangement?</li>
		<li>Consider designating certain parts of your room for teacher seminars, projects and peer tutoring, and silent individual work</li>
		<li>We’ve also seen teachers assign different parts of the room for students working on specific exercises.  This allows students to work together on the same exercise, and the teacher can easily move around the room and know exactly what concept he/she should be reinforcing.</li>
	</ul>	
	
	<p><a href="{{base_url}}/instructional-strategies" class="call-to-action simple-button action-gradient green">Next: Instructional strategies →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	

		<h3>Useful links</h3>
		<ul class="bullet">
			<li><a href="#">What type of computers should I get for my classroom?</a></li>
			<li><a href="#">How fast does my internet connection need to be to run Khan Academy?</a></li>
		</ul>			
	
{% endblock col2content %}	
