{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Technology</h1>
	<hr>
	<p class="lead">Khan Academy is ready to go with a sturdy internet connection and a modern web browser.</p>
	
	<p>Since beginning our work with schools in late 2010, we've seen a variety of different technology approaches to integrating Khan Academy. The most important things to have in place are accounts for logging in to KA, computers and devices, and internet connectivity.</p>
	
	<h5>Log-in / accounts</h5>
	<p>For a large number of accounts, we currently recommend Google Apps for Education (described in the <a href="/toolkit/setting-up-accounts">accounts section</a>). Google Apps for Education is the only way to register students under age 13 on Khan Academy (with appropriate parental consent).</p>
	<p>Today, for all users, we support Google and Facebook authentication; we do not have our own authentication service.</p>
	
	<h5>Computers and devices</h5>
	<p>Khan Academy runs entirely in your browser and there is no special software required to use the site. As such, any device that can run a modern internet browser can be used to access Khan Academy. In the schools we work with we have seen the whole gamut including laptops, Chromebooks, Netbooks, iPads, and other tablet devices.</p>
	<p>We recommend having a 1:1 student-to-computer ratio in the classroom at the time of use. Many schools often share laptop carts between classrooms. Also of note: we have seen some schools employ an open-access policy that permits students to bring in their own devices.</p>
	
	<h5>Internet connectivity</h5>
	<p>Classrooms should have adequate access-point availability and bandwidth:</p>
	<ul class="bullet">
		<li><strong>Access points</strong>
		A classroom full of simultaneous Khan Academy users should be capable of supporting that many simultaneous connections. So, in a class of 30 students who will be engaging with a Khan Academy session, the wireless would need to accomodate 30 simultaneous connections</li>
		<li><strong>Connection speed (bandwidth)</strong>
		Khan Academy requires a broadband connection (~1.5 Mbps for a single machine viewing standard definition video) to watch videos, practice using exercises, and view data</li>
	</ul>	
	
	
	<p><a href="{{base_url}}/navigating-the-site" class="call-to-action simple-button action-gradient green">Next: Navigating the site →</a></p>

{% endblock col1content %}	
		
{% block col2content %}	
<div class="callout">
		<h3>Useful links</h3>
		<ul class="bullet">
			<li><a href="http://khanacademy.desk.com/customer/portal/articles/414115-what-types-of-computers-devices-should-i-be-using-in-the-classroom-">What type of computers should I have in my classroom?</a></li>
			<li><a href="http://khanacademy.desk.com/customer/portal/articles/414132-which-browsers-are-supported-">Which browsers are supported?</a></li>
		</ul>			
</div>
{% endblock col2content %}	
