{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Toolkit sections</h1>
	<hr>
	<p class="lead">Here's a quick description of the 5 sections of the toolkit</p>
	<ul class="bullet">
		<li><strong>Choosing KA:</strong> Understand our vision for Khan Academy, identify ways to use Khan Academy, and figure out which sections of the toolkit are most relevant for you</li>
		<li><strong>Getting started:</strong> Decide which classes should use Khan Academy and figure out logistics.</li>
		<li><strong>Class time:</strong> Learn about teaching practices that have worked well with Khan Academy.</li>
		<li><strong>Individualized units:</strong> Download worksheets and get tips on how to create individualized units with Khan Academy.</li>
		<li><strong>FAQ:</strong> Read and add to our frequently-asked questions.</li>
	</ul>
	<p><a href="{{base_url}}/ka-classrooms" class="call-to-action simple-button action-gradient green">Next: KA classrooms →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	

		<h3>Useful links</h3>
		<ul class="bullet">
			<li><a href="#">What type of computers should I get for my classroom?</a></li>
			<li><a href="#">How fast does my internet connection need to be to run Khan Academy?</a></li>
		</ul>			
	
{% endblock col2content %}	
