{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Toolkit sections</h1>
	<hr>
	<p class="lead">Here's a quick description of the 5 sections of the toolkit</p>
	<ul class="bullet">
		<li><strong>Choosing Khan Academy:</strong> Use this section to understand our vision for Khan Academy, identify ways to use Khan Academy, and figure out which sections of the toolkit are most relevant for you</li>
		<li><strong>Getting started with Khan Academy:</strong> This section helps teachers and administrators make big upfront decisions, like which grades and classes should use Khan Academy, and it helps them sort through logistics, like which type of technology is needed and how to set up students’ accounts. Much of the info in this section will be useful to anyone using Khan Academy in a formal educational environment</li>
		<li><strong>Class time:</strong> This section focuses on teaching practices that have been effective with Khan Academy. It includes techniques that can be used in many types of Khan Academy classrooms and will be particularly relevant for teachers interested in using Khan Academy as an integral part of their teaching</li>
		<li><strong>Integrating Khan Academy and curriculum:</strong> This section offers guidelines, worksheets, and handouts for teachers interested in creating self-paced units with Khan Academy as a primary resource. The guidelines and handouts have been used successfully by teachers in Khan Academy pilots. This section will be most useful for teachers interested in enabling students to learn at their own pace while also covering the curriculum</li>
		<li><strong>FAQ:</strong> Check out our answers to frequently-asked questions about Khan Academy. Have a question? Ask it here! Have you figured out great ways to use Khan Academy that aren't mentioned in the toolkit? Create a question and answer it in the FAQ, or add to one of our answers.</li>
	</ul>
	<p><a href="{{base_url}}/ka-classrooms" class="call-to-action simple-button action-gradient green">Next: KA classrooms →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	

		<h3>Useful links</h3>
		<ul class="bullet">
			<li><a href="#">What type of computers should I get for my classroom?</a></li>
			<li><a href="#">How fast does my internet connection need to be to run Khan Academy?</a></li>
		</ul>			
	
{% endblock col2content %}	
