{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Using data</h1>
	<hr>
	
	<p>Content goes here.</p>
	
	<p><a href="{{base_url}}/six-step-process" class="call-to-action simple-button action-gradient green">Next: 6 step process to integrate KA into your curriculum  →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	

		<h3>Useful links</h3>
		<ul class="bullet">
			<li><a href="#">What type of computers should I get for my classroom?</a></li>
			<li><a href="#">How fast does my internet connection need to be to run Khan Academy?</a></li>
		</ul>			
	
{% endblock col2content %}	
