{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Using data</h1>
	<hr>
	
	<p class="lead">How can data translate into classroom practices?  Click on the report to see how the data can be used in your classroom.</p>
	
	<p><small>Just in case: If you’re not already familiar with each KA report and feature, <a href="http://www.youtube.com/watch?feature=player_embedded&v=DLt6mMQH1OY">check out this nifty video</a>.</small></p>
	
	<img src="/images/toolkit/progress-summary.png" />
	
	<h5>Progress Summary</h5>
	<br>
	<ul class="bullet">
		<li><strong>During class:</strong> use the filtering ability to hone in on a specific exercise.  Using the student data, assign peer tutors, hold a small group seminar, or directly tutor an individual.</li>
		<li><strong>The night or week before:</strong> check to see if there are specific exercises that groups of students might need help with and prepare to teach small group seminars in those exercises; set class goals based on this data (ex. By the end of this week, I want everyone to move from the unstarted column to the proficient column)</li>
		<li><strong>Weeks before the next unit:</strong> use the filter to look up exercises in the upcoming unit.  Use the student data to determine which students need to focus on which concepts.</li>
	</ul>
	
	<p><strong>Rest of content goes here.</strong></p>
	
	<!-- TODO(Matt): Add in rest of content -->
	
	<p><a href="{{base_url}}/six-step-process" class="call-to-action simple-button action-gradient green">Next: 6 step process to integrate KA into your curriculum  →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	

		<h3>Useful links</h3>
		<ul class="bullet">
			<li><a href="#">What type of computers should I get for my classroom?</a></li>
			<li><a href="#">How fast does my internet connection need to be to run Khan Academy?</a></li>
		</ul>			
	
{% endblock col2content %}	
