{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Using data</h1>
	<hr>
	
	<p class="lead">How can data translate into classroom practices? Find suggestions that correspond to specific reports below.</p>
	
	<h5>Progress Summary</h5>
	<br>
	<ul class="bullet">
		<li><strong>During class:</strong> use the filtering ability to hone in on a specific exercise.  Using the student data, assign peer tutors, hold a small group seminar, or directly tutor an individual</li>
		<li><strong>The night or week before:</strong> check to see if there are specific exercises that groups of students might need help with and prepare to teach small group seminars in those exercises; set class goals based on this data (ex. By the end of this week, I want everyone to move from the unstarted column to the proficient column)</li>
		<li><strong>Weeks before the next unit:</strong> use the filter to look up exercises in the upcoming unit.  Use the student data to determine which students need to focus on which concepts</li>
	</ul>
	
	<h5>Daily Activity Report</h5>
	<br>
	<ul class="bullet">
		<li><strong>During class:</strong> measure how engaged and on-task students are; you can even project this report to the class for a level of transparency</li>
		<li><strong>Participation/Homework grades:</strong> if you are assigning a certain amount of time to be spent on KA per week, this report gives a rough approximation of how much time in and out of class students spend on KA</li>
	</ul>
	
	<h5>Class Goals Report</h5>
	<br>
	<ul class="bullet">
		<li><strong>During class:</strong> use the filtering ability to determine which students are struggling with their goals.  Focus attention on those students by assigning a peer tutor, leading a small group, or directly tutoring the student</li>
		<li><strong>The night or week before:</strong> check to see if there are specific exercises that groups of students might need help with and prepare to teach small group seminars in those exercises; set class goals based on this data (ex. By the end of this week, I want everyone to have reached 4 or more goals)</li>
		<li><strong>Weeks before the next unit:</strong> if students are ready, have students set goals based on the next unit to gauge how prepared they will be</li>
	</ul>
	
	<h5>Class Statistics</h5>
	<br>
	<ul class="bullet">
		<li><strong>Lesson planning:</strong> use this report to quickly see how the majority of students are doing within a particular exercise or use the filters to see where your class is struggling</li>
		<li><strong>Individual Attention:</strong> use the filtering abilities to check on specific students to see how they have been progressing on overall, what they have been working on in the past couple days, and what they are struggling with</li>
	</ul>
	
	<h5>Student Activity Report</h5>
	<br>
	<ul class="bullet">
		<li><strong>Individual Attention:</strong> use when you want to take a closer look at how an individual student is doing to see how much time was spent on KA and how that time was used over a day, week, or month.  This data can help facilitate conversations around work ethic, recognition and accomplishments, and more</li>
	</ul>
	
	<h5>Student Exercise Problems</h5>
	<br>
	<ul class="bullet">
		<li><strong>Individual Attention:</strong> use when trying to diagnose a specific challenge that a student is having with an exercise.  All bars represent questions, and clicking on any individual one allows you to see the answers and hints taken by the student</li>
	</ul>
	
	<h5>Student Focus Report</h5>
	<br>
	<ul class="bullet">
		<li><strong>Individual Attention:</strong> use when trying to grasp how students are spending their time over a day, week, or month.  This report can quickly show how students spend the majority of their time, which enables teachers to see if students are on task, struggling, or ready to move forward</li>
	</ul>
	
	
	<p><strong>Rest of content goes here.</strong></p>
	
	<!-- TODO(Matt): Add in rest of content -->
	
	<p><a href="/coach/demo" class="call-to-action simple-button action-gradient green">Next: Demo  →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	

		<h3>Useful links</h3>
		<ul class="bullet">
			<li><a href="http://www.youtube.com/watch?feature=player_embedded&v=DLt6mMQH1OY">A quick video that covers all features and data reports of Khan Academy</a></li>
			<li><a href="#">How fast does my internet connection need to be to run Khan Academy?</a></li>
		</ul>	
		
	
{% endblock col2content %}	
