{% extends "about/about_template.html" %}

{% block pagescript %}
{{ js_css_packages.css_package("about") }}

<style>

h2.stories-header {
    margin-top: 18px;
    padding-bottom: 18px;
}

.story {
    float: left;
    padding: 18px;
    position: relative;
    height: 204px;
    cursor: pointer;

    -webkit-transition: -webkit-transform .3s ease-in-out;
}

.story .envelope {
    position: absolute;
    top: 0px;
}

.story .more-overlay {
    position: absolute;
    top: 75%;
    left: 80px;
    width: 140px;
    padding: 4px 0px;
    text-align: center;
    background: white;
    opacity: 0.0;
    filter:alpha(opacity=85);

    -webkit-transition: opacity .3s ease-in-out;
}
.story:hover .more-overlay {
    opacity: 0.85;
    filter:alpha(opacity=85);
}
.story.content-teaser-show .more-overlay {
    opacity: 0.0;
    filter:alpha(opacity=85);
}

h3.story-author {
    margin-bottom: 0;
}

h3.story-title .extra-story-title {
    color: #555;
    font-size: 16px;
}

.story.envelope-1 {
    width: 300px;
}
.story.envelope-1 .content-teaser {
    background: url('/images/stories/stationary-1.png') no-repeat top right;
    padding: 20px 9px 9px 9px;
    height: 125px;
    width: 259px;
}
.story.envelope-1 .envelope {
    width: 300px;
    height: 204px;
}
.story.envelope-1 .envelope-background {
    background: url('/images/stories/envelope-1-back-background.png') no-repeat;
}
.story.envelope-1 .envelope-foreground {
    background: url('/images/stories/envelope-1-back-foreground.png') no-repeat;
}

.story.envelope-2 {
    width: 300px;
}
.story.envelope-2 .content-teaser {
    padding: 20px 9px 9px 9px;
    height: 125px;
    width: 252px;

    background: #C0E3FF;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 2px 2px 3px rgba(204, 204, 204, 0.6);
}
.story.envelope-2 .envelope {
    width: 300px;
    height: 196px;
}
.story.envelope-2 .envelope-background {
    background: url('/images/stories/envelope-2-back-background.png') no-repeat;
}
.story.envelope-2 .envelope-foreground {
    background: url('/images/stories/envelope-2-back-foreground.png') no-repeat;
}




.story.rotate:hover {
    -webkit-transform: rotate(0deg);
}

.story.rotate-neg-7 {
    -webkit-transform: rotate(-7deg);
}
.story.rotate-neg-7 .content-teaser {
    -webkit-transform: rotate(7deg);
}
.story.rotate-neg-7:hover .content-teaser {
    -webkit-transform: rotate(0deg) translateY(-24px);
}

.story.rotate-5 {
    -webkit-transform: rotate(5deg);
}
.story.rotate-5 .content-teaser {
    -webkit-transform: rotate(-5deg);
}
.story.rotate-5:hover .content-teaser {
    -webkit-transform: rotate(0deg) translateY(-24px);
}

@-webkit-keyframes letter-show {
    6% { -webkit-transform: rotate(0deg) translateY(-24px); }
    12% { -webkit-transform: rotate(2deg) translateY(-24px); }
    18% { -webkit-transform: rotate(-2deg) translateY(-24px); }
    70% { -webkit-transform: rotate(0deg) translateY(-80px); }
    71% { -webkit-transform: rotate(0deg) translateY(-80px); }
    100% { opacity: 0; }
}

.story.content-teaser-show .content-teaser,
.story.content-teaser-show:hover .content-teaser {
    -webkit-animation: letter-show 0.65s ease-in-out 0s 1 normal;
}

.story.content-teaser-hide .content-teaser {
    opacity: 0;
    -webkit-transition: -webkit-transform .3s ease-in-out;
}

.story.content-teaser-show,
.story.content-teaser-hide {
    -webkit-transform: rotate(0deg);
}

.story .content-teaser {
    position: absolute;
    overflow: hidden;

    font-size: 16px;
    margin: 12px;

    -webkit-transition: -webkit-transform .3s ease-in-out;
} 

.story .content-teaser .youtube-thumbnail-container {
    text-align: center;
}

.story .content-teaser .youtube-thumbnail {
    max-width: 210px;
}

.story .content-teaser .youtube-thumbnail-title {
    position: absolute;
    top: 20px;
    left: 34px;
    padding: 2px 6px;
    width: 198px;
    font-size: 14px;
    color: white;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.5 opacity */
    background: rgba(0, 0, 0, 0.5);
}

.story .content-teaser .youtube-thumbnail-play {
    position: absolute;
    top: 64px;
    left: 86px;
}

</style>

{% endblock pagescript %}

{% block aboutcontent %}

<h2 class="stories-header">
    These are all real stories from Khan Academy users.<br><br>
    They are completely unedited.<br><br>
    <a href="#">Share yours</a>.
</h2>

<div id="stories"></div>

{% endblock aboutcontent %}

{% block bottompagescript %}

{{ js_css_packages.js_package("about") }}

<script>
    Stories.render({
        target: "#stories",
        content: [
            {% for story in stories %}
            {
                {% if story.youtube_id %}
                "youtube_id": "{{ story.youtube_id }}",
                "youtube_title": "{{ story.youtube_title }}",
                {% else %}
                "teaser_html": "{{ story.teaser|strip|escapejs|linebreaksbr_js }}",
                "content_html": "{{ story.content|strip|escapejs|linebreaksbr_js }}",
                {% endif %}
                "date": "{{ story.date|strip|escapejs }}",
                "author": "{{ story.author|strip|escapejs }}",
            }{% if not loop.last %},{%endif%}
            {% endfor %}
        ]
    });
</script>

{% endblock bottompagescript %}
