{% extends "about/about_template.html" %}

{% block pagescript %}
{{ js_css_packages.css_package("about") }}

<style>

.story {
    float: left;
    width: 300px;
    height: 204px;
    padding: 18px;
    cursor: pointer;
    position: relative;

    -webkit-transition: all .2s ease-in-out;
}

h3.story-author {
    margin-bottom: 0;
}

.story.rotate:hover {
    -webkit-transform: rotate(0deg);
}

.story.rotate-neg-7 {
    -webkit-transform: rotate(-7deg);
}
.story.rotate-neg-7 .content-teaser {
    -webkit-transform: rotate(-8deg);
}
.story.rotate-neg-7:hover .content-teaser {
    -webkit-animation: rotate-neg-7-peek .4s ease-in-out 0s 1 normal;
    -webkit-transform: rotate(4deg) translateY(-24px);
}
@-webkit-keyframes rotate-neg-7-peek {
    0% { -webkit-transform: rotate(-8deg); }
    30% { -webkit-transform: rotate(-1deg); }
    100% { -webkit-transform: rotate(4deg) translateY(-24px); }
}

.story.rotate-5 {
    -webkit-transform: rotate(5deg);
}
.story.rotate-5 .content-teaser {
    -webkit-transform: rotate(6deg);
}
.story.rotate-5:hover .content-teaser {
    -webkit-animation: rotate-5-peek .4s ease-in-out 0s 1 normal;
    -webkit-transform: rotate(-6deg) translateY(-24px);
}
@-webkit-keyframes rotate-5-peek {
    0% { -webkit-transform: rotate(6deg); }
    30% { -webkit-transform: rotate(-1deg); }
    100% { -webkit-transform: rotate(-6deg) translateY(-24px); }
}

@-webkit-keyframes letter-show {
    6% { -webkit-transform: rotate(0deg) translateY(-24px); }
    12% { -webkit-transform: rotate(2deg) translateY(-24px); }
    18% { -webkit-transform: rotate(-2deg) translateY(-24px); }
    70% { -webkit-transform: rotate(0deg) translateY(-80px); }
    71% { -webkit-transform: rotate(0deg) translateY(-80px); }
    100% { opacity: 0; }
}

.story.content-teaser-show .content-teaser,
.story.content-teaser-show:hover .content-teaser {
    -webkit-animation: letter-show 0.65s ease-in-out 0s 1 normal;
}

.story.content-teaser-hide .content-teaser {
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
}

.story.content-teaser-show,
.story.content-teaser-hide {
    -webkit-transform: rotate(0deg);
}

.story .content-teaser {
    margin: 12px;
    padding: 20px 9px 9px 9px;
    background: url('/images/stories/stationary.png') no-repeat top right;
    height: 125px;
    font-size: 16px;
    position: absolute;
    overflow: hidden;

    -webkit-border-radius: 3px;

    -webkit-transition: all .5s ease-in-out;
} 

.story .envelope-background {
    width: 300px;
    height: 204px;
    position: absolute;
    top: 0px;
    background: url('/images/stories/envelope-1-back-background.png') no-repeat;
}

.story .envelope-foreground {
    width: 300px;
    height: 204px;
    position: absolute;
    top: 0px;
    background: url('/images/stories/envelope-1-back-foreground.png') no-repeat;
}

</style>

{% endblock pagescript %}

{% block aboutcontent %}

<h1>Stories</h1>

<div id="stories"></div>

{% endblock aboutcontent %}

{% block bottompagescript %}

{{ js_css_packages.js_package("about") }}

<script>
    Stories.render({
        target: "#stories",
        content: [
            {% for story in stories %}
            {
                "teaser_html": "{{ story.teaser|strip|escapejs|linebreaksbr_js }}",
                "content_html": "{{ story.content|strip|escapejs|linebreaksbr_js }}",
                "date": "{{ story.date|strip|escapejs }}",
                "author": "{{ story.author|strip|escapejs }}",
            }{% if not loop.last %},{%endif%}
            {% endfor %}
        ]
    });
</script>

{% endblock bottompagescript %}
