<div class="story rotate">
    <div class="envelope envelope-background">
        <div class="content-teaser">
            &ldquo;{{{ teaser_html }}}&hellip;&rdquo;
        </div>
        <div class="envelope envelope-foreground">&nbsp;</div>
        <div class="more-overlay">Read more</div>
    </div>
</div>
