<div class="story">
    <div class="envelope-background">
        <div class="content-teaser">
            "{{{ teaser }}}&hellip;"
        </div>
        <div class="envelope-foreground">&nbsp;</div>
    </div>
</div>
