<div>
  <div data-role="header" class="main-header">
    <p class='topic-desc'>{{ topic.description }}</p>
    <a href="/#browse" data-tag="Topic Home C2A" class="call-to-action simple-button action-gradient green">Watch {{ marqueeVideo.title }}</a>
  </div>
</div>
