{% extends "page_template.html" %}

{% block meta_page_title %}{{ title|escape }} | {% endblock meta_page_title %}
{% block meta_description %}Practice {{ title|lower|escape }} with Khan Academy's free online exercises.{% endblock %}

{% block pagecss %}

<style>#page_sub_nav {display: none;}</style>

{{ js_css_packages.css_package("exercises") }}
{{ js_css_packages.css_package("exercise-content") }}
{{ js_css_packages.css_package("video") }}

{% endblock pagecss %}

{% block pagecontent %}
<div id="container" class="exercises-content-container visited-no-recolor" style="overflow:hidden"></div>
{% endblock pagecontent %}

{% block bottompagescript %}

{{ super() }}

{{ js_css_packages.js_package("exercises") }}
{{ js_css_packages.js_package("exercise-content") }}
{{ js_css_packages.js_package("video") }}

<script>
    Exercises.init({
        topic: {{ topic_json }},
        exercise: {{ exercise_json }},
        userData: {{ user_data_json }},
        userExercises: {{ user_exercises_json }},
        incompleteStack: {{ stack_json }},
        reviewMode: {{ review_mode_json }},
        practiceMode: {{ practice_mode_json }}
    });

    $(function() {
        Exercises.render();
    });
</script>

{% endblock bottompagescript %}
