{% extends "page_template.html" %}

{% block meta_page_title %}<!-- TODO(kamens) -->{% endblock meta_page_title %}
{% block meta_description %}<!-- TODO(kamens) -->{% endblock %}

{% block pagecss %}

<style>#page_sub_nav {display: none;}</style>

{{ js_css_packages.css_package("exercises") }}
{{ js_css_packages.css_package("exercise-content") }}
{{ js_css_packages.css_package("video") }}

{% endblock pagecss %}

{% block pagecontent %}
<div id="container" class="exercises-content-container visited-no-recolor" style="overflow:hidden"></div>
{% endblock pagecontent %}

{% block bottompagescript %}

{{ super() }}

{{ js_css_packages.js_package("exercises") }}
{{ js_css_packages.js_package("exercise-content") }}
{{ js_css_packages.js_package("video") }}

<script>
    Exercises.init({
        userTopic: {
            /* TODO(kamens): need to send down real userTopic info
            and figure out what's being sent for review mode */
            name: "someUserTopicName" + {{ review_mode_json }},
            user: "someUser"
        },
        userExercises: {{ user_exercises_json }},
        incompleteStack: {{ stack_json }},
        reviewMode: {{ review_mode_json }}
    });

    $(function() {
        Exercises.render();
    });
</script>

{% endblock bottompagescript %}
