{% extends "page_template.html" %}

{% block meta_page_title %}<!-- TODO(kamens) -->{% endblock meta_page_title %}
{% block meta_description %}<!-- TODO(kamens) -->{% endblock %}

{% block pagecss %}

<style>#page_sub_nav {display: none;}</style>

{{ js_css_packages.css_package("exercises") }}
{{ js_css_packages.css_package("exercise-content") }}
{{ js_css_packages.css_package("video") }}

{% endblock pagecss %}

{% block pagescript %}

<script>
    // TODO(kamens): userExercise should be handled differently now
    var userExercise = {{ user_exercise_json }};
</script>

{% endblock pagescript %}

{% block pagecontent %}
<div id="container" class="exercises-content-container visited-no-recolor" style="overflow:hidden"></div>
{% endblock pagecontent %}

{% block bottompagescript %}

{{ super() }}

{{ js_css_packages.js_package("exercises") }}
{{ js_css_packages.js_package("exercise-content") }}
{{ js_css_packages.js_package("video") }}

<script>
    Exercises.init({
        initialExercises: {{ initial_exercises_json }},
        userTopic: {
            /* TODO(kamens): this init data is faked -- need real data model here like crazzzyyyyyyy */
            incompleteStack: {{ stack_json }},
            completeStack: []
        }
    });

    $(function() {
        Exercises.render();
    });
</script>

{% endblock bottompagescript %}
