{% extends "page_template.html" %}

{% block meta_page_title %}<!-- TODO(kamens) -->{% endblock meta_page_title %}
{% block meta_description %}<!-- TODO(kamens) -->{% endblock %}

{% block pagecss %}
<!-- TODO(kamens) -->
{% endblock pagecss %}

{% block pagecontent %}
<div id="container" class="single-exercise visited-no-recolor" style="overflow: hidden">

    {{ exercise_body_html }}
    {{ exercise_template_html }}

</div>
{% endblock pagecontent %}

{% block bottompagescript %}
<!-- TODO(kamens) -->
{% endblock bottompagescript %}

