{% extends "page_template.html" %}

{% block meta_page_title %}<!-- TODO(kamens) -->{% endblock meta_page_title %}
{% block meta_description %}<!-- TODO(kamens) -->{% endblock %}

{% block pagecss %}
<!-- TODO(kamens) -->
{% endblock pagecss %}

{% block pagecontent %}
<div id="container" class="exercises-content-container visited-no-recolor" style="overflow: hidden">

</div>
{% endblock pagecontent %}

{% block bottompagescript %}
{{ super() }}

{{ js_css_packages.js_package("exercises") }}

<script>
    $(function() {
        Exercises.init({ /* TODO(kamens): useful init data here like crazzyyyyyyy */ });
    });
</script>

{% endblock bottompagescript %}
