{% extends "page_template.html" %}

{% block meta_page_title %}<!-- TODO(kamens) -->{% endblock meta_page_title %}
{% block meta_description %}<!-- TODO(kamens) -->{% endblock %}

{% block pagecss %}
<!-- TODO(kamens) -->
{% endblock pagecss %}

{% block pagecontent %}
<div id="container" class="exercises-content-container visited-no-recolor" style="overflow: hidden"></div>
{% endblock pagecontent %}

{% block bottompagescript %}
{{ super() }}

{{ js_css_packages.js_package("exercises") }}

<script>
    $(function() {
        Exercises.init({
            exercise: {{ exercise_json }},
            userTopic: {
                /* TODO(kamens): this init data is faked -- need real data model here like crazzyyyyyyy */
                incompleteStack: {
                    cards: [
                        // TODO(kamens): card structure will need all sorts of other data (leaves, type:"problem", type:"unknown", etc)
                        { exid: "exercise.name|escapejs" },
                        { exid: "exercise.name|escapejs" },
                        { exid: "exercise.name|escapejs" }
                    ]
                },
                completeStack: {
                    cards: [
                        { exid: "exercise.name|escapejs" },
                        { exid: "exercise.name|escapejs" },
                        { exid: "exercise.name|escapejs" },
                        { exid: "exercise.name|escapejs" },
                        { exid: "exercise.name|escapejs" },
                        { exid: "exercise.name|escapejs" },
                        { exid: "exercise.name|escapejs" }
                    ]
                }
            }
        });
    });
</script>

{% endblock bottompagescript %}
