
/* TODO(Jason/kamens): this transition animation is just a placeholder, CSS is
 * totally hacked together, needs matching vendor prefixes everywhere, etc
 */

.stack {

}

.current-card-container-inner {
    border: 1px solid silver;
    background-color: #F8F8F8;
}

.current-card-container,
.current-card-container-inner {
    -webkit-transition: all 0.18s ease-in-out;
    -moz-transition: all 0.18s ease-in-out;
}

.current-card.notransition .current-card-container,
.current-card.notransition .current-card-container-inner {
    /* For temporarily disabling transitions.
     * See http://stackoverflow.com/questions/6634470/disable-turn-off-inherited-css3-transitions
     */
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}

/* TODO(kamens/jason): all of these animation bits are experimental and
 * webkit-only atm */
@-webkit-keyframes translate-center-to-ur {
    0% { -webkit-transform: translate(0px, 0px); }
    85% { -webkit-transform: translate(500px, -200px); }
    100% { -webkit-transform: translate(500px, -200px); }
}

@-webkit-keyframes shrink-right-and-fade {
    0% { -webkit-transform: scale(1.0); }
    85% { opacity: 1.0; -webkit-transform: scale(0.1); }
    100% { opacity: 0.0; -webkit-transform: scale(0.1); }
}

.current-card.shrinkRight .current-card-container {
    -webkit-animation: translate-center-to-ur 0.18s ease-in-out 0s 1 forwards normal;
}
.current-card.shrinkRight .current-card-container-inner {
    -webkit-animation: shrink-right-and-fade 0.18s ease-in-out 0s 1 forwards normal;
}

.current-card.shrinkLeft .current-card-container {
    -webkit-transform: translate(-500px, -240px);
}
.current-card.shrinkLeft .current-card-container-inner {
    -webkit-transform: scale(0.1);
    opacity: 0.0;
}

.stack .card {
    width: 25px;
    height: 40px;
    border: 1px solid #bbb;
    margin: 0 auto;

    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transform-style: preserve-3d;
    -moz-transition: all 0.3s ease-in-out;

    box-shadow: 0 0 3px #ccc;
}

.stack .card-container {
    position: relative;
    margin-bottom: -5px;
    z-index: 1;

    -webkit-perspective: 1000;
}

.stack .card-container.flipped .card {
    -webkit-transform: rotateY(-180deg) scale(4.0);
    -webkit-box-shadow: -5px 5px 5px #aaa;
    -moz-transform: rotateY(-180deg);
    -moz-box-shadow: -5px 5px 5px #aaa;
}

.stack .card .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    /*-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;*/
}
.stack .card-face.card-front {
    background: #fff;
}
.stack .card-face.card-back {
    display: none;
}

.stack .card-face.card-back {
    display: block;
    color: white;
    text-align: center;
    background-color: #aaa;

    -webkit-box-sizing: border-box;
    -webkit-transform: rotateY(180deg);
    -moz-box-sizing: border-box;
    -moz-transform: rotateY(180deg);
}
.stack .card-face.card-back {
    -webkit-box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #cfcfcf;
    -moz-box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #cfcfcf;
    box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #cfcfcf;

    background-color: #ccc;
}

.exercises-stack,
.exercises-card {
    float: left;
    width: 5%;

    /* margin-bottom: -9999px;
    padding-bottom: 9999px; */

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.exercises-card {
    width: 90%;
}

.current-card {
    position: relative;
}

.current-card #answer_area_wrap {
    margin: 10px -8px 0 0;
}

.current-card #answer_area .info-box {
    overflow: visible;
}
.current-card .info-box:before {
    content: " ";
    display: block;

    border-right: 7px solid transparent;
    border-bottom: 8px solid #ccc;

    width: 0;
    height: 15px;

    position: absolute;
    right: -1px;
    top: -24px;
}

.current-card .exercise_message {
    display: none; /* TODO(kamens/jason): currently hiding all proficient/struggling/review messages */
}

.leaves-container {
    margin: 15px -8px 0 0;
    float: right;
    width: 25%;
    overflow: visible;
}
.current-card .leaves .leaf,
.stack .leaves .leaf {
    width: 25px;
    height: 25px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;

    border-radius: 25px;
    line-height: 25px;
    text-align: center;

    box-sizing: border-box;
}
.stack .leaves .leaf {
    width: 5px;
    height: 5px;
    color: transparent;
}
.leaves .leaf.available {
    
}
.leaves .leaf.unavailable {
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter:alpha(opacity=50);
}
.leaves .leaf.earned {
    background-color: green;
    color: #fff;
}
.stack .leaves .leaf.earned {
    color: transparent;
}
