
/* TODO(Jason/kamens): this transition animation is just a placeholder, CSS is
 * totally hacked together, needs matching vendor prefixes everywhere, etc
 */

.stack {
    width: 30px;
}

.current-card-container-inner {
    border: 1px solid silver;
    background-color: #F8F8F8;

    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}

.current-card-container,
.current-card-container-inner {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.current-card-container.shrinkLeft {
    -webkit-transform: translate(-500px, -200px);
}
.current-card-container.shrinkRight {
    -webkit-transform: translate(500px, -200px);
}

.current-card-container.shrinkLeft .current-card-container-inner,
.current-card-container.shrinkRight .current-card-container-inner {
    -webkit-transform: scale(0.1);
    opacity: 0.0;
}

.stack .card {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    border: 1px solid black;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transform-style: preserve-3d;
    -moz-transition: all 0.3s ease-in-out;
}

.stack .card-container {
    width: 25px;
    height: 25px;
    padding: 4px;
    z-index: 1;

    -webkit-perspective: 1000;
}

.stack .card-container.flipped .card {
    -webkit-transform: rotateY(-180deg) scale(4.0);
    -webkit-box-shadow: -5px 5px 5px #aaa;
    -moz-transform: rotateY(-180deg);
    -moz-box-shadow: -5px 5px 5px #aaa;
}

.stack .card .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.stack .card-face.card-front {
    background-color: green;
}

.stack .card-face.card-back {
    display: none;
}

.stack .card-face.card-back {
    display: block;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #aaa;

    -webkit-box-sizing: border-box;
    -webkit-transform: rotateY(180deg);
    -moz-box-sizing: border-box;
    -moz-transform: rotateY(180deg);
}
