/* TODO(Jason/kamens): this transition animation is just a placeholder, CSS is
 * totally hacked together, needs matching vendor prefixes everywhere, etc
 */
@import "../shared-package/mixins.less";
@import "../shared-package/variables.less";

.stack {
    min-height: 100px;
    margin-bottom: 10px;
}

.current-card-container {
    position: relative;
}

.current-card-container-inner {
    border: 1px solid silver;
    background-color: #F8F8F8;
}
.card-type-endofstack .current-card-container-inner,
.card-type-endofreview .current-card-container-inner {
    background-color: #E9EFDD;
}

.current-card-container,
.current-card-container-inner {
    .transition(all 0.18s ease-in-out);
}

.current-card.notransition .current-card-container,
.current-card.notransition .current-card-container-inner,
.current-card.shrinkRight .leaves .leaf.earned .full-leaf {
    /* For temporarily disabling transitions.
     * See http://stackoverflow.com/questions/6634470/disable-turn-off-inherited-css3-transitions
     */
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;

    -webkit-animation: none;
}

/* TODO(kamens) and TODO(jason): all of these animations are webkit-only atm */
@-webkit-keyframes translate-center-to-ur {
    85% { top: -202px; left: 510px; }
    100% { top: -202px; left: 510px; }
}

@-webkit-keyframes shrink-right-and-fade {
    85% { opacity: 0.15; -webkit-transform: scale(0.1); }
    100% { opacity: 0.0; -webkit-transform: scale(0.1); }
}

.current-card.shrinkRight .current-card-container {
    -webkit-animation: translate-center-to-ur 0.18s ease-in-out 0s 1 forwards normal;
}
.current-card.shrinkRight #extras,
.card-type-endofstack #extras,
.card-type-endofreview #extras {
    display: none;
}
.current-card.shrinkRight .current-card-container-inner {
    -webkit-animation: shrink-right-and-fade 0.18s ease-in-out 0s 1 forwards normal;
}

.current-card.shrinkLeft .current-card-container {
    left: -510px;
    top: -202px;
}
.current-card.shrinkLeft .current-card-container-inner {
    .scale(0.1);
    .opacity(0);
}

.stack .card {
    width: 25px;
    height: 40px;
    border: 1px solid #bbb;
    margin: 0 auto;

    .transition(all 0.18s ease-in-out);

    .box-shadow(0 0 3px #ccc);
}

.stack .card-container {
    position: relative;
    margin-bottom: -5px;
    z-index: 1;
}

.stack .card .card-face {
    position: absolute;
    width: 25px;
    height: 40px;
}
.stack .card-face.card-front {
    background: #f7f7f7;
}
.stack .card-face.card-back {
    color: white;
    text-align: center;
    background-color: #aaa;
}
.stack .card-face.card-back {
    .box-shadow(inset 0 0 0 2px #fff, inset 0 0 0 4px #cfcfcf);
    background-color: #ccc;
}

.exercises-stack,
.exercises-card {
    float: left;
    width: 5%;

    /* margin-bottom: -9999px;
    padding-bottom: 9999px; */

    .box-sizing(border-box);
}
.exercises-card {
    width: 90%;
}

.current-card {
    position: relative;
    margin-bottom: 20px;
}

.current-card #answer_area_wrap {
    margin: 10px -8px 0 0;
}

.current-card #answer_area .info-box {
    overflow: visible;
}
.current-card .info-box:before {
    content: " ";
    display: block;

    border-right: 7px solid transparent;
    border-bottom: 8px solid #ccc;

    width: 0;
    height: 15px;

    position: absolute;
    right: -1px;
    top: -24px;
}

.current-card .exercise_message {
    display: none; /* TODO(kamens/jason): currently hiding all proficient/struggling/review messages */
}

.leaves-container {
    margin: 8px 0 0 15px;
    overflow: visible;
    position: absolute;
    right: 10px;
}
    .card-type-endofstack .leaves-container,
    .card-type-endofreview .leaves-container {
        display: none;
    }

.qtip.ui-tooltip.leaf-tooltip {
    max-width: 200px !important;
}

.current-card .leaves .leaf {
    background: transparent url(/images/power-mode/card-leaf-empty-large.png) no-repeat 50% 0;
    background-size: 40px 40px;
    float: left;
    color: transparent;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.stack .leaves .leaf {
    width: 5px;
    height: 5px;
    margin: 2px 0 0 1px;
    float: left;
    background: #83a600;
    color: transparent;
    border: 1px solid #a7b36b;
    position: relative;
    
    line-height: 25px;
    text-align: center;

    .border-radiuses(10px, 50px, 50px, 15px);
    .box-sizing(border-box);
    .box-shadow(inset 0 0 9px 1px rgba(0,0,0,.25));
}

.leaves .leaf.available {
    /* Nothing right now */
}
.leaves .leaf.unavailable {
    background-color: transparent;
    
}
.leaves .leaf.earned .full-leaf {
    background: url(/images/power-mode/card-leaf-full-large.png) no-repeat;
    background-size: 40px 40px;
    .scale(8);
    .opacity(0);
    .transition(all 0.18s ease-in-out);

    width: 40px;
    height: 40px;
    margin: 0 auto;
}

@-webkit-keyframes fly-in-leaf {
    0% { -webkit-transform: scale(8); opacity: 0; }
    66% { -webkit-transform: scale(1); opacity: 0.17; }
    100% { -webkit-transform: scale(1); opacity: 1.0; }
}
.leaves .leaf.earned .full-leaf.animated {
    -webkit-animation: fly-in-leaf 0.3s ease-out 0s 1 forwards normal;
    .scale(1);
    .opacity(100);
}

.stack .leaves .leaf.earned {
    background: #83a600;
    border-color: #5a7300;
    color: transparent;
    box-shadow: none;
}
.stack .leaves .leaf.unavailable {
    .opacity(50);
}
.stack .leaves .full-leaf {
    display: none;
}

.card-type-endofstack .current-card-contents,
.card-type-endofreview .current-card-contents {
    padding: 20px;
}

.current-card #problemarea {
    margin-top: 35px;
}
.current-card #answer_area_wrap {
    margin-top: 52px;
}

#footer {
    /* 
     * This crazy little sucker invokes a different rendering path
     * for the entire page, even though it's only applied to the footer.
     *
     * This hints to webkit that GPU acceleration should be used where
     * possible, which fixes this annoying bug: http://code.google.com/p/chromium/issues/detail?id=103198
     * as well as any screen flicker on macs when switching to/from GPU
     * rendering.
     *
     * If another fix for this bug is found, this can be removed.
     * See "the magic CSS bullet" here: http://www.html5rocks.com/en/tutorials/speed/html5/#toc-hardware-accell
     *
     * */
    -webkit-transform: translateZ(0);
}

/* "Calculating End of Stack" Card Styling */

.calculating-end-of-stack {
    padding: 50px;
    height: 70px;
    text-align: center;
}

.calculating-end-of-stack .card-pocket {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}
.calculating-end-of-stack .card-pocket .slit {
    background: transparent url('/images/power-mode/slit.png') no-repeat top left;
}
.calculating-end-of-stack .card-pocket .slit-overlay {
    background: #E9EFDD;
    height: 30px;
    position: relative;
    top: -17px;
}

.calculating-end-of-stack .calc-text-spin {
    position: relative;
    top: -15px;
}
.calculating-end-of-stack .calc-text-spin span {
    display: none;
}

.calculating-end-of-stack .throbber {
    position: relative;
    top: -5px;
}

/* End "Calculating End of Stack" Card styling */

/* End of Stack Card Styling */

.end-of-stack-info .title h1 {
    float: left;
}
.end-of-stack-info .stack-controls .simple-button {
    display: inline-block;
    font-size: 150%;
    text-align: center;
    width: 48%;

    .box-sizing(border-box);
}
.end-of-stack-info .stack-controls .right {
    margin: 0 0 0 2%;
}
.end-of-stack-info .stack-controls .left {
    margin: 0 2% 0 0;
}
.end-of-stack-info .stack-stats {
    float: right;
    margin-top: -8px;
}
    .end-of-stack-info .stack-stats p {
        display: inline-block;
        text-align: center;
        font-size: 150%;
        margin: 0;
        margin-left: 40px;
    }
    .end-of-stack-info .stack-stats img {
        height: 38px;
        vertical-align: -11px;
    }
    .end-of-stack-info .stack-stats .times {
        display: inline-block;
        margin: 0 7px;
    }

.end-of-stack-info .progress-graph {
    background: white;
    padding: 20px;
    border: 1px solid #CCC;
    margin-bottom: 22px;
}

.end-of-stack-info .progress-graph.current-topic {
    display: none;
}

.end-of-stack-info .progress-graph .skill-bar-title {
    margin: 0 0 5px;
}
    .end-of-stack-info .progress-graph.current-topic .skill-bar-title {
        margin: 0;
    }

.proficient-tick {
    vertical-align: -1px;
}
/* Much credit goes to: http://css-tricks.com/css3-progress-bars/ */

.end-of-stack-info .progress-graph .skill-bar {
    margin-bottom: 15px;
    height: 15px;
    padding: 0px;
    position: relative;
    border: 1px solid #bbb;

    .border-radius(4px);
    .box-shadow(inset 0 0 4px rgba(0,0,0,0.3);
}
    .end-of-stack-info .progress-graph.current-topic .skill-bar {
        height: 5px;
    }

.end-of-stack-info .progress-graph .skill-bar .description {
    position: relative;
    color: #fff;
    line-height: 17px; /* This needs to be adjusted if you adjust the skill-bar height */
    padding-left: 10px;
    z-index: 2;
}
.end-of-stack-info .progress-graph .skill-bar .fill {
    display: block;
    height: 100%;
    .border-radius(3px);
    #gradient > .vertical(rgb(43,194,83),rgb(84,240,84));
    .box-shadow(inset 0 2px 9px  rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4));
    position: relative;
    overflow: hidden;
}

.end-of-stack-info .progress-graph .skill-bar .fill.gray {
    #gradient > .vertical(#ddd, #ccc);

    position: relative;
    top: -15px;
}

.end-of-stack-info .progress-graph .skill-bar .fill.green {
    #gradient > .vertical(#8aba08, #6e9700);

    -webkit-animation: progress-bar 1s;
    -moz-animation: progress-bar 1s;
}
.end-of-stack-info .progress-graph .skill-bar .fill.blue {
    #gradient > .vertical(lighten(#0080C9, 10%), #0080C9);

    -webkit-animation: progress-bar .6s;
    -moz-animation: progress-bar .6s;

    position: relative;
    top: -15px;
}

.end-of-stack-info .progress-graph.current-topic .skill-bar .fill {
    -webkit-animation: none;
    -moz-animation: none;
}

.end-of-stack-info .progress-graph.current-topic .skill-bar .fill.gray,
.end-of-stack-info .progress-graph.current-topic .skill-bar .fill.blue {
    top: -5px !important;
}

.three-col {
    float: left;
    width: 32%;
    .box-sizing(border-box);
}
.three-col.col-one,
.three-col.col-two {
    margin-right: 2%;
}

#show-topic-details {
    position: relative;
    top: -2px;
    margin-left: 10px;
}
/** 
 * Leaving out the "to" or 100% state in these keyframe animations 
 * causes the fill to animate based on the inline width.
 */

@-webkit-keyframes progress-bar {
   0% { width: 0; opacity: 0.6; }
}
@-moz-keyframes progress-bar {
   0% { width: 0; opacity: 0.6; }
}

/**
 * Beginner end-of-stack calculation animations
 */
.stack .card-container.into-pocket,
.stack .card-container.into-pocket .card-container-inner {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}

.translate-x(@x) {
    -webkit-transform: translateX(@x);
}
.translate-y-and-rotate(@y, @rotation) {
    -webkit-transform: translateY(@y) rotate(@rotation);
}
.up-down-rotate(@y1, @rotation1, @y2, @rotation2) {
    50% { .translate-y-and-rotate(@y1, @rotation1); }
    100% { .translate-y-and-rotate(@y2, @rotation2); }
}

@-webkit-keyframes card-up-down-0 { .up-down-rotate(-70px, -5deg, -118px, -20deg); }
@-webkit-keyframes card-up-down-1 { .up-down-rotate(-80px, -5deg, -92px, -12deg); }
@-webkit-keyframes card-up-down-2 { .up-down-rotate(-40px, 5deg, 78px, 10deg); }
@-webkit-keyframes card-up-down-3 { .up-down-rotate(-124px, 2deg, -8px, 7deg); }
@-webkit-keyframes card-up-down-4 { .up-down-rotate(-190px, -2deg, -232px, -11deg); }
@-webkit-keyframes card-up-down-5 { .up-down-rotate(-200px, -3deg, -300px, -15deg); }
@-webkit-keyframes card-up-down-6 { .up-down-rotate(-240px, -2deg, -272px, -11deg); }
@-webkit-keyframes card-up-down-7 { .up-down-rotate(-260px, -3deg, -360px, -15deg); }

@-webkit-keyframes card-left-right-0 { 100% { .translate-x(-520px); } }
@-webkit-keyframes card-left-right-1 { 100% { .translate-x(-540px); } }
@-webkit-keyframes card-left-right-2 { 100% { .translate-x(-580px); } }
@-webkit-keyframes card-left-right-3 { 100% { .translate-x(-452px); } }
@-webkit-keyframes card-left-right-4 { 100% { .translate-x(-650px); } }
@-webkit-keyframes card-left-right-5 { 100% { .translate-x(-620px); } }
@-webkit-keyframes card-left-right-6 { 100% { .translate-x(-480px); } }
@-webkit-keyframes card-left-right-7 { 100% { .translate-x(-562px); } }

.stack .card-container.into-pocket-0 { -webkit-animation-name: card-up-down-0; }
.stack .card-container.into-pocket-1 { -webkit-animation-name: card-up-down-1; }
.stack .card-container.into-pocket-2 { -webkit-animation-name: card-up-down-2; }
.stack .card-container.into-pocket-3 { -webkit-animation-name: card-up-down-3; }
.stack .card-container.into-pocket-4 { -webkit-animation-name: card-up-down-4; }
.stack .card-container.into-pocket-5 { -webkit-animation-name: card-up-down-5; }
.stack .card-container.into-pocket-6 { -webkit-animation-name: card-up-down-6; }
.stack .card-container.into-pocket-7 { -webkit-animation-name: card-up-down-7; }

.stack .card-container.into-pocket-0 .card-container-inner { -webkit-animation-name: card-left-right-0; }
.stack .card-container.into-pocket-1 .card-container-inner { -webkit-animation-name: card-left-right-1; }
.stack .card-container.into-pocket-2 .card-container-inner { -webkit-animation-name: card-left-right-2; }
.stack .card-container.into-pocket-3 .card-container-inner { -webkit-animation-name: card-left-right-3; }
.stack .card-container.into-pocket-4 .card-container-inner { -webkit-animation-name: card-left-right-4; }
.stack .card-container.into-pocket-5 .card-container-inner { -webkit-animation-name: card-left-right-5; }
.stack .card-container.into-pocket-6 .card-container-inner { -webkit-animation-name: card-left-right-6; }
.stack .card-container.into-pocket-7 .card-container-inner { -webkit-animation-name: card-left-right-7; }
/**
 * End end-of-stack calculation animations
 */

/**
 * Read-only historical problem viewing mode
 */

.read-only .stack {
    visibility: hidden;
}

.read-only .leaves-container {
    display: none;
}

/**
 * End read-only historical problem viewing mode
 */

.exercises-header .topic-exercise-badge {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 9px;
}
