<div class="timebar">
	{{#each questions}}
	<span class="event {{complete}}" style="left: {{pc}}%">
		<div class="stem"></div>
		<a href="#{{slug}}" class="icon" title="{{time}}"></a>
	</span>
	{{/each}}
</div>
