<strong>Questions:</strong>
<ol>
    <li><span>1:15</span> Dimensions of a matrix</li>
    <li><span>2:05</span> Dimensions of a matrix</li>
    <li><span>3:20</span> Elements in a matrix</li>
    <li><span>4:41</span> What are matrices used for?</li>
</ol>
