<div class="submit-area">
	<a class="explain simple-button action-gradient" href="{{explainUrl}}">&laquo; Explain again</a>
	<a class="submit simple-button action-gradient green" href="javascript:void 0">Submit</a>
	<a class="skip simple-button action-gradient" href="javascript:void 0">Skip &raquo;</a>
</div>
