{% extends "page_template.html" %}

{% import 'macros/discussion.html' as discussion %}

{% block pagescript %}
    {{ js_css_packages.css_package("video") }}
{% endblock pagescript %}

{% block pagesubmenu %}
    <span class="breadcrumbs_nav">
        <a href="/discussion/videofeedbacknotificationlist" class="selected">Unread Answers</a>
        <a href="/discussion/videofeedbacknotificationfeed?email={{ email }}">RSS</a>
    </span>
{% endblock pagesubmenu %}

{% block pagecontent %}
    <article class="video">

    {% if videos %}
        {% for video in videos %}
            <div class="video_questions video_question_notifications">
                <strong><a href="/video/{{video.readable_id}}?topic={{video.first_topic.title|urlencode}}">{{video.title|escape}}</a></strong>
                {{ discussion.question_answers(dict_answers[video.key()], True, video, video.first_topic()) }}
            </div>
        {% endfor %}
    {% else %}
        <p>No new answers to any of your questions.  Go watch more videos and ask more questions!</p>
    {% endif %}

    </article>
{% endblock pagecontent %}
