{% extends "coach_resources/coach_resources_template.html" %}

{% import 'macros/analytics.html' as analytics %}

{% block pagecss %}
    {{ js_css_packages.css_package("profile") }}
{% endblock pagecss %}

{% block meta_page_title %}Teacher Toolkit | {% endblock meta_page_title %}
{% block pagescript %}
    <style>
        #public #container #form1 #header {
			display: none; 
		}
		
		.tab-link {
			padding-left:6px;
		}
		
		ul.bullet {
			font-size: 14px;
			list-style: disc;
			margin-left: 30px;
		}
		
		ul.bullet > li {
			line-height: 1.4em;
			margin-bottom: .6em;
		}
		
		.lead {
			font-size:18px;
			line-height:23px;
		}
		
		hr {
			margin-bottom: 22px;
		}
		
		.callout {
			background: #F3F3F3;
			padding: 19px;
			margin: 24px 0 20px;
			border: 1px solid #EEE;
			border-top-color: #DDD;
			border-radius: 6px;
			-khtml-border-radius: 6px;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
		}
		
		.callout > h3 {
			margin-bottom:10px;
		}
		
		.callout > ul {
			font-size:12px;
		}
		
		ol.number {
			font-size: 14px;
			margin-left: 30px;
			list-style-type: decimal;
		}
		
		ol.number > li {
			line-height: 1.4em;
			margin-bottom: .6em;
		}
		
		h5 {
			margin-top: 30px;
		}
		
    </style>
{% endblock pagescript %}

{% block resourcecontent %}
<article id="toolkit">
	<menu class="profile-navigation">
	    <ul class="vertical-tab-list">
	        <!-- TODO(Matt): transpent-ify the hand-tree image -->
			<li class="profile-tab"><a href="{{base_url}}/index" class="tab-link no-recolor {% if 'index' == selected_id %}active-tab{% endif %}" rel="profile">
	            <img src="/images/hand-tree.png" class="profile-tab-avatar">
	            <span id="profile-tab-link" class="profile-tab-text">Teacher Toolkit</span>
	        </a></li>
	        
			<li>
	            <span class="inactive link-section-header">Choosing KA</span>
	            <ul class="vertical-tab-list second-tier">
	                <li><a href="{{base_url}}/how-to-use-this-toolkit" class="tab-link no-recolor {% if 'how-to-use-this-toolkit' == selected_id %}active-tab{% endif %}" rel="section-1">How to use this toolkit</a></li>
	                <li><a href="{{base_url}}/toolkit-sections" class="tab-link no-recolor {% if 'toolkit-sections' == selected_id %}active-tab{% endif %}" rel="section-2">Toolkit sections</a></li>
					<li><a href="{{base_url}}/KA-classrooms" class="tab-link no-recolor {% if 'KA-classrooms' == selected_id %}active-tab{% endif %}" rel="section-3">KA Classrooms</a></li>
	            </ul>
	        </li>
	        <li>
	            <span class="inactive link-section-header">Getting Started</span>
	            <ul class="vertical-tab-list second-tier">
	                <li><a href="{{base_url}}/setting-up-accounts" class="tab-link no-recolor {% if 'setting-up-accounts' == selected_id %}active-tab{% endif %}" rel="getting-started accounts">Setting up accounts</a></li>
	                <!--li><a href="{{base_url}}/release-documents" class="tab-link no-recolor {% if 'release-documents' == selected_id %}active-tab{% endif %}" rel="getting-started documents">Release documents</a></li>
	                <li><a href="{{base_url}}/technology" class="tab-link no-recolor {% if 'technology' == selected_id %}active-tab{% endif %}" rel="getting-started technology">Technology</a></li>
	                <li><a href="{{base_url}}/navigating-the-site" class="tab-link no-recolor {% if 'navigating-the-site' == selected_id %}active-tab{% endif %}" rel="getting-started navigating">Navigating the Site</a></li>
	                <li><a href="{{base_url}}/first-week" class="tab-link no-recolor {% if 'first-week' == selected_id %}active-tab{% endif %}" rel="getting-started warming">1st day/week/month</a></li-->
	            </ul>
	        </li>
	        <li>
	            <span class="inactive link-section-header">Class time</span>
	            <ul class="vertical-tab-list second-tier">
	                <li><a href="{{base_url}}/classroom-culture" class="tab-link no-recolor {% if 'classroom-culture' == selected_id %}active-tab{% endif %}" rel="getting-started accounts">Classroom culture</a></li>
	                <li><a href="{{base_url}}/keys-to-success" class="tab-link no-recolor {% if 'keys-to-success' == selected_id %}active-tab{% endif %}" rel="getting-started accounts">Keys to success</a></li>
	                <li><a href="{{base_url}}/instructional-strategies" class="tab-link no-recolor {% if 'instructional-strategies' == selected_id %}active-tab{% endif %}" rel="getting-started documents">Instructional strategies</a></li>
	                <li><a href="{{base_url}}/different-learners" class="tab-link no-recolor {% if 'different-learners' == selected_id %}active-tab{% endif %}" rel="getting-started technology">Different learners</a></li>
	                <li><a href="{{base_url}}/using-data" class="tab-link no-recolor {% if 'using-data' == selected_id %}active-tab{% endif %}" rel="getting-started technology">Using data</a></li>
	            </ul>
	        </li>
	        <li>
	            <span class="inactive link-section-header">Curriculum</span>
	            <ul class="vertical-tab-list second-tier">
	                <li><a href="{{base_url}}/six-step-process" class="tab-link no-recolor {% if 'six-step-process' == selected_id %}active-tab{% endif %}" rel="getting-started accounts">6-step process</a></li>
	                <li><a href="{{base_url}}/sample-unit-plans" class="tab-link no-recolor {% if 'sample-unit-plans' == selected_id %}active-tab{% endif %}" rel="getting-started documents">Sample unit plans</a></li>
	            </ul>
	        </li>
	        <li>
	            <span class="inactive link-section-header">FAQ</span>
	            <ul class="vertical-tab-list second-tier">
	                <li><a href="{{base_url}}/teacher-faqs" class="tab-link no-recolor {% if 'teacher-faqs' == selected_id %}active-tab{% endif %}" rel="getting-started accounts">Teacher FAQs</a></li>
	            </ul>
	        </li>
			
			
	    </ul>
	</menu>
	
	<section class="tab-content">
				
		<div class="col1 sixty-forty">
		{% block col1content %}
		{% endblock col1content %}
		</div>
		<div class="col2 sixty-forty">
			<div class="callout">
			{% block col2content %}
			{% endblock col2content %}
			</div>
		</div>
				
	</section>	
	
</article>
{% endblock resourcecontent %}
{% block bottompagescript %}
    {{ js_css_packages.js_package("commoncore") }}
	{{ analytics.crazyegg_tracker(False) }}
{% endblock bottompagescript %}
