{% extends "page_template.html" %}

{% import 'macros/mailing_lists.html' as mailing_lists %}

{% block pagesubmenu %}
<span class="breadcrumbs_nav">
    <a href="/coach/resources" id="teacher-resources" class="selected">Teacher Resources<span style="font-size:8px;color:orange;"> NEW</span>
    <a href="/students" id="manage-students">Manage Students</a>
    <a href="/class_profile" id="class-stats">Class Stats</a>
</span>
{% endblock pagesubmenu %}

{% block pagecontent %}
<style type="text/css">
.row {
  margin-left: -20px;
  *zoom: 1;
}
.row:before, .row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  margin-left: 20px;
}
.span1 {
  width: 60px;
}
.span2 {
  width: 140px;
}
.span3 {
  width: 220px;
}
.span4 {
  width: 300px;
}
.span5 {
  width: 380px;
}
.span6 {
  width: 460px;
}
.span7 {
  width: 540px;
}
.span8 {
  width: 620px;
}
.span9 {
  width: 700px;
}
.span10 {
  width: 780px;
}
.span11 {
  width: 860px;
}
.span12, .container {
  width: 940px;
}
.offset1 {
  margin-left: 100px;
}
.offset2 {
  margin-left: 180px;
}
.offset3 {
  margin-left: 260px;
}
.offset4 {
  margin-left: 340px;
}
.offset5 {
  margin-left: 420px;
}
.offset6 {
  margin-left: 500px;
}
.offset7 {
  margin-left: 580px;
}
.offset8 {
  margin-left: 660px;
}
.offset9 {
  margin-left: 740px;
}
.offset10 {
  margin-left: 820px;
}
.offset11 {
  margin-left: 900px;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before, .row-fluid:after {
  display: table;
  content: "";
}
.row-fluid:after {
  clear: both;
}
.row-fluid > [class*="span"] {
  float: left;
  margin-left: 2.127659574%;
}
.row-fluid > [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid > .span1 {
  width: 6.382978723%;
}
.row-fluid > .span2 {
  width: 14.89361702%;
}
.row-fluid > .span3 {
  width: 23.404255317%;
}
.row-fluid > .span4 {
  width: 31.914893614%;
}
.row-fluid > .span5 {
  width: 40.425531911%;
}
.row-fluid > .span6 {
  width: 48.93617020799999%;
}
.row-fluid > .span7 {
  width: 57.446808505%;
}
.row-fluid > .span8 {
  width: 65.95744680199999%;
}
.row-fluid > .span9 {
  width: 74.468085099%;
}
.row-fluid > .span10 {
  width: 82.97872339599999%;
}
.row-fluid > .span11 {
  width: 91.489361693%;
}
.row-fluid > .span12 {
  width: 99.99999998999999%;
}
.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.container:before, .container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
  *zoom: 1;
}
.container-fluid:before, .container-fluid:after {
  display: table;
  content: "";
}
.container-fluid:after {
  clear: both;
}

.container{ margin-top:2em; }

.bigdeal { margin-top:2em; }
.bigdeal .bigpic {
    overflow:hidden; height:230px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border-radius:8px;
}
.bigdeal .bigpic img{ width:100%; }
.bigdeal h2 {font-family: museosans300, museosans-300, helveticaneue-light, "helvetica neue"; font-size:28px; color: rgb(137, 185, 8); }
.bigdeal a.simple-button.action-gradient.green { font-size:18px; font-family: museosans300, museosans-300, helveticaneue-light, "helvetica neue"; }
.smallpic { height:120px; border-bottom:2px solid #e3f1f9; margin-bottom:1em; }
.extra-resources { margin-top:1em; }
.extra-resources h3, .extra-resources h3 a:visited { color:rgb(0,89,135); }
.extra-resources > div:hover  h3 a { color: rgb(137, 185, 8); text-decoration:none; }
.extra-resources h3 small {color: #900; position:relative; font-size:9px; top:-4px; text-transform:uppercase; letter-spacing:1px;}
.extra-resources p{ font-size:12px; line-height:1.5em; }
.middle.row {margin-top: 3em; position:relative; }
.middle.row hr {
    height:0; width:100%; 
    border-bottom: 2px solid #d0e39c; position:absolute; }
.middle.row h4 {
    text-transform:uppercase; letter-spacing: 4px; 
    width:auto; text-align:center; color:#444;
    font-family: MuseoSans-300; font-size:12px;
    margin-top:.7em; position:relative;
}
.middle.row h4 span {background-color:white; padding:0 15px; }
.keepintouch input{ width: 95%; }
.keepintouch input.simple-input { width:92%; padding-left:3%; margin-bottom:1em; }
</style>

<article id="coach-splash">

<div class="container">
    {#
    <div class="login row">
        <span class="span1">Login</span>
        <span class="fb span2">with facebook</span>
        <span class="goog span2">with google</span>
    </div>
    #}

    <div class="bigdeal row">

        <div class="bigpic span5">
            <a href="/toolkit/">
            <img src="/images/teacher-classroom.png" alt="a teacher interacting with students">
            </a>
        </div>
        <div class="bigcallout span6 offset1">
            <h2>Supercharge Your Classroom</h2>
            <p>Visit our teacher toolkit and see the incredible things other teachers and coaches are doing with the Khan Academy right now.
            <p>We're committed to providing top-tier resources to our coaches. Free. Always. Comprehensive data and meaningful analytics are only the beginning.</p>
            <p><a href="/toolkit/" class="simple-button action-gradient green">Explore The Toolkit</a></p>
        </div>
    </div>

    <div class="middle row">
        <hr>
        <h4><span>Plus, all coaches get access to</span></h4>
    </div>

    <div class="extra-resources row">
        <div class="span3">
            <div class="smallpic">
                <a href="/toolkit/navigating-the-site">
                    <img src="/images/toolkit-01.png">
                </a>
            </div>
            <h3><a href="/toolkit/navigating-the-site">Rich Data</a></h3>
            <p>Get the whole picture: from how your class is doing on <em>linear equations</em> to Brian's progress on <em>Adding Fractions</em>.
        </div>

        <div class="span3">
            <div class="smallpic">
                <a href="http://khanacademy.desk.com">
                    <img src="/images/toolkit-02.png">
                </a>
            </div>
            <h3><a href="http://khanacademy.desk.com">Your Questions</a></h3>
            <p>Find and contribute answers to common questions like: <a href="http://khanacademy.desk.com/customer/portal/articles/414175">What is KA's vision for classroom learning?</a> <a href="http://khanacademy.desk.com/customer/portal/articles/329324-how-do-i-set-up-a-new-user-account-">How do I login to KA?</a> Or, <a href="http://khanacademy.desk.com/customer/portal/questions/new">add your own question</a>.
        </div>

        <div class="span3">
            <div class="smallpic">
                <a href="/commoncore">
                    <img src="/images/toolkit-03.png">
                </a>
            </div>
            <h3><a href="/commoncore">Common Core</a> <small>alpha</small></h3>
            <p>View KA videos and exercises that map to specific Common Core standards. <!-- TODO(Matt): Nice to have - Insert "We're in the early innings here - suggestions welcome." and form to allow CC suggestion --></a>
        </div>
        <div class="span3">
            <div class="smallpic">
                <a href="javascript:$('#mailform').focus();">
                    <img src="/images/toolkit-04.png">
                </a>
            </div>
            <h3><a href="javascript:$('#mailform').focus();">Keep In Touch</a></h3>
            <form action="/addcoach_to_mailing_list" name="coach_mailing_list_form" class="keepintouch">
                    <input type="email" placeholder="Enter your email" name="email"
                    id="mailform"
                    class="simple-input ui-corner-all"
                    {% if coach_email %} value="{{ coach_email }}" {% endif %}>
                <input type="submit" value="Register your class" class="simple button action gradient">
            </form>
            <p>Sign up for our coach mailing list and keep up to date with new developments.
        </div>

    </div>

</article>
</div>

{% endblock pagecontent %}
