
<div id='breadcrumbs'>
  <a href='{{home_link}}'>Home</a> &rsaquo; Email Us
</div>
<div id='support-main'>
  <div class='support-body'>
    <div class='content'>
      <h3>Email Us</h3>
      <h4>Success! Your email has been sent.</h4>
    </div>
  </div>
  <!--
  ***************
  The following attribution needs to remain as is in terms of wording with the appropriate link back to Assistly as per our terms of service: http://www.assistly.com/terms
  If you would like, you may change the location or the styling to better match your site, but the content and the link must remain in the template and visible to end users.
  ****************
  -->
  <div id='footer'>
    {{ footer_content }}
    <br/>
    <a href='http://www.assistly.com'>Customer service software</a> powered by Assistly Inc.
  </div>
</div>
    
