
<div id='breadcrumbs'>
  <a href='{{home_link}}'>Home</a> &rsaquo; <a href='{{ topic.public_articles_url }}'>{{ topic.name | clip:30 }}</a> &rsaquo; {{ article.subject_plain | clip:30 }}
</div>
<div id='support-main'>
  <div class='support-body'>
    <div class='content article'>
      <div class='title'>
        <h3>{{ article.subject_plain }}</h3>
        <div class='meta'>Last Updated: {{ article.updated_at | in_time_zone: site.timezone | date: '%b %d, %Y %I:%M%p %Z' }}</div>
      </div>
      <div class='article-content'>
        {{ article.body }}
      </div>
      {% if article.number_of_attachments > 0 %}
        <div id='attachments'>
          <strong>Attachments</strong>
          <ul>
            {% for attachment in article.kb_article_attachments %}
              <li>
                <a href="{{ attachment.faq_download_url }}" class="kb_article_attachment_a" target="_blank">{{ attachment.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {{ rate_block }}
    </div>
  </div>
  <!--
  ***************
  The following attribution needs to remain as is in terms of wording with the appropriate link back to Assistly as per our terms of service: http://www.assistly.com/terms
  If you would like, you may change the location or the styling to better match your site, but the content and the link must remain in the template and visible to end users.
  ****************
  -->
  <div id='footer'>
    {{ footer_content }}
    <br/>
    <a href='http://www.assistly.com'>Customer service software</a> powered by Assistly Inc.
  </div>
</div>
    
