
<div id='breadcrumbs'>
  <a href='{{home_link}}'>Home</a> &rsaquo; {{ topic.name }}
</div>
<div id='support-main'>
  <div class='support-body'>
    <div class='content articles'>
      <div id='toggle'>
        <h3>{{ topic.name }}</h3>
        <div>
          {% if topic.article_count > 0 %}
            {% if type == 'articles' %}
              <a href='{{ topic.public_articles_url }}' class='active'>Articles</a>
            {% else %}
              <a href='{{ topic.public_articles_url }}'>Articles</a>
            {% endif %}
          {% endif %}
          {% if topic.question_count > 0 and topic.allow_questions and site.questions_enabled_config %}
            {% if type == 'questions' %}
              <a href='{{ topic.public_questions_url }}' class='active'>Questions</a>
            {% else %}
              <a href='{{ topic.public_questions_url }}'>Questions</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
      <ul>
        {% if type == 'articles' %}
          {% for article in articles %}
            <li class='article'>
              <h4>
                <a href='{{ article.public_url }}'>{{ article.subject_plain | clip:70 }}</a>
              </h4>
              <p>{{ article.body_plain | clip:110 }}</p>
              <div class='meta'>
                {{ article.updated_at | in_time_zone: site.timezone | date: '%b %d, %Y %I:%M%p %Z' }}
              </div>
            </li>
          {% endfor %}
        {% else %}
          {% for question in questions %}
            <li class='question{% if question.featured? %} featured{% endif %}'>
              <h4>
                <a href='{{ question.public_url }}'>{{ question.subject_plain | clip:70 }}</a>
              </h4>
              <p>{{ question.body_plain | clip:110 }}</p>
              <div class='meta'>
                {% if question.answers_agent_count > 0 %}
                  <span class='answered'>
                    {{ question.answers_agent_count }}
                    {{ site.agent_name_config }}
                    {{ 'Answer' | pluralize: question.answers_agent_count }}
                  </span>
                {% endif %}
                <span class='count'>
                  {{ question.answers_customer_count }}
                  {{ 'Community Answer' | pluralize: question.answers_customer_count }}
                </span>
                <span>
                  {{ question.created_at | in_time_zone: site.timezone | date: '%b %d, %Y %I:%M%p %Z' }}
                </span>
              </div>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
      <div id='pagination'>
        {{ more_article_block }}
      </div>
    </div>
  </div>
  <!--
  ***************
  The following attribution needs to remain as is in terms of wording with the appropriate link back to Assistly as per our terms of service: http://www.assistly.com/terms
  If you would like, you may change the location or the styling to better match your site, but the content and the link must remain in the template and visible to end users.
  ****************
  -->
  <div id='footer'>
    {{ footer_content }}
    <br/>
    <a href='http://www.assistly.com'>Customer service software</a> powered by Assistly Inc.
  </div>
</div>
    
