

<form action='/customer/portal/articles/search' method='get' id='support-search' class='support-search-big'>
  <div class='outer'>
    <div class='inner'>
      <input type='text' id='q' name='q' maxlength='100' value='' />
      {{template_form_params}}
      <div id='question-mask' class='question-big'>Have a question? Ask or enter a search term here.</div>
      <input type='submit' id='support-search-submit' value='Search' />
    </div>
  </div>
</form>
<script type='text/javascript'>
//<![CDATA[
jQuery(document).ready(function() {
  // Default Focus
  $( "#q" ).bind("autocompleteopen", function(event, ui) {
    $('.ui-autocomplete').css({'margin':'0 0 0 -5px', 'width':'845px'});
  });
});
//]]>
</script>
<div id='support-main'>
  {% if just_moderated %}
    <div id="modal-screen">&nbsp;</div>
    <div id="modal">
      <div class="inner">
        <div class="main">
          <h1>Your post is being submitted to a moderator</h1>
          <p class='subheader'>
            It will not be shown until it has been reviewed and approved.
          </p>
          <div id='form'>
            <div class='input-button'>
              <input id='moderation_okay_button'  name='commit' type='submit'  value='OKAY, I UNDERSTAND' />
              <img alt='Ajax-loader-small' id='question_submit_spinner' src='{{ "/images/ajax-loader-small.gif" | portal_image_url: image_asset_host }}' style='display: none; margin: 7px 0 0 5px; position: absolute;'/>
            </div> 
          </div> 
        </div>
      </div>
    </div>
    <script type='text/javascript'>
      //<![CDATA[
      $(document).ready(function() {
        $('h5 a').css('display', 'none');
      });
      $("#moderation_okay_button").click(function() {
        $('h5 a').css('display', 'inline');
        $('#modal-screen').hide();
        $('#modal').hide();
      });
      $("#modal-screen").css({
        "opacity":"0.7"
      });
      if($.browser.msie && $.browser.version < 7) {
        $("#qna_kb_topic_id").css("display","none");
        $("#modal-screen").css({
          "width": $(window).width() + "px",
          "height": $(window).height() + "px"
        });
      }
    </script>
  {% endif %}
  <div class='support-body'>
    <div class='content dashboard'>
      <h3>Browse By Topic</h3>
      {% if topics_count > 0 %}
        <table width='100%' cellspacing='0'>
          {% tablerow topic in topics cols: 2 %}
            <div class='topic topic{{ topic.id }}'>
              <h4>{{ topic.name }}</h4>
              {% if topic.article_count > 0 %}
                <h5 class='articles'>
                  {{ topic.article_count }}
                  {{ 'Article' | pluralize: topic.article_count }}
                  <a href='{{ topic.public_articles_url }}'>View All</a>
                </h5>
                <ul>
                  {% for article in topic.articles limit:5 %}
                    <li>
                      <a href='{{ article.public_url }}'>{{ article.subject_plain | clip:40 }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% if site.questions_enabled_config %}
                {% if topic.question_count > 0 and topic.allow_questions %}
                  <h5 class='questions'>
                    Recent Q&amp;A
                    <a href='{{ topic.public_questions_url }}'>View All</a>
                  </h5>
                  <ul>
                    {% for question in topic.questions limit:5 %}
                      {% if question.featured? %}
                        <li class='featured'>
                          <a href='{{ question.public_url }}'>{{ question.subject_plain | clip:40 }}</a>
                        </li>
                      {% else %}
                        <li>
                          <a href='{{ question.public_url }}'>{{ question.subject_plain | clip:40 }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endif %}
            </div>
          {% endtablerow %}
        </table>
      {% else %}
        <h4>No topics are available.</h4>
      {% endif %}
    </div>
  </div>
  
  <!-- GS -->
  {% if enable_gs %}
  <div id='support-main' style='margin-top:20px;'>
    <div class='support-body'>
      <div class='content dashboard'>
        <h3>Community Discussions</h3>
          <table id="gs-table" width='100%' cellspacing='0'>
          <tr class="row1">
            <td class="col1" width="50%">
              <div id="gs_questions">
                <img alt='Ajax-loader-small' id='question_submit_spinner' src='{{ "/images/ajax-loader-small.gif" | portal_image_url: image_asset_host }}' style='display:block;margin:auto;' />
              </div>
            </td>
            <td class="col2">
              <div id="gs_ideas">
                <img alt='Ajax-loader-small' id='question_submit_spinner' src='{{ "/images/ajax-loader-small.gif" | portal_image_url: image_asset_host }}' style='display:block;margin:auto;' />
              </div>
            </td>
          </tr>
          <tr class="row2 last">
            <td class="col1">
              <div id="gs_problems">
                <img alt='Ajax-loader-small' id='question_submit_spinner' src='{{ "/images/ajax-loader-small.gif" | portal_image_url: image_asset_host }}' style='display:block;margin:auto;' />
              </div>
            </td>
            <td class="col2">
              <div id="gs_praises">
                <img alt='Ajax-loader-small' id='question_submit_spinner' src='{{ "/images/ajax-loader-small.gif" | portal_image_url: image_asset_host }}' style='display:block;margin:auto;' />
              </div>  
            </td>
          </tr>                  
          <script>
            gsRecentQuestion();
            gsRecentIdea();
            gsRecentProblem();
            gsRecentPraise();
          </script>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- GS -->
 
  <!--
  ***************
  The following attribution needs to remain as is in terms of wording with the appropriate link back to Assistly as per our terms of service: http://www.assistly.com/terms
  If you would like, you may change the location or the styling to better match your site, but the content and the link must remain in the template and visible to end users.
  ****************
  -->
  <div id='footer'>
    {{ footer_content }}
    <br/>
    <a href='http://www.assistly.com'>Customer service software</a> powered by Assistly Inc.
  </div>
</div>
    
