
{% assign customer_answer_count = question.answers_customer_count %}
{% assign agent_answer_count = question.answers_agent_count %}
{% assign answers_count = question.answers_count %}
{% assign best_answer = question.best_answer %}
<div id='breadcrumbs'>
  <a href='{{home_link}}'>Home</a> &rsaquo; <a href='{{ question.topic.public_questions_url }}'>{{ question.topic.name  | clip:30 }}</a> &rsaquo; {{ question.subject | clip:30 }}
</div>
<div id='support-main'>
  {% if just_moderated %}
    <div id="modal-screen">&nbsp;</div>
    <div id="modal">
      <div class="inner">
        <div class="main">
          <h1>Your post is being submitted to a moderator</h1>
          <p class='subheader'>
            It will not be shown until it has been reviewed and approved.
          </p>
          <div id='form'>
            <div class='input-button'>
              <input id='moderation_okay_button'  name='commit' type='submit'  value='OKAY, I UNDERSTAND' />
              <img alt='Ajax-loader-small' id='question_submit_spinner' src='{{ "/images/ajax-loader-small.gif" | portal_image_url: image_asset_host }}' style='display: none; margin: 7px 0 0 5px; position: absolute;'/>
            </div> 
          </div> 
        </div>
      </div>
    </div>
    <script type='text/javascript'>
      //<![CDATA[
      $(document).ready(function() {
        $('h5 a').css('display', 'none');
      });
      $("#moderation_okay_button").click(function() {
        $('h5 a').css('display', 'inline');
        $('#modal-screen').hide();
        $('#modal').hide();
      });
      $("#modal-screen").css({
        "opacity":"0.7"
      });
      if($.browser.msie && $.browser.version < 7) {
        $("#qna_kb_topic_id").css("display","none");
        $("#modal-screen").css({
          "width": $(window).width() + "px",
          "height": $(window).height() + "px"
        });
      }
    </script>
  {% endif %}
  <div class='support-body'>
    <div class='content question'>
      <div class='question-body'>
        <span class='gravatar-wrapper'>
          {{ question.from_email | gravatar_image: gravatar_unknown_user, ssl }}
        </span>
        <div class='question-details'>
          <h3>{{ question.subject }}</h3>
          <div class='meta'>
            <span class='name'>
              {{ question.from_name }}
            </span>
            <span>
              {{ question.created_at | in_time_zone: site.timezone | date: '%b %d, %Y %I:%M%p %Z' }}
            </span>
          </div>
          <p>{{ question.body }}</p>
          {% if best_answer != nil %} 
          <h4 id='question-best-answer-heading'>
            {{ answers_count }}
            Community 
            {{ 'Answer' | pluralize: answer_count }}
          </h4>
        {% endif %}
        </div>
        {% if best_answer != nil %}
          <div id='question-best-answer'>
            <div class='reply'>
              <span class='best-answer-green'>
                Best Answer
              </span>
              <span class='gravatar-wrapper'>
                {{ best_answer.from_email | gravatar_image: gravatar_unknown_user,  ssl }}
              </span>
              <div class='answer-details'>
                <div class='meta'>
                  <span>
                    {{ best_answer.from_name }}
                  </span>
                  <span class="date">
                    {{ best_answer.updated_at | in_time_zone: site.timezone | date: '%b %d, %Y %I:%M%p %Z' }}
                  </span>
                </div>
                <p>{{ best_answer.body }}</p>
                {% if question.answers_count > 1 %}
                    <p>
                    <span>
                      <a href="#best-answer-conversation">
                        View in conversation
                      </a>
                    </span>
                  </p>
                {% endif %}
              </div>
            </div>
            <br/>
          </div>
          {% endif %}
      </div>
      {% if question.non_best_answers_exist %}
        <div class='replies'>
          {% for answer in question.answers %}
            <div class='reply'>
               {% if current_user == answer.user %}
                <div class='answer-rating rating-true'>
                  <div>
                    <span class='score {% if answer.rating_value > 0 %}score-positive{% elsif answer.rating_value < 0 %}score-negative{% endif %}' id='score-{{answer.id}}'>{{ answer.rating_value }}</span>
                    <span class='dialog'>Score</span>
                  </div>
                </div>
              {% else %}
                <div class='answer-rating rating-{{ answer | already_rated_by_user: current_user }}'>
                  <div>
                    {{ answer | already_rated_up: current_user }}
                    <span class='score {% if answer.rating_value > 0 %}score-positive{% elsif answer.rating_value < 0 %}score-negative{% endif %}' id='score-{{answer.id}}'>{{ answer.rating_value }}</span>
                    <span class='dialog'>Rated</span>
                    {{ answer | already_rated_down: current_user }}
                  </div>
                </div>
              {% endif %}
              <span class='gravatar-wrapper'>
                {{ answer.from_email | gravatar_image: gravatar_unknown_user,   ssl }}
              </span>
              <div class='answer-details'>
                <div class='meta'>
                  <span>
                    {{ answer.from_name }}
                  </span>
                  {% if answer.id == best_answer.id %}
                      <span class='best-answer-green'>
                      <a name="best-answer-conversation">
                        Best Answer
                      </a>
                    </span>
                  {% endif %}
                  {% if answer.agent? %}
                        <span class='date-short'>
                        {{ answer.updated_at | in_time_zone: site.timezone | date: '%b %d, %Y %I:%M%p %Z' }}
                    </span>
                    <span class='agent-answer-label'>
                      {{ site.company_name }} {{ site.agent_name_config }}
                    </span>
                  {% else %}
                    <span class='date'>
                      {{ answer.updated_at | in_time_zone: site.timezone | date: '%b %d, %Y %I:%M%p %Z' }}
                    </span>
                  {% endif %}
                </div>
                <div class="answer-body">{{ answer.body }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if question.allow_answers? != true or question.case.closed? %}
        <p class='form-notice'>This question is closed to new answers.</p>
      {% else %}
        <div id='form'>
          <h4>Post Your Public Answer</h4>
          <div id='qna-reply-form'>
            {{ form_begin }}
              {% if current_user == nil or current_user.is_guest %}
                <div class='input-block'>
                  <span class='label'>
                    Your name <span>(required)</span>
                  </span>
                  <div>
                    <input id='interaction_name' maxlength='100' name='interaction[name]' value='{{ interaction.name }}' type='text' />
                  </div>
                </div>
                <div class='input-block'>
                  <span class='label'>
                    Your email address <span>(required)</span> 
                  </span>
                  <div>
                    <input id='interaction_email' value='{{ interaction.email }}' maxlength='100' name='interaction[email]' size='100' type='text' />
                  </div>
                </div>
              {% endif %}
              <div class='input-block'>
                <span class='label'>
                  Answer <span>(required)</span>
                </span>
                <div>
                  <textarea cols='40' id='qna_body' name='qna[body]' rows='20'>{{ qna.body }}</textarea>
                </div>
              </div>
              <div class='input-button'>
                <input id='answer_submit' name='commit' type='submit' value='Post Answer' />
              </div>
            {{ form_end }}
          </div>
          <script type='text/javascript'>
            //<![CDATA[
            $('#qna_body').textarea_maxlength();            
            $('#new_answer').validate({
              submitHandler: function(form) {
                $('#answer_submit').attr('disabled',true);
                $('#answer_submit').addClass('disabled');
                form.submit();
              },
              messages:{
                'interaction[name]':{
                  'required':'Name is required.'
                },
                'interaction[email]':{
                  'required':'Email address is required.',
                  'email':'Invalid email address'
                },
                'qna[body]':{
                  'required':'Answer is required.',
                  'maxlength':'Exceeding max length of 5KB'
                }
              },
              rules:{
                'interaction[name]':{
                  'required':true
                },
                'interaction[email]':{
                  'required':true,
                  'email':true
                },
                'qna[body]':{
                  'required':true,
                  'maxlength':5000
                }
              },
              errorClass:'invalid'
            });
            //]]>
          </script>
        </div>
      {% endif %}
    </div>
  </div>
  <!--
  ***************
  The following attribution needs to remain as is in terms of wording with the appropriate link back to Assistly as per our terms of service: http://www.assistly.com/terms
  If you would like, you may change the location or the styling to better match your site, but the content and the link must remain in the template and visible to end users.
  ****************
  -->
  <div id='footer'>
    {{ footer_content }}
    <br/>
    <a href='http://www.assistly.com'>Customer service software</a> powered by Assistly Inc.
  </div>
</div>
