{% macro exercise_legend() -%}
<div class="exercise-legend" style="">
    <span class="exercise-color proficient"></span>
    <span class="legend-label proficient">Proficient</span>
    <span class="exercise-color suggested"></span>
    <span class="legend-label suggested ">Suggested</span>
    <span class="exercise-color review"></span>
    <span class="legend-label review">Review</span>
    <span class="exercise-color not-started"></span>
    <span class="legend-label not-started">Not Started</span>
</div>
{%- endmacro %}

{% macro exercise_dashboard() -%}
    <div class="dashboard-header">
        <div class="dashboard-nav">
            <span class="selected"><a href="#">Knowledge Map{% if App.offline_mode %} (<em>not supported in offline mode</em>){% endif %}</a></span> |
            <span class="menu"><a href="/profile?k">Vital Statistics</a></span>
        </div>
        <div class="dashboard-title"><img src="/images/dashboard-icon-active.png" id="dashboard-icon" width=22 height=22 /> Exercises <a href="#" id="collapse-drawer" class="toggle-drawer"><img src="/images/expand-left.png" width="25" height="25"/></a></div>
            <a href="#" id="expand-drawer" class="toggle-drawer"><img src="/images/expand-right.png" width="25" height="25" /></a>
        </div>
    <div id="dashboard-drawer" class="drawer-hoverable">
    <div id="dashboard-drawer-inner" class="fancy-scrollbar"><div>
       <div id="dashboard-filter">
          <input type="text" id="dashboard-filter-text" class="ui-corner-all simple-input" placeholder="Start typing the name of an exercise to find it" /><input id="dashboard-filter-clear" type="button" value="Clear" class="simple-button action-gradient ui-corner-right strict" style="display: none;"></input>
       </div>
       <div id="exercise-list">
        <span class="exercise-sublist" id="dashboard-suggested-exercises">
        <h3>Suggested Exercises <span class="exercise-filter-count"></span></h3>
         <div class="exercise-content" id="dashboard-suggested-exercises-content"></div>
        </span>
        <br>
        <span class="exercise-sublist" id="dashboard-recent-exercises">
         <h3>Recent Exercises <span class="exercise-filter-count"></span></h3>
         <div class="exercise-content" id="dashboard-recent-exercises-content"></div>
        </span>
        <br/>
        <span class="exercise-sublist" id="dashboard-all-exercises">
         <h3>All Exercises <span class="exercise-filter-count"></span>
           <span class="subheader" id="exercise-all-exercises">(<a href="javascript: KnowledgeMap.toggleShowAll()" id="exercise-all-exercises-text">Show All</a>)</span>
         </h3>
         <div class="exercise-content" id="dashboard-all-exercises-content"></div>
        </span>
        <span id="exercise-no-results" style="display: none;">No exercises match your query.</span>
       </div>
    </div></div>
    </div>
{%- endmacro %}

{% macro knowledgemap(map_coords) -%}
    <script src="http://maps.google.com/maps/api/js?v=3.3&sensor=false" type="text/javascript"></script>
    {{ js_css_packages.js_package("maps") }}


    <div id="map-canvas"></div>
{%- endmacro %}
