{% macro exercise_legend() -%}
<div class="exercise-legend" style="">
    <span class="exercise-color proficient"></span>
    <span class="legend-label proficient">Proficient</span>
    <span class="exercise-color suggested"></span>
    <span class="legend-label suggested ">Suggested</span>
    <span class="exercise-color review"></span>
    <span class="legend-label review">Review</span>
    <span class="exercise-color not-started"></span>
    <span class="legend-label not-started">Not Started</span>
</div>
{%- endmacro %}

{% macro exercise_dashboard(review_graph_dicts, suggested_graph_dicts, recent_graph_dicts, graph_dicts, page='knowledgemap') -%}
    <div class="dashboard-header">
        <div class="dashboard-nav">
            <span class="selected"><a href="#">Knowledge Map{% if App.offline_mode %} (<em>not supported in offline mode</em>){% endif %}</a></span> |
            <span class="menu"><a href="/profile?k">Vital Statistics</a></span>
        </div>
        <div class="dashboard-title"><img src="/images/dashboard-icon-active.png" id="dashboard-icon" width=22 height=22 /> Exercises <a href="#" id="collapse-drawer" class="toggle-drawer"><img src="/images/expand-left.png" width="25" height="25"/></a></div>
            <a href="#" id="expand-drawer" class="toggle-drawer"><img src="/images/expand-right.png" width="25" height="25" /></a>
        </div>
    <div id="dashboard-drawer" class="drawer-hoverable">
    <div id="dashboard-drawer-inner" class="fancy-scrollbar"><div>
       <div id="dashboard-filter">
          <input size="36" id="dashboard-filter-text" class="ui-corner-all" placeholder="Start typing the name of an exercise to find it" /><input id="dashboard-filter-clear" type="button" value="Clear" class="simple-button action-gradient ui-corner-right strict" style="display: none;"></input>
       </div>
       <div id="exercise-list">
       <span class="exercise-sublist">
       <h3>Suggested Exercises <span class="exercise-filter-count"></span></h3>
        {% if review_graph_dicts %}
        {% for graph_dict in review_graph_dicts %}
            <div class="exercise-badge" data-id="{{graph_dict.name}}">
                {{ exercise_icon(graph_dict) }}
                <div class="energy-points-badge">{{graph_dict.points}}</div>
                <div class="exercise-title">
                    {% if page == 'creategoal' %}<a href="javascript:GoalCreator.onExerciseBadgeClicked('{{graph_dict.name}}');">{% else %}<a href="/exercises?exid={{graph_dict.name}}">{% endif %}
                    {{graph_dict.display_name}}</a></div>
                <span class="exercise-show simple-button action-gradient" data-id="{{graph_dict.name}}" style="display:none;"><img src="/images/map-target.png" title="Show in map" alt="Show in map"></span>

                {{ templatetags.streak_bar(graph_dict) }}
            </div>
        {% endfor %}
        {% endif %}

        {% for graph_dict in suggested_graph_dicts %}
            <div class="exercise-badge" data-id="{{graph_dict.name}}">
                {{ exercise_icon(graph_dict) }}
                <div class="energy-points-badge">{{graph_dict.points}}</div>
                <div class="exercise-title">
                    {% if page == 'creategoal' %}<a href="javascript:GoalCreator.onExerciseBadgeClicked('{{graph_dict.name}}');">{% else %}<a href="/exercises?exid={{graph_dict.name}}">{% endif %}
                    {{graph_dict.display_name}}</a></div>
                <span class="exercise-show simple-button action-gradient" data-id="{{graph_dict.name}}" style="display:none;"><img src="/images/map-target.png" title="Show in map" alt="Show in map"></span>

                {{ templatetags.streak_bar(graph_dict) }}
            </div>
        {% endfor %}
        </span>
        <br>
        {% if recent_graph_dicts %}
            <span class="exercise-sublist">
            <h3>Recent Exercises <span class="exercise-filter-count"></span></h3>
            {% for graph_dict in recent_graph_dicts %}
                <div class="exercise-badge" data-id="{{graph_dict.name}}">
                    {{ exercise_icon(graph_dict) }}
                    <div class="energy-points-badge">{{graph_dict.points}}</div>
                    <div class="exercise-title">
                        {% if page == 'creategoal' %}<a href="javascript:GoalCreator.onExerciseBadgeClicked('{{graph_dict.name}}');">{% else %}<a href="/exercises?exid={{graph_dict.name}}">{% endif %}
                        {{graph_dict.display_name}}</a></div>
                    <span class="exercise-show simple-button action-gradient" data-id="{{graph_dict.name}}" style="display:none;"><img src="/images/map-target.png" title="Show in map" alt="Show in map"></span>

                    {{ templatetags.streak_bar(graph_dict) }}
                </div>
            {% endfor %}
            </span>
            <br/>
        {% endif %}
        <span class="exercise-sublist">
        <h3>All Exercises <span class="exercise-filter-count"></span>
            <span class="subheader" id="exercise-all-exercises">(<a href="#" id="show-all-exercises">{% if expanded_all_exercises %}Hide All{% else %}Show All{% endif %}</a>)</span>
        </h3>
        <div id="all-exercises" style="{% if not expanded_all_exercises %}display: none;{% endif %}">
        {% for graph_dict in graph_dicts %}
            <div class="exercise-badge" data-id="{{graph_dict.name}}" id="{{graph_dict.name}}">
                {{ exercise_icon(graph_dict) }}
                <div class="energy-points-badge">{{graph_dict.points}}</div>
                <div class="exercise-title">
                    {% if page == 'creategoal' %}<a href="javascript:GoalCreator.onExerciseBadgeClicked('{{graph_dict.name}}');">{% else %}<a href="/exercises?exid={{graph_dict.name}}">{% endif %}
                    {{graph_dict.display_name}}</a></div>
                <span class="exercise-show simple-button action-gradient" data-id="{{graph_dict.name}}" style="display:none;"><img src="/images/map-target.png" title="Show in map" alt="Show in map"></span>
                {{ templatetags.streak_bar(graph_dict) }}
            </div>
        {% endfor %}
        </div>
        <span id="exercise-no-results" style="display:none;">No exercises match your query.</span>
       </div>
    </div></div>
    </div>
{%- endmacro %}

{% macro exercise_icon(exercise) -%}

    {% set s_prefix = "node-challenge" if exercise.summative else "node" %}

    <div id="exercise-icon-container">
        <div class="proficient-badge">
            <img src="
            {%- if exercise.status == "Review" -%}
                /images/node-review.png
            {%- elif exercise.status == "Suggested" -%}
                /images/{{ s_prefix }}-suggested.png
            {%- elif exercise.status == "Proficient" -%}
                /images/{{ s_prefix }}-complete.png
            {%- else -%}
                /images/{{ s_prefix }}-not-started.png
            {%- endif -%}
            ?{{App.version}}" height=80 width=76>
        </div>
    </div>

{%- endmacro %}

{% macro knowledgemap(graph_dicts, map_coords, admin=False) -%}
    <script src="http://maps.google.com/maps/api/js?v=3.3&sensor=false" type="text/javascript"></script>
    {{ js_css_packages.js_package("maps") }}

    <script>

    $(function(){KnowledgeMap.init({{ map_coords.0 }}, {{ map_coords.1 }}, {{ map_coords.2 }}, {{json.dumps(admin)}});});

    </script>

    <article id="knowledge_map">
        <table class="hidden_knowledge_map">
            <tr>
                <th>
                    Energy Points
                </th>
                <th>
                    Exercise
                </th>
                <th>
                    Status
                </th>
                <th>
                    Longest Streak
                </th>
                <th>
                    Progress
                </th>
                <th>
                    Prerequisites
                </th>
            </tr>
            {% for graph_dict in graph_dicts %}
            <tr data-id="{{ graph_dict.name }}" data-points="{{ graph_dict.points }}" data-name="{{ graph_dict.display_name }}" data-status="{{ graph_dict.status }}" data-longest_streak='{{ graph_dict.longest_streak }}' data-progress='{{ graph_dict.progress }}' data-h_position='{{ graph_dict.h_position }}' data-v_position='{{ graph_dict.v_position }}' data-summative='{{ graph_dict.summative }}'>
                <td class="points">
                    {{ graph_dict.points }}
                </td>
                <td class="name">
                    <a href="/exercises?exid={{graph_dict.name}}">{{ graph_dict.display_name }}</a>
                </td>
                <td class="status">
                    {{ graph_dict.status }}
                </td>
                <td class="longest_streak">
                    {{ graph_dict.longest_streak }}
                </td>
                <td class="progress">
                    {{ graph_dict.progress }}
                </td>
                <td class="prereqs">
                    <ul>
                        {% for prereq in graph_dict.prerequisites %}
                        <li data-prereq="{{ prereq.name }}">
                            <a href="/exercises?exid={{prereq.name }}">{{ prereq.display_name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </table>
    </article>
    <div id="map-canvas"></div>
{%- endmacro %}
