ul.inline-list, ul.inline-list li {
    display: inline;
}

a.objective {
    display: inline-block;
    width: 140px;
    height: 25px;
    border: 1px solid #000;
    margin: 10px;
    padding: 2px;
    overflow: hidden;
}

#student-goals-sort-block, #student-goals-filter-block {
    display: inline-block;
}

#goals-current-container, #goals-nav-container {
    margin-left: 100px;
}

#class-student-goal .student-name {
    display: inline-block;
    width: 180px;
    font-size: 10pt;
}
#class-student-goal .goal-start-time {
    font-size: 8pt;
}
#class-student-goal .goal-update-time {
    font-size: 8pt;
}
#class-student-goal .goal {
    display: inline-block;
    width: 650px;
}

#class-student-goal a.objective {
    display: block;
    float: left;
    margin: 0px;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 3px;

    width: 94px;
    height: 20px;
    font-size: 8pt;
}

#class-student-goal a.objective.GoalObjectiveExerciseProficiency {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a.objective.GoalObjectiveExerciseProficiency.proficient {
    background-color: #0080C9;
    color: #eee !important;
}
a.objective.GoalObjectiveExerciseProficiency.suggested {
    background-color: #73982C;
    color: #eee !important;
}
a.objective.GoalObjectiveExerciseProficiency.review {
    background-color: #E35D04;
    color: #eee !important;
}
a.objective.GoalObjectiveExerciseProficiency.review.light {
    background-color: #f2b891;
    color: #333 !important;
}
a.objective.GoalObjectiveExerciseProficiency.not-started {
    background-color: #ccc;
}
a.objective.GoalObjectiveExerciseProficiency.struggling {
    background-color: #C30202;
    color: #dfdfdf !important;
}
a.objective.GoalObjectiveExerciseProficiency.started {
    background-color: #c7e5f7;
}

#class-student-goal a.objective.GoalObjectiveWatchVideo {
    background-color: #ccc;
    height: 18px;
}
#class-student-goal a.objective.GoalObjectiveWatchVideo.proficient {
    background-color: #00C940;
}
#class-student-goal a.objective.GoalObjectiveWatchVideo.started {
    background-color: #c7f795;
}
