Problems done: 
<select name="comp" class="find-selected">
    <option value=">=">&ge;</option>
    <option value=">">&gt;</option>
    <option value="<=">&le;</option>
    <option value="<">&lt;</option>
    <option value="=">=</option>
</select>

<input type="text" name="problems_done" value="{{problems_done}}">

<script type="text/javascript">
    var hey = $(".find-selected")
        .removeClass("find-selected")
        .find("[value='{{{comp}}}']")
            .attr("selected", "selected");
</script>
