{% extends "stories/template.html" %}

{% block pagescript %}

<style>

body {
    background-color: #E9EFDD;
}

.left-header-container {
    padding-top: 45px;
}

.stories-header {
    background-color: #1A222D;
    padding: 18px 0 0 0;
}

.stories-header h1 {
    margin-bottom: 45px;
    font-size: 54px;
    line-height: 54px;
}

.stories-header h1, 
.stories-header h2
{
    color: #DDD;
}

.stories-header h2 a:hover {
    color: #DDD;
    text-decoration: none;
}

.stories-submit {
    background-color: #E6E6E6;
    height: 200px;
    padding: 18px 0;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;

    -webkit-box-shadow: inset 0px 3px 5px 2px rgba(204, 204, 204, 0.6);
}

.stories-body {
    padding-top: 72px;
    border-top: 1px solid #F6FEED;

    -webkit-box-shadow: 0px -8px 8px -8px rgba(204, 204, 204, 0.6)
}

.modal {
    max-height: 580px;
    overflow: hidden;
}
.modal .modal-body {
    max-height: 400px;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal .modal-header h3 {
    margin-top: 0;
}
.modal .modal-header .close-button {
    color: black;
}
.modal .modal-footer .span-middle {
    margin-left: 0;
    width: 335px;
}
.modal .modal-footer .center {
    text-align: center;
}
.modal .modal-footer .right {
    text-align: right;
}
.modal .modal-footer .prev-btn,
.modal .modal-footer .next-btn  {
    float: none;
}

h2.stories-header {
    margin-top: 18px;
    padding-bottom: 18px;
}

.big-tree {
    position: relative;
    left: -36px;
    top: 17px;
    width: 375px;
    height: 302px;
    opacity: 0.75;
    filter:alpha(opacity=75);
}

.story {
    float: left;
    padding: 18px;
    position: relative;
    height: 204px;
    cursor: pointer;

    -webkit-transition: -webkit-transform .3s ease-in-out;
}

.story .envelope {
    position: absolute;
    top: 0px;
}

.slit-overlay {
    background: transparent url('/images/stories/slit.png') no-repeat top left;
    height: 6px;
}

.slit-overlay-background {
    background: #E9EFDD;
    height: 100px;
}

.slit-overlay,
.slit-overlay-background {
    position: relative;
    left: 9px;
    top: 140px;
    width: 319px;
}

.story.envelope-1 {
    width: 300px;
}
.story.envelope-1 .content-teaser {
    background: url('/images/stories/stationary-1.png') no-repeat top right;
    padding: 20px 9px 9px 9px;
    width: 259px;
}
.story.envelope-1 .envelope {
    width: 300px;
    height: 204px;
}
.story.envelope-1 .envelope-background {
    background: url('/images/stories/envelope-1-back-background.png') no-repeat;
}
.story.envelope-1 .envelope-foreground {
    background: url('/images/stories/envelope-1-back-foreground.png') no-repeat;
}

.story.envelope-2 {
    width: 300px;
}
.story.envelope-2 .content-teaser {
    padding: 20px 9px 9px 9px;
    width: 252px;

    background: #C0E3FF;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 2px 2px 3px rgba(204, 204, 204, 0.6);
}
.story.envelope-2 .envelope {
    width: 300px;
    height: 196px;
}
.story.envelope-2 .envelope-background {
    background: url('/images/stories/envelope-2-back-background.png') no-repeat;
}
.story.envelope-2 .envelope-foreground {
    background: url('/images/stories/envelope-2-back-foreground.png') no-repeat;
}

.story.envelope-3 {
    width: 300px;
}
.story.envelope-3 .content-teaser {
    padding: 20px 9px 9px 9px;
    width: 252px;

    background: url('/images/stories/stationary-2.png') no-repeat top right;
}
.story.envelope-3 .envelope {
    width: 300px;
    height: 196px;
}
.story.envelope-3 .envelope-background {
    background: url('/images/stories/envelope-3-back-background.png') no-repeat;
}
.story.envelope-3 .envelope-foreground {
    background: url('/images/stories/envelope-3-back-foreground.png') no-repeat;
}

.story.envelope-4 {
    width: 300px;
}
.story.envelope-4 .content-teaser {
    padding: 20px 9px 9px 9px;
    height: 130px;
    width: 252px;

    background: url('/images/stories/stationary-3.png') no-repeat top right;
}
.story.envelope-4 .envelope {
    width: 300px;
    height: 196px;
}
.story.envelope-4 .envelope-background {
    background: url('/images/stories/envelope-4-back-background.png') no-repeat;
}
.story.envelope-4 .envelope-foreground {
    background: url('/images/stories/envelope-4-back-foreground.png') no-repeat;
}

.story.rotate {
    -webkit-transform: rotate(0deg);
}
.story.rotate .content-teaser {
    -webkit-transform: rotate(0deg);
}

.story.rotate-neg-6:hover {
    -webkit-transform: rotate(-6deg) translateY(-24px);
}
.story.rotate-neg-6:hover .content-teaser {
    -webkit-transform: rotate(6deg) translateY(-30px);
}

.story.rotate-6:hover {
    -webkit-transform: rotate(6deg) translateY(-24px);
}
.story.rotate-6:hover .content-teaser {
    -webkit-transform: rotate(-6deg) translateY(-30px);
}

@-webkit-keyframes letter-show-6 {
    6% { -webkit-transform: rotate(0deg) translateY(-30px); }
    12% { -webkit-transform: rotate(-2deg) translateY(-30px); }
    18% { -webkit-transform: rotate(2deg) translateY(-30px); }
    70% { -webkit-transform: rotate(-6deg) translateY(-80px); }
    100% { opacity: 0; }
}

@-webkit-keyframes letter-show-neg-6 {
    6% { -webkit-transform: rotate(0deg) translateY(-30px); }
    12% { -webkit-transform: rotate(2deg) translateY(-30px); }
    18% { -webkit-transform: rotate(-2deg) translateY(-30px); }
    70% { -webkit-transform: rotate(6deg) translateY(-80px); }
    100% { opacity: 0; }
}

.story.rotate-neg-6.content-teaser-show .content-teaser,
.story.rotate-neg-6.content-teaser-show:hover .content-teaser {
    -webkit-animation: letter-show-neg-6 0.65s ease-in-out 0s 1 normal;
}

.story.rotate-6.content-teaser-show .content-teaser,
.story.rotate-6.content-teaser-show:hover .content-teaser {
    -webkit-animation: letter-show-6 0.65s ease-in-out 0s 1 normal;
}

.story.content-teaser-hide .content-teaser {
    opacity: 0;
    -webkit-transition: -webkit-transform .3s ease-in-out;
}

.story.rotate-neg-6.content-teaser-show,
.story.rotate-neg-6.content-teaser-hide {
    -webkit-transform: rotate(-6deg) translateY(-24px);
}

.story.rotate-6.content-teaser-show,
.story.rotate-6.content-teaser-hide {
    -webkit-transform: rotate(6deg) translateY(-24px);
}

.story .content-teaser {
    position: relative;
    top: -20px;
    overflow: hidden;

    font-size: 16px;
    margin: 12px;
    height: 145px;

    -webkit-transition: -webkit-transform .3s ease-in-out;
} 

.story .content-teaser .youtube-thumbnail-container {
    text-align: center;
}

.story .content-teaser .youtube-thumbnail {
    max-width: 210px;
}

.story .content-teaser .youtube-thumbnail-title {
    position: absolute;
    top: 20px;
    left: 30px;
    padding: 2px 6px;
    width: 198px;
    font-size: 14px;
    color: white;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.5 opacity */
    background: rgba(0, 0, 0, 0.5);
}

.story .content-teaser .youtube-thumbnail-play {
    position: absolute;
    top: 64px;
    left: 86px;
}

</style>

{% endblock pagescript %}

{% block headercontent %}

<div class="row">
    <div class="span11 left-header-container">
        <h1>Khan Academy<br>Stories</h1>
        <h2>These are all real, unedited stories from our users.</h2>
        <h2><a href="#" class="btn large primary share-story-btn">Share yours.</a></h2>
    </div>
    <div class="span5">
        <img class="big-tree" src="/images/large-tree-transparent.png">
    </div>
</div>

{% endblock headercontent %}

{% block submitcontent %}

<div class="row story-submit">
    Story: <textarea></textarea>
</div>

{% endblock submitcontent %}

{% block pagecontent %}

<div id="stories"></div>

{% endblock pagecontent %}

{% block bottompagescript %}

<script>
    $(function() {
        $(".share-story-btn").click(function(e) {
            $(".stories-submit").slideToggle();
            e.preventDefault();
        });
    });

    Stories.render({
        target: "#stories",
        content: [
            {% for story in stories %}
            {
                {% if story.youtube_id %}
                "youtube_id": "{{ story.youtube_id }}",
                "youtube_title": "{{ story.youtube_title }}",
                {% else %}
                "teaser_html": "{{ story.teaser|strip|escapejs|linebreaksbr_js }}",
                "content_html": "{{ story.content|strip|escapejs|linebreaksbr_js }}",
                {% endif %}
                "date": "{{ story.date|strip|escapejs }}",
                "author": "{{ story.author|strip|escapejs }}",
                "name": "{{ story.name|strip|escapejs }}",
            }{% if not loop.last %},{%endif%}
            {% endfor %}
        ]
    });
</script>

{% endblock bottompagescript %}
