<!DOCTYPE html>
<html xmlns:mml="http://www.w3.org/1998/Math/MathML" xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <title>Stories | Khan Academy</title>
        {{ js_css_packages.css_package("shared") }}
        {{ js_css_packages.css_package("stories") }}

        {% block pagescript %}
        {% endblock pagescript %}

        <meta property="og:title" content="Real, unedited stories from Khan Academy users" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.khanacademy.org/stories" />
        <meta property="og:image" content="http://www.khanacademy.org/images/large-tree-transparent.png" />
        <meta property="og:site_name" content="The Khan Academy" />
        <meta property="fb:admins" content="1305017" />

    </head>
    <body>
        <div id="fb-root"></div>
        <div class="stories-header">
            <div class="container">
                {% block headercontent %}
                {% endblock headercontent %}
            </div>
        </div>
        <div class="stories-submit" style="display:none;">
            <div class="container">
                {% block submitcontent %}
                {% endblock submitcontent %}
            </div>
        </div>
        <div class="stories-body">
            <div class="container">
                {% block pagecontent %}
                {% endblock pagecontent %}
            </div>
        </div>
    </body>

    {{ js_css_packages.js_package("shared") }}
    {{ js_css_packages.js_package("stories") }}

    {% block bottompagescript %}
    {% endblock bottompagescript %}

</html>

