{% import 'macros/library.html' as library %}

<ol style="height:{{list_height}}px;" data-role="listview" data-inset="true">
    {% for topic_video in videos %}<li class="m{{loop.index0|find_column_index(column_indices)}}"{% if loop.index0|in_list(column_indices) %} style="margin-top:-{{loop.index0|column_height(column_indices) * link_height}}px;"{%endif%}><a href="/video/{{topic_video.readable_id}}?topic={{topic.title|urlencode}}" {% if topic_video.title|length > 40 %}title="{{topic_video.title|escape}}" {% endif %}class='vl'>{{ library.video_name_and_progress(topic_video) }}</a></li>{% endfor %}
</ol>

