{% extends "about/about_template.html" %}
{% import 'macros/youtube.html' as youtube %}
{% block aboutcontent %}

<style>
	.ways-to-donate p.pulls {
		margin: 0;
	}
</style>

<div id="donate" style="font-size: 14px;">
	
    <div class="col1 sixty-forty">
        <h2 class="section-headline">Donate to Khan Academy</h2>
<p>We are on a mission to provide a free world-class education to anyone anywhere. We believe everyone in the world should have access to a high quality education, and we are feverishly trying to do our part to make this a reality. We are a tax-exempt 501(C)(3) nonprofit organization - <b>Tax ID Number: 26-1544963</b>. <i>Your gift is tax-deductible as allowed by law.</i></p><p>We welcome any support you can provide to help us make a difference!</p>

<TABLE BORDER="1" BORDERCOLOR=#000000 CELLPADDING="1" CELLSPACING="0" WIDTH="100%" BGCOLOR="#009999">
<TR>
<TD>
<TABLE BORDER="1" BORDERCOLOR=#000000 CELLPADDING="1" CELLSPACING="0" WIDTH="100%" BGCOLOR="#ffffff">
<TR>
<TD WIDTH="100%"><h2 class="section-headline">Online Donations</h2></TD>
</TR>
</TABLE>
</TD>
</TR>
</TABLE>

<TABLE BORDER="1" BORDERCOLOR=#000000 CELLPADDING="10" CELLSPACING="0" WIDTH="100%" BGCOLOR="#000333">
<TR>
	<TD>
	<TABLE BORDER="1" BORDERCOLOR=#000000 CELLPADDING="10" CELLSPACING="0" WIDTH="100%" BGCOLOR="#E9EFDD">
	<TR>
		<TD WIDTH="100%">

		<p class="pulled" style="font-family: Georgia, serif; font-size: 13px; margin-bottom: 18px;"></p>
		<div class="col1" style="max-width: 45%; min-width: 45%;">
		    <h4><b>One-time donation</b></h4><p>
		        <a class="google-analytics-link-track" onclick="_gaq.push(['_trackEvent', 'Click', 'Donate-Link-Paypal']);" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2439291" >
		            <img src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif">
		        </a>
		    </p>
		</div>
		<div class="col2" style="text-align: left;">
			
			
			
		    <h4><b>Recurring donation</b></h4>
		    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="recurring-donations">
		        <input type="hidden" name="cmd" value="_xclick-subscriptions">
		        <input type="hidden" name="business" value="JBBC7SGTYUGK2">
		        <input type="hidden" name="lc" value="US">
		        <input type="hidden" name="item_name" value="Recurring donation to Khan Academy">
		        <input type="hidden" name="no_note" value="1">
		        <input type="hidden" name="no_shipping" value="2">
		        <input type="hidden" name="src" value="1">
		        <input type="hidden" name="p3" value="1">
		        <input type="hidden" name="currency_code" value="USD">
		        <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHosted">
		        <input type="hidden" name="return" value="http://khanacademy.org">
		            Donate $<input type="text" name="a3" value="100" maxlength="30" style="width:45px;margin-left:2px;"> once a
		            <nobr>
		            <select name="t3" id="time-frame-select">
		            	<option value="W" data-plural="weeks">week</option>
		            	<option value="M" data-plural="months" selected>month</option>
		            	<option value="Y" data-plural="years">year</option>
		            </select>
		            for
		            <select name="srt">
		                 <option value="2">2</option>
		                 <option value="3">3</option>
		                 <option value="4">4</option>
		                 <option value="5">5</option>
		                 <option value="6">6</option>
		                 <option value="7">7</option>
		                 <option value="8">8</option>
		                 <option value="9">9</option>
		                 <option value="10">10</option>
		                 <option value="11">11</option>
		                 <option value="12" selected>12</option>
		                 <option value="24">24</option>
		                 <option value="36">36</option>
		                 <option value="0">Forever</option>
		             </select>
		             <span id="selected-time-frame">months</span></nobr>
		        <input id="recurring-donations-submit" type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		         <img src="/images/throbber.gif" class="throbber" style="display:none;" />
		         <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
		     </form>
		     <script>
		         $("#time-frame-select").change(function() {
		             $("#selected-time-frame").html($("option:selected", this).attr("data-plural"));
		         });
		     </script>
		</div>		
			</TD>
		</TR>

		</TABLE>
		</TD>
		</TR>
		</TABLE>	<br>
		<div class="ways-to-donate">
			<h2 class="section-headline">Other ways to Donate to Khan Academy</h2><hr>
			<p class="pulls"><a id="check-mail-link" href="#">MAIL US A CHECK</a></p>
			<div id="check-mail" style="display:none;">        
				<p>Please make checks payable to “Khan Academy.” and include a letter with the donation amount, your name, email, phone number and address. Please mail the letter and your check to:</p>
				<li>Khan Academy</li>
				<li>PO Box 1630 </li>
				<li>Mountain View, CA, 94042</li><br><hr>
			    </ul>
			</div>
			<script>$("#check-mail-link").click(function(){$("#check-mail").slideDown("fast"); return false;});</script>
			<p class="pulls"><a id="credit-bymail-link" href="#">CREDIT CARD BY MAIL</a></p>
			<div id="credit-bymail" style="display:none;">
			    <p>If you would like to donate with a credit card by mail, please send us the following information by mail to: </p>
			    <ul>
			   <ul>		
				    <li>Khan Academy</li>
					<li>PO Box 1630 </li>
					<li>Mountain View, CA, 94041</li>
			<ul>
					<li>Your Name:  ________________________________</li>
					<li>Address:  __________________________________</li>
					<li>City: 	    ________________________________</li>
					<li>State: 	    ________________ Zip:  _________</li>
			<ul>
					<li>Name on the credit card:</li> 
					<li>Billing address: __________________</li>
					<li>Credit card:     MasterCard |  Visa | Diner’s Club | and Discover </li>
					<li>Credit card number: __________________</li>
					<li>Expiration date: __________________</li>
					<li>Donation amount: $__________________</li><br><hr>
			    </ul>
			</div>
			<script>$("#credit-bymail-link").click(function(){$("#credit-bymail").slideDown("fast"); return false;});</script>

			<p class="pulls"><a id="credit-byphone-link" href="#">CREDIT CARD BY PHONE</a></p>
			<div id="credit-byphone" style="display:none;">
			    <p>Please call us at the Development Office at 1.650.331.9319 to provide the donation and credit card information over the phone, Monday-Friday 12PM– 8PM EST. If we are not available, please leave a message and we will try to return your call within the next business day. Please mail the letter and your check to: </p>
			    <ul>
					<li>Khan Academy</li>
					<li>PO Box 1630 </li>
					<li>Mountain View, CA, 94042</li><br><hr>
			    </ul>
			</div>
			<script>$("#credit-byphone-link").click(function(){$("#credit-byphone").slideDown("fast"); return false;});</script>


			<p class="pulls"><a id="stock-gift-link" href="#">STOCK GIFTS</a></p>
			<div id="stock-gift" style="display:none;">
			    <p>Download instructions for making physical and electronic stock gifts here.The donated value of the stock will be calculated by taking the average of the high and low prices for the day the date stamp indicates on the certificate. Contact us by phone or email if you intend to transfer stock to our account so we may acknowledge your gift.</p>
			    <ul>
				<li>By email:  donate@khanacademy.org</li>
				<li>By phone:  650.331.9319 (Monday-Friday 12PM – 8PM EST)</li>
			<ul>
				<li>We will need the donor’s name, the name of the stock, # shares, and the amount. This will make it easier to receive and track the gift.
			    </ul><br><hr>
			</div>
			<script>$("#stock-gift-link").click(function(){$("#stock-gift").slideDown("fast"); return false;});</script>


			<p class="pulls"><a id="wire-transfers-link" href="#">WIRE TRANSFERS</a></p>
			<div id="wire-transfers" style="display:none;">
			    <p>Download instructions for making wire transfers <b>here</b>. Please help us thank you for your generous support by contacting us by phone or email if you intend to transfer stock to our account so we may acknowledge your gift.</p>
			<ul>
				<li>By email:  donate@khanacademy.org</li>
				<li>By phone:  650.331.9319 (Monday-Friday 12PM– 8PM EST)</li>
			<ul>
				<li>We will need the donor’s name and the amount of the transfer. This will make it easier to receive and acknowledge the gift.</li><br><hr>
			    </ul>
			</div>
			<script>$("#wire-transfers-link").click(function(){$("#wire-transfers").slideDown("fast"); return false;});</script>
			<p class="pulls"><a id="matching-gifts-link" href="#">MATCHING GIFTS</a></p>
			<div id="matching-gifts" style="display:none;">
			    <p>Take advantage of your employer’s matching gifts program. Please help us by adding us to your company’s matching gift program! </p><br><hr>
			</div>
			<script>$("#matching-gifts-link").click(function(){$("#matching-gifts").slideDown("fast"); return false;});</script>

			<p class="pulls"><a id="corporate-partnerships-link" href="#">CORPORATE PARTNERSHIPS</a></p>
			<div id="corporate-partnerships" style="display:none;">
			    <p>If your company would like to partner with the Khan Academy please contact us at: </p>
			    <ul>
					<li>By email:  donate@khanacademy.org</li>
					<li>By phone:  650.331.9319 (Monday-Friday 12PM– 8PM EST)</li>
			    </ul>
			</div>
			<script>$("#corporate-partnerships-link").click(function(){$("#corporate-partnerships").slideDown("fast"); return false;});</script>
			<br>
		
			<h2 class="section-headline">Khan Academy: Model for future of U.S. education?</h2> <hr>
			<img src="/images/60-minutes-logo.png" width="80" height="80" align="right" cellpadding="5">
			<b>CBS News / 60 Minutes, March 8, 2012:</b> ..."Now, schools are using Khan Academy with the aid of a "dashboard" Khan's staff created that monitors the real-time progress of individual students. This feature lets teachers find and teach the stragglers before they fall too far behind. "I can track their progress...I can see who's rushing ahead, who's lagging behind," says Courtney Cadwell, a teacher at the Egan Junior High School in Los Altos, Calif. "I feel I am using my time more effectively."</p>

			<p>This measurement of progress could be a breakthrough, says Eric Schmidt, the chairman of Google, who tells Gupta that innovation never comes from the institutions themselves, but rather from visionary figures outside those institutions. "Sal is that person in education in my view. He built a platform. If that platform works, that platform could completely change education in America," says Schmidt."<a href="http://www.cbsnews.com/8301-18560_162-57393391/khan-academy-model-for-future-of-u.s-education/?tag=currentVideoInfo;videoMetaInfo"> More...</a></p>
			
		</div>
	</div>
	
	<div class="col2 sixty-forty" padding-top: 18px;">
		
			<h2 class="section-headline">Downloads</h2> <hr>	
				<table border="1" cellpadding="5" cellspacing="0" width="100%">
				<tr><td align="left" valign="top" width="33%">

					<img src="/images/icon_pdf.png" class="pdf-form-990"/><br><a href="#">Form 990</a><br>

				</td><td align="left" valign="top" width="33%">

					<img src="/images/icon_pdf.png" class="pdf-wire-transfer-instructions"/><br> <a href="#">Wire Instructions</a><br>

				</td><td align="left" valign="top" width="33%">

					<img src="/images/icon_pdf.png" class="pdf-stock-donation-instructions"/><br><a href="#">Stock Instructions</a>

				</td></tr></table><br>
		<h2 class="section-headline">Your support helps us:</h2><hr>
				<li>Keep the site running, totally free</li>
				<li>Create more high-quality content, in more languages</li>
				<li>Develop interactive assessment exercises, to complement the video library</li>
				<li>Improve our website and create the best free, online educational experience possible</li>
				<li>Support efforts to use our technology in schools around the world</li>
				<li>Explore other ideas we have on the future of education and how we think learning should be done!</li>
	
				
		<br><br>
		
		<h2 class="section-headline">Featured Program</h2>
		<hr>
		<b>The Khan Academy Discovery Lab</b> allows us to show innovative ways to integrate technology into the hands-on learning experience. <a href="http://www.khanacademy.org/about/discovery-lab">More...</a><br><br>
		

		    {{ youtube.player_embed("AkSGR_oj0rg", "99%", 300) }}
		
		
	</div>
	
	<div class="clear"></div>

	<hr>
    </div>

	<div style="clear:both;"></div>
    <div style="text-align:center;"><p>The Khan Academy has also received the time, energy, and expertise of many <a href="/contribute/credits">volunteers and part-time contributors</a>.</p></div>

    <p>&nbsp;</p>
</div>
{% endblock aboutcontent %}

{% block bottompagescript %}
{{ super() }}
<script type="text/javascript" charset="utf-8">
$(function(){
    $('#jason').hover(
        function(){$('#jason').attr('src', '/images/headshots/jason-rawr.jpg');},
        function(){$('#jason').attr('src', '/images/headshots/jason.jpg');}
    );
});
</script>
{% endblock bottompagescript %}
