{% extends "page_template.html" %}

{% block pagecss %}
    {{ js_css_packages.css_package("topicsadmin") }}
{% endblock pagecss %}
{% block bottompagescript %}

    {{ js_css_packages.js_package("topicsadmin") }}

<script>

$(function(){
    KAConsole.debugEnabled = true;
    TopicTreeEditor.init();
});

</script>

{% endblock bottompagescript %}

{% block pagesubmenu %}
    <span class="breadcrumbs_nav">
        <a href="/admin94040">Exercises</a>
     </span>
{% endblock pagesubmenu %}

{% block pagecontent %}

<div id="topic_tree" style="width: 500px; height: 500px; overflow-y: scroll; float: left;"></div>
<div id="details_view" style="width: 700px; height: 500px; overflow-y: scroll; float: left;"></div>

<ul id="topic_context_menu" class="contextMenu">
    <li class="add_new_topic">
        <a href="#add_new_topic">Add subtopic</a>
    </li>
    <li class="add_existing_video">
        <a href="#add_existing_video">Add existing video...</a>
    </li>
    <li class="add_existing_exercise">
        <a href="#add_existing_exercise">Add existing exercise...</a>
    </li>
    <li class="delete_topic">
        <a href="#delete_topic">Delete topic</a>
    </li>
</ul>

<ul id="item_context_menu" class="contextMenu">
    <li class="remove_item">
        <a href="#remove_item">Remove from topic</a>
    </li>
</ul>


{% endblock pagecontent %}

