{% extends "page_template.html" %}

{% block pagecss %}
    {{ js_css_packages.css_package("topicsadmin") }}
{% endblock pagecss %}
{% block bottompagescript %}

    {{ js_css_packages.js_package("topicsadmin") }}

<script>

var initialTreeNodes = {{ tree_nodes }};

$(function(){
    getDefaultTopicTree().resetInited(initialTreeNodes);

    KAConsole.debugEnabled = true;
    TopicTreeEditor.init();
});

</script>

{% endblock bottompagescript %}

{% block pagesubmenu %}
    This is an editing copy of the live topic tree. <a href="javascript: TopicTreeEditor.setTreeDefault()" class="simple-button green action-gradient">Publish to website</a>
    <span class="breadcrumbs_nav">
        <a href="/admin94040">Exercises</a>
     </span>
{% endblock pagesubmenu %}

{% block pagecontent %}

<div id="topic_tree" style="width: 500px; height: 500px; overflow-y: scroll; float: left;"></div>
<div id="details-view" style="width: 700px; height: 500px; overflow-y: scroll; float: left;"></div>

<ul id="topic_context_menu" class="contextMenu">
    <li class="add_new_topic">
        <a href="#add_new_topic">Add subtopic</a>
    </li>
    <li class="add_new_video separator">
        <a href="#add_new_video">Add new video...</a>
    </li>
    <li class="add_existing_video">
        <a href="#add_existing_video">Add existing video...</a>
    </li>
    <li class="add_new_exercise separator">
        <a href="#add_new_exercise">Add new exercise...</a>
    </li>
    <li class="add_existing_exercise">
        <a href="#add_existing_exercise">Add existing exercise...</a>
    </li>
    <li class="paste_item separator">
        <a href="#paste_item">Paste item</a>
    </li>
    <li class="delete_topic">
        <a href="#delete_topic">Delete topic</a>
    </li>
</ul>

<ul id="item_context_menu" class="contextMenu">
    <li class="copy_item">
        <a href="#copy_item">Copy</a>
    </li>
    <li class="cut_item">
        <a href="#cut_item">Cut</a>
    </li>
    <li class="remove_item">
        <a href="#remove_item">Remove from topic</a>
    </li>
</ul>


{% endblock pagecontent %}

