<div class="exercise_message review">
  <h2 class="pulls">Review Completed!</h2>
  Congrats, you've consolidated what you've mastered.

  <span id="move-on-message">
    <span>
      <a href="/exercisedashboard" class="simple-button action-gradient green">Choose a new exercise</a>
      to expand your knowledge frontier!
    </span>
    <span style="display: none;">
      <a href="/exercisedashboard" class="simple-button action-gradient green">You may now proceed</a>
      in your quest to know everything!
    </span>
  </span>
</div>

<script>
  // Randomly select a move on message to show
  $(function() {
    var messages = jQuery( '#move-on-message' ).children();
    var msgToShow = Math.floor( Math.random() * messages.length );

    messages.hide().eq( msgToShow ).show();
  });
</script>
