{% import 'macros/library.html' as library %}
<div id="library">
        <div id="library-content" >
            {{ library.column_major_order_styles() }}
            <div id="library-content-main">
            {% for topic in topics %}
            {% if loop.first %}
                <div class="clear desktop-only"><a name="{{ topic.standalone_title|slugify|escape }}" id="{{ topic.standalone_title|slugify|escape }}">&nbsp;</a></div>
            {% endif %}
            <div data-role="page" id="{{ topic.standalone_title|slugify|escape }}" data-theme="b">
                <div data-role="header">
                    <a href="#" data-rel="back" data-icon="arrow-l" class="mobile-only">Back</a>
                    <h2 class='playlist-heading {% if loop.first %}playlist-heading-first{% endif %}'>{{topic.standalone_title|escape}}</h2>
                    <a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="mobile-only"></a>
                </div>
                <div data-role="content">
                    {% if topic.description %}
                        <p class='playlist-desc'>{{topic.description|escape}}</p>
                    {% endif %}
                    {{ templatetags.column_major_sorted_videos(topic) }}


                    {% if topic.standalone_title == "Arithmetic" and smart_history %}
                    <div class="clear desktop-only">
                        <a name="smarthistory" id="smarthistory">&nbsp;</a>
                    </div>
                </div>
            </div>

            <div data-role="page" id="smarthistory" data-theme="b">
                <div data-role="header">
                    <a href="#" data-rel="back" data-icon="arrow-l" class="mobile-only">Back</a>
                    <h2 class='playlist-heading'>Art History</h2>
                    <a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="mobile-only"></a>
                </div>
                <div data-role="content">
                <p class='playlist-desc'>Spontaneous conversations about works of art where the speakers are not afraid to disagree with each other or art history orthodoxy.  Videos are made <b> by Dr. Beth Harris and Dr. Steven Zucker along with other contributors.</b></p>
                    {{smart_history}}                    
                    {% endif %}

                    <div class="clear desktop-only">
                    {% if topic.next %}
                        <a name="{{ topic.next.id|slugify|escape }}" id="{{ topic.next.id|slugify|escape }}">&nbsp;</a>
                    {% endif %}
                    </div>
                </div>
            </div>

           
            {% endfor %}
            </div>
        </div>
</div>


