{% extends "page_template.html" %}
{% block meta_page_title %}Sign In | {% endblock meta_page_title %}
{% block pagetitle %}{% endblock pagetitle %}

{% block pagecss %}
    {{ js_css_packages.css_package("login") }}
{% endblock pagecss %}

{% block pagecontent %}
<article id="login-page"><div id="login-page-content">
    <form method="POST" id="login-form" action="/login?continue={{continue|urlencode}}">
    <input type="hidden" name="type" id="type-input">

    <ul class="providers">
    <h3>Login to Khan Academy using one of these services:</h3>
    <li class="action-gradient" id="login-google">
        <div class="img-container">
            <img width="205" height="70" src="/images/google-logo-large.png" />
        </div>
    </li>

    {% if App.facebook_app_secret %}
    <li id="login-facebook" class="action-gradient">
        <div class="img-container">
        <img width="205" height="70" src="/images/facebook-logo-large.png" />
        </div>
    </li>
    <div id="real_fb_button" style="display: none;"><fb:login-button></fb:login-button></div>
    {% endif %}
    </ul>

    <div class="separator"><img class="separator-bg" src="/images/hr.gif"><span class="separator-text">OR</span></div>

    <div class="pw-login">
        <h3>Login with a Khan Academy account:</h3>
        <div class="login-field-error" id="login-fail-message">{% if errors["badlogin"] %}Username and password doesn't match{% endif %}</div>

        <div class="login-field-set">
            <label class="login-label" for="identifier">Email or username</label><br>
            <input tabindex=1 id="identifier" name="identifier" class="simple-input ui-corner-all login-input" value="{{ identifier|escape }}">
            <div class="login-field-error" id="identifier-error">{% if errors["noemail"] %}Email or username required{% endif %}</div>
        </div>

        <div class="login-field-set">
            <label class="login-label" for="password">Password</label>
            <!-- TODO(benkomalo): wire up forgot password logic. -->
            <a id="forgot-hint" href="javascript:void(0);">Forgot password?</a><br>

            <input tabindex=2 id="password" name="password" type="password" class="simple-input ui-corner-all login-input">

            <!-- TODO(benkomalo): handle "enter" key -->
            <!-- HACK: put login button in same fieldset/same row as password button for easy lining up -->
            <input tabindex=3 id="submit-button" class="login-button simple-button action-gradient green" value="Login" type="button">

            <div class="login-field-error" id="password-error">{% if errors["nopassword"] %}Password required{% endif %}</div>
        </div>

    </div>

    </form>

    <div class="signup-prompt-container">
        <span class="signup-prompt">Don't have an account, yet?</span>
        <!-- TODO(benkomalo): actually wire up signup process. -->
        <a class="signup-link" href="javascript:void(0);">Sign up</a>
    </div>
</div></article>
{% endblock pagecontent %}

{% block bottompagescript %}
    {{ js_css_packages.js_package("login") }}
    <script>
    $(Login.init);
    </script>
{% endblock bottompagescript %}

