{% extends "page_template.html" %}
{% block meta_page_title %}Sign In | {% endblock meta_page_title %}
{% block pagetitle %}{% endblock pagetitle %}

{% block pagecss %}
    {{ js_css_packages.css_package("login") }}
{% endblock pagecss %}

{% block pagecontent %}
<article id="page-root">
    <div class="login-container card-case vertical-shadow">

    <ul class="providers">
    <h3>Login to Khan Academy with</h3>
    <li class="action-gradient" id="login-google">
        <div class="img-container">
            <a href="{{google_url}}">
                <img width="180" height="65" alt="Google" src="/images/google-logo-large.png" >
            </a>
        </div>
    </li>

    <br>

    {% if App.facebook_app_secret %}
    <li id="login-facebook" class="action-gradient">
        <div class="img-container">
        <img width="180" height="65" alt="Facebook" src="/images/facebook-logo-large.png" >
        </div>
    </li>
    {% endif %}
    </ul>

    <div class="vertical-separator">
        <span class="separator-text">OR</span>
    </div>

    <div class="pw-login">
        <h3>Login with a Khan Academy account:</h3>
        <iframe frameborder="0"
                scrolling="no"
                width="430px"
                height="200px"
                allowtransparency="yes"
                src="{{templatetags.to_secure_url('/login')}}?continue={{continue|urlencode}}&form=1">
        </iframe>
    </div>

    </div>
</article>
{% endblock pagecontent %}

{% block bottompagescript %}
    {{ js_css_packages.js_package("login") }}
    <script>
    $(function() {
        Login.initLoginPage({
            continueUrl: {{ templatetags.jsonify(continue, camel_cased=True) }}
        });
    });
    </script>
{% endblock bottompagescript %}

