{% extends "page_template.html" %}
{% block meta_page_title %}Sign In | {% endblock meta_page_title %}
{% block pagetitle %}{% endblock pagetitle %}

{% block pagecss %}
    {{ js_css_packages.css_package("login") }}
    <style>
    div.feature {
        width: 33%;
        float: left;
        text-align: center;
    }
    #login-page .providers {
        white-space: nowrap;
    }
    #login-page .providers li {
        padding: 5px;
    }
    </style>
{% endblock pagecss %}

{% block pagecontent %}
<article id="login-page" style="padding-top: 18px">
    <h2 class="pulls">{% if direct %}Login{% else %}You need to login to access this part of the site.{% endif %}</h2>
    <h3>Already have an account with one of these sites? Click the logo to use your account to login here:</h3>

    <form method="POST" id="login-form" action="/login?continue={{continue|urlencode}}">
    <input type="hidden" name="type" id="type-input">

    <div><ul class="providers">
    <li class="direct action-gradient" id="login-google">
          <div class="sign-in-text">Login with:</div>
          <img width="205" height="70" src="/images/google-logo-large.png" />
    </li>

    {% if App.facebook_app_secret %}
    <li id="login-facebook" class="action-gradient">
          <div class="sign-in-text">Login with:</div>
          <img width="205" height="70" src="/images/facebook-logo-large.png" />
    </li>
    {% endif %}

    </ul></div>
    <div class="clear"></div>

    <div id="real_fb_button" style="display: none;"><fb:login-button></fb:login-button></div>

    <h5 style="margin:18px 0 0 0;">Don't have an account yet?</h5>
    <div>
        <ul class="providers-sign-up">
            <li style="float:left; padding-right: 20px; font-size: 15px"><a href="https://www.google.com/accounts/NewAccount">Sign up for a Google account</a></li>
            <li style="float:left; padding-right: 20px; font-size: 15px"><a href="http://www.facebook.com/r.php">Sign up for a Facebook account</a></li>
        </ul>
    </div>
    <div class="clear">&nbsp;</div><br/><br/>
    <h2 class="pulls">Why should you sign up?</h2>
    <h3>When you login, we save all of your progress. Also, <a href="/about">students and coaches get access to some cool tools</a>:</h3>
    <div id="feature-list">
        <div class="feature"><a href="/about"><img src="/images/exercise-dashboard-medium.png" height="250" width="320" /></a><br />Students: <strong>navigate your knowledge map</strong> as you work through exercises.</div>
    <div class="feature"><a href="/about"><img src="/images/student-profile-medium.png" height="250" width="320" /></a><br />Students: <strong>track your video and exercise progress</strong> in your profile.</div>
    <div class="feature"><a href="/about"><img src="/images/class-report-medium.png" height="250" width="320" /></a><br />Coaches: <strong>Track all of your students</strong> with the class report.</div>
        <div class="clear">&nbsp;</div>
    </div>
    </form>
</article>
{% endblock pagecontent %}

{% block bottompagescript %}
    {{ js_css_packages.js_package("login") }}
    <script>
    $(Login.initLoginPage);
    </script>
{% endblock bottompagescript %}


