<!DOCTYPE html>
<html>
    <head>
        <title>Khan Academy</title>
        {{ js_css_packages.css_package("shared") }}
        {{ js_css_packages.css_package("login") }}
    </head>
    <body>
        <h4 style="margin-top: 2em">Change password</h4>
        <form id="pw-change-form" class="auth-form" method="POST" action="{{templatetags.to_secure_url('/pwchange')}}">
        <div id="message" class="message {% if success %}success{% else %}error{% endif %}">{{message}}</div>
        <table>
        <tr>
            <td class="input-label-cell">Current password:</td>
            <td><input id="existing" name="existing" type="password" class="simple-input ui-corner-all"><span class="sidenote existing"></span></td>
        </tr>
        <tr>
            <td class="input-label-cell">New password:</td>
            <td><input id="password1" name="password1" type="password" class="simple-input ui-corner-all"><span class="sidenote password1"></span></td>
        </tr>
        <tr>
            <td class="input-label-cell">Re-type new password:</td>
            <td><input id="password2" name="password2" type="password" class="simple-input ui-corner-all"><span class="sidenote password2"></span></td>
        </tr>
        </table>

        <input id="submit-settings" type="button" value="Change password" class="simple-button action-gradient green" style="margin-top: 1em;">
        <input id="transfer-token" name="transfer_token" type="hidden" value="{{transfer_token}}">
        </form>

        {{ js_css_packages.js_package("shared") }}
        {{ js_css_packages.js_package("login") }}
        <script>
        $(Settings.init);
        </script>
    </body>
</html>


