{# A simple password change form.

   To be used in an https iframe for password change (in the settings page),
   or in an https iframe for a password reset flow.
#}

<!DOCTYPE html>
<html>
    <head>
        <title>Khan Academy</title>
        {{ js_css_packages.css_package("shared") }}
        {{ js_css_packages.css_package("login") }}
    </head>
    <body>
        <h4 style="margin-top: 2em">
        {% if reset_token %}
        Reset password
        {% else %}
        Change password
        {% endif %}
        </h4>
        <form id="pw-change-form" class="auth-form" method="POST" action="{{templatetags.to_secure_url('/pwchange')}}">
        <div id="message" class="message {% if success %}success{% else %}error{% endif %}">{{message}}</div>
        <table>
        {% if reset_token %}
        <input id="reset-token" name="reset_token" type="hidden" value="{{reset_token}}">
        {% else %}
        <tr>
            <td class="input-label-cell">Current password:</td>
            <td><input id="existing" name="existing" type="password" class="simple-input ui-corner-all"><span class="sidenote existing"></span></td>
        </tr>
        {% endif %}
        <tr>
            <td class="input-label-cell">New password:</td>
            <td><input id="password1" name="password1" type="password" class="simple-input ui-corner-all"><span class="sidenote password1"></span></td>
        </tr>
        <tr>
            <td class="input-label-cell">Re-type new password:</td>
            <td><input id="password2" name="password2" type="password" class="simple-input ui-corner-all"><span class="sidenote password2"></span></td>
        </tr>
        </table>

        <input id="submit-settings" type="button" value="Change password" class="simple-button action-gradient green" style="margin-top: 1em;">
        <input id="transfer-token" name="transfer_token" type="hidden" value="{{transfer_token}}">
        </form>

        {% if success and reset_token %}
            {# A successful reset means we should redirect the host frame to
                the login page #}
            <script>
            window.top.location = "{{ templatetags.to_insecure_url('/login') }}";
            </script>
        {% else %}
            {{ js_css_packages.js_package("shared") }}
            {{ js_css_packages.js_package("login") }}
            <script>
            $(Settings.init);
            </script>
        {% endif %}
    </body>
</html>


