{% extends "page_template.html" %}

{# This is the initial registration form that asks a user for their birthdate
    and e-mail. All other fields about the user are collected after they
    verify ownership of their e-mail address in completesignup.html #}

{% block meta_page_title %}Sign In | {% endblock meta_page_title %}
{% block pagetitle %}{% endblock pagetitle %}

{% block pagecss %}
    {{ js_css_packages.css_package("login") }}
{% endblock pagecss %}

{% block pagecontent %}
<article id="page-root">
    <form method="POST" class="auth-form" id="registration-form" action="/register">
    <input type="hidden" name="token" id="type-input" value="{{token}}">

    <div class="registration-contents">
        <h3>Signup for a Khan Academy account</h3>
        <div class="field-container">
            <label class="field-label" for="email">Email</label><br>
            <input id="email" name="email" type="email" class="simple-input ui-corner-all" value="{{ values['email']|escape }}">
            <div class="field-error" id="email-error">{{ errors['email']|escape }}</div>
        </div>

        <br>

        <div class="field-container">
            <label class="field-label" for="birthday">Birthday</label><br>
            <div id="birthday-picker" data-date="{{ values['birthdate']|escape }}">{# contents filled by JS #}</div>
        </div>

        <br>

        <div class="field-container" style="margin-top: 2em">
            <input type="button" id="submit-button" name="register" value="Signup" class="simple-button action-gradient green">
        </div>

    </div>

    </form>
</article>
{% endblock pagecontent %}

{% block bottompagescript %}
    {{ js_css_packages.js_package("login") }}
    <script>
    $(Login.initRegistrationPage);
    </script>
{% endblock bottompagescript %}


