{% extends "page_template.html" %}
{% block meta_page_title %}Sign In | {% endblock meta_page_title %}
{% block pagetitle %}{% endblock pagetitle %}

{% block pagecss %}
    {{ js_css_packages.css_package("login") }}
{% endblock pagecss %}

{% block pagecontent %}
<article id="page-root">
    <form method="POST" class="auth-form" id="registration-form" action="/register?continue={{continue|urlencode}}">
    <input type="hidden" name="type" id="type-input">

    <div class="registration-contents">
        <h3>Signup for a Khan Academy account</h3>
        <div class="field-container">
            <label class="field-label" for="nickname">Real Name</label><br>
            <input id="nickname" name="nickname" class="simple-input ui-corner-all">
            <div class="field-error" id="nickname-error"> </div>
        </div>

        <br>

        <div class="field-container">
            <label class="field-label" for="gender">Gender (optional)</label><br>
            <select id="gender" name="gender" class="simple-input ui-corner-all">
                <option value="unspecified"> </option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <br>

        <div class="field-container">
            <label class="field-label" for="birthday">Birthday</label><br>
            <div id="birthday-picker">{# contents filled by JS #}</div>
        </div>

        <br>

        <div class="field-container">
            <label class="field-label" for="username">Username</label><br>
            <input id="username" name="username" class="simple-input ui-corner-all">
            <div class="field-error" id="username-error"> </div>
        </div>

        <div class="field-container">
            <label class="field-label" for="email">Email</label><br>
            <input id="email" name="email" type="email" class="simple-input ui-corner-all">
            <div class="field-error" id="email-error"> </div>
        </div>

        <div class="field-container">
            <label class="field-label" for="password">Password</label><br>
            <input id="password" name="password" type="password" class="simple-input ui-corner-all">
            <div class="field-error" id="password-error"> </div>
        </div>

        <br>

        <div class="field-container" style="margin-top: 2em">
            <!-- TODO(benkomalo): say something nicer and actually link it to what we want? -->
            <input type="checkbox" name="agree"><label for="agree">I agree to the Terms of Service</label>
        </div>
        <br>
        <div class="field-container" style="margin-top: 2em">
            <!-- TODO(benkomalo): actually wire this up properly -->
            <input type="button" name="submit" value="Signup" class="simple-button action-gradient green">
        </div>

    </div>

    </form>
</article>
{% endblock pagecontent %}

{% block bottompagescript %}
    {{ js_css_packages.js_package("login") }}
    <script>
    $(Login.initRegistrationPage);
    </script>
{% endblock bottompagescript %}


