{% extends "page_template.html" %}

{# This is the initial registration form that asks a user for their birthdate
    and e-mail. All other fields about the user are collected after they
    verify ownership of their e-mail address in completesignup.html #}

{% block meta_page_title %}Sign Up | {% endblock meta_page_title %}
{% block pagetitle %}{% endblock pagetitle %}

{% block pagecss %}
    {{ js_css_packages.css_package("login") }}
{% endblock pagecss %}

{% block pagecontent %}
<article id="page-root">
    <div class="signup-contents">
        <form method="POST" class="auth-form" id="signup-form" action="/signup">

        <h3>Signup for a Khan Academy account</h3>
        <div class="field-container">
            <label class="field-label" for="email">Email</label><br>
            <input id="email" name="email" type="email" class="simple-input ui-corner-all" value="{{ values['email']|escape }}">
            <div class="field-error" id="email-error"></div>
        </div>

        <br>

        <div class="field-container">
            <label class="field-label" for="birthday">Birthday</label><br>
            <div id="birthday-picker" data-date="{{ values['birthdate']|escape }}">{# contents filled by JS #}</div>

            {# Note that the actual name of the field sent to the server is "birthdate"
               (it is a hidden input populated by the JS) #}
            <div class="field-error" id="birthdate-error"></div>
        </div>

        <br>

        <div class="field-container" style="margin-top: 2em">
            <input type="button" id="submit-button" name="signup" value="Signup" class="simple-button action-gradient green">
        </div>

        </form>
    </div>
</article>
{% endblock pagecontent %}

{% block bottompagescript %}
    {{ js_css_packages.js_package("login") }}
    <script>
    $(Login.initSignupPage);
    </script>
{% endblock bottompagescript %}


