{% extends "page_template.html" %}
{% block meta_page_title %}Sign In | {% endblock meta_page_title %}
{% block pagetitle %}{% endblock pagetitle %}

{% block pagecss %}
    {{ js_css_packages.css_package("login") }}
{% endblock pagecss %}

{% block pagecontent %}
<article id="page-root">
{# TODO(benkomalo): make this nicer and make some more helpful suggestions for this case. #}
{% if name %}
Sorry, {{ name|escape }}!
{% else %}
Sorry!
{% endif %}
<br>
We can't support under 13 users yet!
<br>
(you have a u13 cookie set now. sorry, homestar)
</article>
{% endblock pagecontent %}
