{% extends "page_template.html" %}
{% block meta_page_title %}Sign In | {% endblock meta_page_title %}
{% block pagetitle %}{% endblock pagetitle %}

{% block pagecss %}
    {{ js_css_packages.css_package("login") }}
{% endblock pagecss %}

{% block pagecontent %}

<article id="page-root" style="padding: 20px 0;">

<img src="/images/large-tree-transparent.png">

<h3>
{% if name %}
Sorry, {{ name|escape }}!
{% else %}
Sorry!
{% endif %}
</h3>

<div style='color: #444; font-family: "MuseoSans500", sans-serif; font-size: 16px'>
Looks like you're under 13.<br>
We can't quite handle acounts for children, yet.
</div>

</article>
{% endblock pagecontent %}
