{% extends "page_template.html" %}
{% block meta_page_title %}Sign In | {% endblock meta_page_title %}
{% block pagetitle %}{% endblock pagetitle %}

{% block pagecss %}
    {{ js_css_packages.css_package("login") }}
{% endblock pagecss %}

{% block pagecontent %}

<article id="page-root" style="padding: 20px 0;">

<img src="/images/large-tree-transparent.png">

<h3>Sorry - you need to verify your e-mail address first</h3>

<div style='color: #444; font-family: "MuseoSans500", sans-serif; font-size: 16px'>
Go check your e-mail. Or click on this link to resend it. (What link? it doesn't exist yet!)
Or you can also sign in with a Google account with that matching e-mail. You can do that here:
(insert some nice way to do that)
</div>

</article>
{% endblock pagecontent %}
