<br>
<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" valign="top">
            <!-- Begin header -->
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="text-align: center; vertical-align: middle;">
                        <a href="http://www.khanacademy.org" target="_blank">
                            <img src="http://www.khanacademy.org/images/large-tree-transparent.png" style="max-width:93px;">
                        </a>
                    </td>
                </tr>
            </table>
            <!-- End header -->
        </td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <!-- Begin body -->
            <table border="0" cellpadding="20" cellspacing="0">
                <tr>
                    <td valign="top" style="color:#505050; font-family: Arial; font-size: 14px; line-height: 150%; text-align: left;">
                        Hi there,
                        <br>
                        <br>
                        Welcome to Khan Academy! Before you embark on exciting educational adventures, please verify that this email address is in fact your own.
                        <br>
                        <br>
                        <table border="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center" valign="middle" style="width: 100%; background-color: #F6F6E9; border-top: 1px solid #C6D1AD; border-bottom: 1px solid #C6D1AD; clear:both; padding: 15px 0">
                                    <table>
                                        <tbody>
                                            <tr>
                                            <td style="background-color:#89B908; line-height: 100%">
                <a href="{{verification_link}}" style="color: #ffffff; text-decoration: none; padding: 4px 14px; display: inline-block;" target="_blank">Verify email address</a>
                                            </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <br>
                        Cheers,
                        <br>
                        Sal and the Khan Academy Team
                        <br>
                        <br>
                        <div style="color:#999">P.S. If you did not create an account on Khan Academy, just ignore this email. Sorry about that!</div>
                    </td>
                </tr>
            </table>
            <!-- End body -->
        </td>
    </tr>
</table>
