{% extends "profile_template.html" %}

{% import 'macros/user.html' as user_macros %}
{% import 'macros/profiles.html' as profile_macros %}

{% block meta_page_title %}User Profile | {% endblock meta_page_title %}

{% block profile_extended_sections %}
    <div id="profile-content"></div>
    <div id="server-side-recent-activity" style="display: none;">
        {{ profiles.profile_recent_activity(user_data_student, view) }}
    </div>
{% endblock profile_extended_sections %}

{% block bottompagescript %}
{{ super() }}

<script>
// TODO: move this into the initial JSON below so it's not in global scope.
var USER_EMAIL = '{{ user_data_student.email|escapejs }}';

$(function() {
    Profile.init({
        countVideos: {{count_videos}},
        countExercises: {{count_exercises}},
        loggedIn: "{{logged_in}}" === "True",
        profileRoot: "{{user_data_student.profile_root}}",
        profileData: {{ templatetags.jsonify(profile, true) }}
    });
});
</script>
{% endblock bottompagescript %}
