{% extends "profile_template.html" %}

{% import 'macros/user.html' as user_macros %}
{% import 'macros/profiles.html' as profile_macros %}

{% block meta_page_title %}User Profile | {% endblock meta_page_title %}

{% block profile_extended_sections %}
    <div id="profile-content"></div>
    <div id="server-side-recent-activity" style="display: none;">
        {{ profiles.profile_recent_activity(user_data_student, view) }}
    </div>
{% endblock profile_extended_sections %}

{% block pagecss %}
    {{ js_css_packages.css_package("profile") }}
{% endblock pagecss %}

{% block pagescript %}
<script>
var USER_EMAIL = '{{ user_data_student.email|escapejs }}',
    profileContext = {
        logged_in: "{{logged_in}}" === "True",
        email: "{{user_data_student.email}}",
        nickname: "{{student_nickname}}",
        countVideosCompleted: {{count_videos_completed}},
        countVideos: {{count_videos}},
        countExercisesProficient: {{count_exercises_proficient}},
        countExercises: {{count_exercises}},
        points: {{student_points}},
        secondsSinceJoined: "{{user_data_student.joined}}"
    };
</script>
{% endblock pagescript %}
