{% extends "page_template.html" %}

{% block meta_page_title %}
{{ main_topic.standalone_title|escape }} | {% endblock %}
{% block meta_keywords %}
  {% for tag in main_topic.tags %}{{ tag }},{% endfor %}
{% endblock %}
{% block meta_description %}{{ main_topic.description }}{% endblock %}

{% block pagecss %}
<style>
	#page_sub_nav { display: none; }
	td { vertical-align: top; }
	.ui-tooltip, .qtip { max-width: 200px; }
    #library-content .library-content-header h2.root-topic { font-size: 22pt; font-weight: bold; margin-bottom: 18px; }
    #library-content .library-content-list p.topic-desc { display: block; width: 500px; }
    #library-content .topic-spacer { display: block; margin-bottom: 30px; }
</style>
{% endblock pagecss %}

{% block pagecontent %}

<article id="homepage">

<div id="main-video">
{% if is_mobile_capable %}
  {{ youtube.player_embed(marquee_video["youtube_id"], 480, 395) }}
{% else %}
  <a class="main-video-link" href="{{ marquee_video["href"] }}" data-tag="Topic Page Featured">
    <div class="main-video-placeholder" style="background-image:url('{{ marquee_video["thumb_urls"]["sd"]|escape }}')">
      <div class="youtube-placeholder-title">{{ marquee_video["title"]|escape }}</div>
      <img class="youtube-play" src="/images/youtube_play.png" />
    </div>
  </a>
{% endif %}
</div>

<div class="topic-page-header">
  <div data-role="header" class="library-content-header">
    <h2 class='topic-heading'>{{ main_topic.standalone_title }}</h2>
    <p class='topic-desc'>{{ main_topic.description }}</p>
  </div>
</div>

<div class="topic-page-content">
  <div class="container">
    {% if topic_children %}
    <div class="nav-pane">
      <ul>
      {% for child in topic_children %}
        <li data-id="{{ child.id }}">
          <a href="{{ main_topic.id }}/{{ child.id }}" data-id="{{ child.id }}">
            {{ child.title|escape }}
            <div class="right-arrow"></div>
          </a>
        </li>
      {% endfor %}
      </ul>
      <div style="clear: both"></div>
    </div>
    {% endif %}
    <div class="content-pane {% if topic_children %}indent{% endif %}">
      <div class="content-inner">
      </div>
    </div>
  </div>
</div>

</article>
{% endblock %}

{% block bottompagescript %}
    {{ js_css_packages.js_package("topic") }}
    {{ js_css_packages.css_package("topic") }}
    <script type="text/javascript">
      $(function() {
        var videoLists = {{ video_lists }};
        var marqueeVideoID = "{{ marquee_video["youtube_id"]|escapejs }}";
        var rootPath = "/{{ main_topic.get_extended_slug() }}";
        TopicPage.init(videoLists, marqueeVideoID, rootPath);
      });
    </script>
{% endblock %}
