{% extends "page_template.html" %}

{% block meta_page_title %}
{{ main_topic.standalone_title|escape }} | {% endblock %}
{% block meta_keywords %}
  {% for tag in main_topic.tags %}{{ tag }},{% endfor %}
{% endblock %}
{% block meta_description %}{{ main_topic.description }}{% endblock %}

{% block pagecss %}
<style>
	#page_sub_nav { display: none; }
	td { vertical-align: top; }
	.ui-tooltip, .qtip { max-width: 200px; }
    #library-content .library-content-header h2.root-topic { font-size: 22pt; font-weight: bold; margin-bottom: 18px; }
    #library-content .library-content-list p.topic-desc { display: block; width: 500px; }
    #library-content .topic-spacer { display: block; margin-bottom: 30px; }
</style>
{% endblock pagecss %}

{% block pagecontent %}

<!-- Extends pane background down to footer -->
<div class="nav-fixed-background">
  <div class="nav-pane-background"></div>
</div>

<article id="topic-page">

<div class="topic-page-content">
  <div class="container">
    <div class="nav-pane-background"></div>
    <div class="nav-pane">

      <ul>
        <li data-id="">
          <a class="subtopic-link" href="javascript:" data-id="">
            <h2 class='topic-heading'>{{ main_topic.title }}</h2>
            <div class="right-arrow"></div>
          </a>
        </li>
      </ul>
      <div style="clear: both"></div>
    </div>
    <div class="content-pane indent">
      <div class="topic-loading">Loading... <img src="/images/throbber.gif"></div>
    </div>
  </div>
</div>

</article>
{% endblock %}

{% block bottompagescript %}
    {{ js_css_packages.js_package("topic") }}
    {{ js_css_packages.css_package("topic") }}
    {{ js_css_packages.js_package("video") }}
    {{ js_css_packages.css_package("video") }}
    <script type="text/javascript">
      $(function() {
        TopicPage.init("{{ main_topic.id }}");
      });
    </script>
{% endblock %}
