{% if context.is_graph_empty %}
<div class="graph-notification">This chart doesn't have any activity to show. Go <a href="/#browse">watch some videos</a> and <a href="/exercisedashboard">do some exercises</a>!</div>
{% endif %}
{% import 'macros/profiles.html' as profile_macros %}
<script>
$(function() {
    new ActivityGraph().render({{ templatetags.jsonify(context, true) }});
});

</script>
<div id="highchart-container" class="{% if context.is_graph_empty %}empty-chart{% endif %}">
    <div id="highchart"></div>
</div>
