{% extends "page_template.html" %}

{% import 'macros/exercises.html' as exercise_macros %}

{% block meta_page_title %}Create New Goal | {% endblock meta_page_title %}

{% block pagescript %}
<style>
        #page_sub_nav { display: none; }
</style>
<script>

var GoalCreator = {
    objectives: [],

    init: function() {
        // Fix links on videos
        $('#goal-choose-videos').find('.vl').each(function(index, element) {
            var video_name = $(this).attr('data-id');
            var span = $(this).children('span');

            var image = $(span).css('background-image');
            if (image.indexOf('indicator-complete') == -1)
            {
                var video_title = span.text();
                $(this).attr('href', 'javascript:GoalCreator.onVideoClicked(\'' + video_name + '\', \'' + video_title + '\')');
            } else {
                $(this).attr('href', 'javascript:');
            }
        });

        $(".any-exercise.simple-button").click(function(ev) {
            ev.preventDefault();
            for(var i = 0; i<5; i++) {
                var id = "any"+i.toString();
                GoalCreator.toggleObjectiveInternal('GoalObjectiveAnyExerciseProficiency', id, "Any exercise");
            }
            GoalCreator.updateExerciseCount();
            GoalCreator.updateViewAndDescription();
        });
        $(".any-video.simple-button").click(function(ev) {
            ev.preventDefault();
            for(var i = 0; i<5; i++) {
                var id = "any"+i.toString();
                GoalCreator.toggleObjectiveInternal('GoalObjectiveAnyVideo', id, "Any video");
            }
            GoalCreator.updateVideoCount();
            GoalCreator.updateViewAndDescription();
        });
        
        $('#goal-title').focus(function(){ $(this).animate({width: '600px'});}).blur(function(){ $(this).animate({width: '250px'});});
        
        var form = $('#create-goal');
        form.find('input').mouseup(function() { $(this).removeClass('fieldError'); });
        form.find('input[name="title"]').change(function() { GoalCreator.updateViewAndDescription(); } );

        GoalCreator.updateViewAndDescription();
    },
    toggleObjectiveInternal: function(type, id, name) {
        var idx = 1;
        var found_index = -1;

        $.each(GoalCreator.objectives, function(index, objective) {
            if (objective.type == type && objective.id == id) {
                found_index = index;
            }

            if (objective.idx >= idx)
                idx = objective.idx+1;
        });

        if (found_index >= 0) {
            // Remove objective
            var objective = GoalCreator.objectives[found_index];
            GoalCreator.objectives.splice(found_index, 1);
            return null;
        } else if (GoalCreator.objectives.length < 8) {
            var newObjective = {
                type: type,
                description: name,
                progress: 0,
                url: 'javascript:',

                idx: idx,
                id: id,
            };

            GoalCreator.objectives.push(newObjective);
            return newObjective;
        }
    },
    updateViewAndDescription: function() {
        var goalObject = {
            title: $('#create-goal').find('input[name="title"]').val(),
            objectives: GoalCreator.objectives
        };

        var view = $("#goals-create-tmpl").tmplPlugin(goalObject);
        $("#create-goal-view").html(view);

        var message = '';
        if (GoalCreator.objectives.length == 0) {
            message = 'This goal currently has no objectives selected. Select exercises or videos to complete below.';
        } else {
            var matchingObjectives;

            message = 'To complete this goal, you will have to <ul>';

            // Exercises
            matchingObjectives = [];
            $.each(GoalCreator.objectives, function(idx, objective) {
                if (objective.type == 'GoalObjectiveExerciseProficiency')
                    matchingObjectives.push(objective);
            });
            if (matchingObjectives.length > 0) {
                message += '<li>become proficient in exercise';
                if (matchingObjectives.length == 1) {
                    message += ' <b>' + matchingObjectives[0].description + '</b>';
                } else {
                    message += 's ';
                    $.each(matchingObjectives, function(idx, objective) {
                        if (idx == 0)
                            message += '<b>' + objective.description + '</b>';
                        else if (idx < matchingObjectives.length-1)
                            message += ', <b>' + objective.description + '</b>';
                        else
                            message += ' and <b>' + objective.description + '</b>';
                    });
                }
                message += '</li>';
            }

            // Videos
            matchingObjectives = [];
            $.each(GoalCreator.objectives, function(idx, objective) {
                if (objective.type == 'GoalObjectiveWatchVideo')
                    matchingObjectives.push(objective);
            });
            if (matchingObjectives.length > 0) {
                message += '<li>, and watch video';
                if (matchingObjectives.length == 1) {
                    message += ' <b>' + matchingObjectives[0].description + '</b>';
                } else {
                    message += 's ';
                    $.each(matchingObjectives, function(idx, objective) {
                        if (idx == 0)
                            message += '<b>' + objective.description + '</b>';
                        else if (idx < matchingObjectives.length-1)
                            message += ', <b>' + objective.description + '</b>';
                        else
                            message += ' and <b>' + objective.description + '</b>';
                    });
                }
                message += '.</li>';
            }

            message += '</ul>';
        }
        $('#goal-description').html(message);
    },

    showExercises: function() {
        $('#goal-choose-exercises').show();
        $('#goal-choose-videos').hide();
        $('#show-vid-btn').removeClass("blue");
        $('#show-ex-btn').addClass("blue");
        Drawer.resize();
    },
    onExerciseClicked: function(node, evt) {
       if (node.status == 'Proficient')
           return; // Cannot select exercises the user is proficient in

        GoalCreator.toggleObjectiveInternal('GoalObjectiveExerciseProficiency', node.id, node.name);

        GoalCreator.updateExerciseCount();
        GoalCreator.updateViewAndDescription();
    },
    onExerciseBadgeClicked: function(id) {
        this.onExerciseClicked(KnowledgeMap.dictNodes[id], null);
    },
    updateExerciseCount: function() {
        var count = 0;

        $.each(GoalCreator.objectives, function(index, objective) {
            if (objective.type == 'GoalObjectiveExerciseProficiency')
                count++;
        });

        $('#goal-exercise-count').html(count);

        $.each(KnowledgeMap.getBadgeElements(), function(index, badge) {
            var exercise = badge.dataID;
            var found = false;

            $.each(GoalCreator.objectives, function(index2, objective) {
                if (objective.type == 'GoalObjectiveExerciseProficiency' && objective.id == exercise)
                {
                    found = true;
                }
            });

            var goalIcon = $(badge.badgeElement).children('.exercise-goal-icon');
            if (found)
            {
                if (goalIcon.length == 0)
                    $('<div class="exercise-goal-icon"><img src="/images/flag.png"></div>').appendTo(badge.badgeElement);
            }
            else
            {
                goalIcon.detach();
            }
        });
    },

    onVideoClicked: function(id, title) {
        GoalCreator.toggleObjectiveInternal('GoalObjectiveWatchVideo', id, title);

        GoalCreator.updateVideoCount();
        GoalCreator.updateViewAndDescription();
    },
    showVideos: function() {
        $('#goal-choose-exercises').hide();
        $('#goal-choose-videos').show();
        $('#show-vid-btn').addClass("blue");
        $('#show-ex-btn').removeClass("blue");
        Drawer.resize();
    },
    updateVideoCount: function() {
        var count = 0;

        $.each(GoalCreator.objectives, function(index, objective) {
            if (objective.type == 'GoalObjectiveWatchVideo')
                count++;
        });

        $('#goal-video-count').html(count);

        $('#library-content-main').find('.vl').each(function(index, element) {
            var video_name = $(element).attr('data-id');
            var found = false;

            $.each(GoalCreator.objectives, function(index2, objective) {
                if (objective.type == 'GoalObjectiveWatchVideo' && objective.id == video_name)
                {
                    found = true;
                }
            });

            var goalIcon = $(element).children('.video-goal-icon');
            if (found)
            {
                if (goalIcon.length == 0)
                    $('<span class="video-goal-icon"><img src="/images/flag.png"></span>').insertBefore($(element).children('span')[0]);
            }
            else
            {
                goalIcon.detach();
            }
        });
    },

    validate: function(form) {
        var error = '';

        var titleField = form.find('input[name="title"]');
        if (titleField.val() == '')
        {
            error = 'You must give your goal a name.';
            titleField.addClass('fieldError');
        } else {
            titleField.removeClass('fieldError');
        }

        if (GoalCreator.objectives.length == 0)
        {
            error = 'You must select at least one objective to complete.';
        }

        if (error != '') {
            $('#goal-commit-response').html(error);
            return false;
        }
        return true;
    },
    submit: function() {
        var form = $('#create-goal');
        var html = '';

        if (!GoalCreator.validate(form))
            return;

        $.each(GoalCreator.objectives, function(idx, objective) {
            html += '<input type="hidden" name="objective' + objective.idx + '_type" value="' + objective.type + '">';
            if (objective.type == 'GoalObjectiveExerciseProficiency') {
                html += '<input type="hidden" name="objective' + objective.idx + '_exercise" value="' + objective.id + '">';
            } else if (objective.type == 'GoalObjectiveWatchVideo') {
            html += '<input type="hidden" name="objective' + objective.idx + '_video" value="' + objective.id + '">';
            }
        });
        $('#goal-hidden-values').html(html);

        $.ajax({
            url: "/api/v1/user/goals/create",
            type: 'POST',
            dataType: 'text',
            data: $(form).serialize(),
            success: function(json) {
                document.location = '/profile?k#/?graph_url=/api/v1/user/goals'; // Take the user to the goals list in their profile
            },
            error: function(jqXHR, textStatus, errorThrown) {
                $('#goal-commit-response').html('Goal creation failed: ' + jqXHR.responseText);
            },
        });

        $('#goal-hidden-values').html('');

        return false;
    },
};

$(function() {
    GoalCreator.init();
    Drawer.init();
    GoalCreator.showExercises();
    KnowledgeMap.initFilter();
    KnowledgeMap.setNodeClickHandler(GoalCreator.onExerciseClicked);
});

</script>
{% endblock pagescript %}

{% block pagecontent %}
<article class="create-goal-page">
<form id="create-goal" action="javascript:">
  <div class="section-headline">
  <a onclick="javascript:GoalCreator.submit();" class="simple-button action-gradient green" style="font-size: 16px; float: right; padding: 4px 10px;">Create New Goal</a>
    <span id="goal-commit-response" style="color:#f00; float: right;"></span>
    <input type="text" name="title" class="simple-input ui-corner-all" id="goal-title" placeholder="New Goal (click to edit title)"></input>
  </div>
  <div>
    <div id="create-goal-view"></div>
    <p id="goal-description" style="clear: left;"></p>
    <div id="goal-hidden-values"></div>
  </div>
</form>

<span class="objective-type-picker">
<a href="javascript:GoalCreator.showExercises();" class="simple-button action-gradient" id="show-ex-btn">Choose exercises (<span id="goal-exercise-count">0</span> selected)</a>
<a href="javascript:GoalCreator.showVideos();" class="simple-button action-gradient" id="show-vid-btn">Choose videos (<span id="goal-video-count">0</span> selected)</a>
</span>

<div id="container" style="clear: left" class="dashboard{% if not logged_in %} unregistered{% endif %}">
  <div id="goal-choose-exercises" style="display: none;">
    {{ exercise_macros.exercise_legend() }}
    {{ exercise_macros.exercise_dashboard(review_graph_dicts, suggested_graph_dicts, null, graph_dicts, 'creategoal') }}

    <div id="dashboard-map">
        {{ exercise_macros.knowledgemap(graph_dicts, map_coords) }}
    </div>
  </div>

  <div id="goal-choose-videos" style="display: none;">
    <div class="dashboard-header">
      <div class="dashboard-nav">
        {{ templatetags.playlist_browser("browse") }}
      </div>
      <div class="dashboard-title"><img src="/images/video.png" id="dashboard-icon" width=22 height=22 /> Videos </div>
    </div>
    <div class="dashboard-content">
{{ library_content }}
    </div>
  </div>
</div>
</article>

{%- raw -%}
<script id="goals-create-tmpl" type="text/x-jquery-tmpl">
    <div class="goal">
        <ul class="inline-list objective-list">
        {{each objectives}}
            <li class="objective"><a class="objective action-gradient seethrough ${$value.type}" href="${$value.url}" data-progress="${$value.progress}">${$value.description}</a></li>
        {{/each}}
        </ul>
    </div>
</script>
{%- endraw -%}

{% endblock pagecontent %}

