{% extends "page_template.html" %}

{% block meta_page_title %}View Goals | {% endblock meta_page_title %}

{% block pagescript %}
<style>
        #page_sub_nav { display: none; }
</style>
<script>
// TomY TODO: Delete this whole file once all this functionality has moved into the user profile
var GoalViewer = {
    init: function() {
        $('#delete-goal').submit(GoalViewer.deleteGoal);
        $('#abandon-goal').submit(GoalViewer.abandonGoal);
    },
    deleteGoal: function() {
        $.ajax({
            url: "/api/v1/user/goals/delete/" + $(this).children('input[name="id"]').val(),
            type: 'POST',
            dataType: 'json',
            success: function(json) {
                document.location = '/goals/view';
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert('Failure: ' + textStatus);
            },
        });
        return false;
    },
    abandonGoal: function() {
        $.ajax({
            url: "/api/v1/user/goals/abandon/" + $(this).children('input[name="id"]').val(),
            type: 'POST',
            dataType: 'json',
            success: function(json) {
                document.location = '/goals/view';
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert('Failure: ' + textStatus);
            },
        });
        return false;
    },
};

$(function() {
    GoalViewer.init();
});
</script>
{% endblock pagescript %}

{% block pagecontent %}
<article id="show-goals">
{% if status == 'notloggedin' %}

<div><h1 class="section-headline">You must log in to create goals.</h1></div>

{% else %}

{% if status == 'success' %}
<div>Sucessfully created goal.</div>
{% elif status == 'failed' %}
<div>Failed to create goal.</div>
{% endif %}

<div><h1 class="section-headline">Goals: {{ goals_count }}<h1></div>
{% for goal in goals %}
  <div>
    Goal: {{ goal.title|escape }}
    {% if goal.completed %}
      {% if goal.abandoned %}(Abandoned){% else %}(Completed){% endif %}
    {% endif %}  
       
  </div>
  <ul>
  {% for objective in goal.objectives %}
    <li>Objective: {{ objective.type }}: {{ objective.description|escape }}. Progress: {{ objective.progress }}</li>
  {% endfor %}
  </ul>
  <form action="javascript:" id="delete-goal"><input type="hidden" name="id" value="{{goal.id|escape}}"></input><input type="submit" value="Delete"></input></form>
  <form action="javascript:" id="abandon-goal"><input type="hidden" name="id" value="{{goal.id|escape}}"></input><input type="submit" value="Abandon"></input></form>
{% endfor %}

<div><h3><a href="/goals/new">New goal...</a></h3></div>

{% endif %}
</article>
{% endblock pagecontent %}

