.video-overlay .question {
	display: none;
}

/* a layer is used to display form controls over a backdrop */
.video-overlay .layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 480px;
}

.ontop {
	margin: 30px -30px auto -30px;
	padding: 19px;

	background-color: white;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

.video-overlay {
	font-size: 150%;
}

/* backdrop layer */
.video-overlay .layer.backdrop {
	z-index: 1;
}
.video-overlay .layer.backdrop.whiteout {
	background: #fff;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=9);
}
.video-overlay .layer.backdrop.screenshot {
	background: #000;
}
.video-overlay .layer.backdrop.screenshot img {
	display: block;
	height: 450px;
	margin: 0 auto 0 auto;
}


/* controls layer */
.video-overlay .layer.controls {
	z-index: 2;
}

.video-overlay .layer.controls p {
	margin: 0 0 13px;
	font-size: 100%;
}

/* default form styles */
.video-overlay label {
	display: block;
	margin-bottom: 5px;
}

.video-overlay .checkbox, .video-overlay .radio {
	padding-left: 18px;
}

.video-overlay .radio.inline, .checkbox.inline {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.video-overlay input[type=text] {
	font-size: 100%;
}

/* buttons */
.video-overlay .simple-button {
	margin: 0 10px;
}

.video-overlay .submit-area .skip {
	float: right;
}

/* default submit area */
.video-overlay .submit-area {
	margin: 30px 0 0;
}
.video-overlay .submit-area.abs-bl {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px 5px;
	margin: 0;
}

.video-overlay .watermark-blocker {
	position: absolute;
	width: 800px;
	height: 65px;
	bottom: 0;
	background-color: #000;
}


/* heap of table css from bootstrap */
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin-bottom: 18px;
}
.table th, .table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  border-top: 1px solid #ddd;
}
.table th {
  font-weight: bold;
  vertical-align: bottom;
}
.table td {
  vertical-align: top;
}
.table thead:first-child tr th, .table thead:first-child tr td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #ddd;
}
.table-condensed th, .table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 1px solid #ddd;
}
.table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
.table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child, .table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.table.centered td {
	text-align: center;
	vertical-align: middle;
}

table.matrix-input {
	display: inline-block;
	position: relative;
	top: 1em
}

table.matrix-input td {
	border: none;
	padding: 2px;
}

/* inputtext */
.video-overlay .layer.controls .inputtext {
	position: absolute;
	width: 40px;
	height: 25px;
	padding: 3px 20px 10px 3px;
}
.video-overlay .layer.controls .inputtext.moveable {
	background-color: red;
}
.video-overlay .layer.controls .inputtext.ui-draggable {
	cursor: move;
}
.video-overlay .layer.controls .inputtext input {
	width: 100%;
	height: 100%;
}
.video-overlay .layer.controls .inputtext input {
	background-color: #444;
	border: 1px solid #444;
	color: #ddd;
}
.video-overlay .layer.controls .inputtext input:focus {
	background-color: #555;
	color: #fff;
}

/* label */
.video-overlay .layer.controls .label {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	padding: 5px;
	color: #f60;
}
.video-overlay .layer.controls.edit .label {
	border: 1px solid #fff;
}

/* other stuff */
.interactive-video-controls {
	position: absolute;
	float: left;
}
