.video-overlay .question {
	display: none;
}

/* a layer is used to display form controls over a backdrop */
.video-overlay .layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 480px;
}

.ontop {
	margin: 30px -30px auto -30px;
	padding: 19px;

	background-color: white;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

.video-overlay {
	font-size: 150%;
}

/* backdrop layer */
.video-overlay .layer.backdrop {
	z-index: 1;
}
.video-overlay .layer.backdrop.whiteout {
	background: #fff;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=9);
}
.video-overlay .layer.backdrop.screenshot {
	background: #000;
}
.video-overlay .layer.backdrop.screenshot img {
	display: block;
	height: 450px;
	margin: 0 auto 0 auto;
}


/* controls layer */
.video-overlay .layer.controls {
	z-index: 2;
}

.video-overlay .layer.controls p {
	margin: 0 0 13px;
	font-size: 100%;
}


/* inputtext */
.video-overlay .layer.controls .inputtext {
	position: absolute;
	width: 40px;
	height: 25px;
	padding: 3px 20px 10px 3px;
}
.video-overlay .layer.controls .inputtext.moveable {
	background-color: red;
}
.video-overlay .layer.controls .inputtext.ui-draggable {
	cursor: move;
}
.video-overlay .layer.controls .inputtext input {
	font-size: 100%;
	width: 100%;
	height: 100%;
}
.video-overlay .layer.controls .inputtext input {
	background-color: #444;
	border: 1px solid #444;
	color: #ddd;
}
.video-overlay .layer.controls .inputtext input:focus {
	background-color: #555;
	color: #fff;
}

/* label */
.video-overlay .layer.controls .label {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	padding: 5px;
	color: #f60;
}
.video-overlay .layer.controls.edit .label {
	border: 1px solid #fff;
}

/* checkbox */
.video-overlay .layer.controls label {
	display: block;
	margin-bottom: 5px;
}

.checkbox, .radio {
	padding-left: 18px;
}

/* buttons */
.video-overlay .simple-button {
	margin: 0 10px;
}

/* default submit area */
.video-overlay .submit-area {
	margin: 30px 0 0;
}
.video-overlay .submit-area.abs-bl {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px 5px;
	margin: 0;
}

.video-overlay .watermark-blocker {
	position: absolute;
	width: 800px;
	height: 65px;
	bottom: 0;
	background-color: #000;
}

/* other stuff */
.interactive-video-controls {
	position: absolute;
	float: left;
}
