.video-overlay {
	display: none;
}

.video-overlay .layer {
	position: absolute;
	top: 0;
	left: 0;
	height: 480px;
	width: 800px;
}

.video-overlay .layer.screenshot {
	z-index: 1;
	background: #000;
}
.video-frame {
	display: block;
	height: 450px;
	margin: 0 auto 0 auto;
}

.video-overlay .layer.question {
	z-index: 3;
}

.video-overlay .layer.question .inputtext {
	position: absolute;
	width: 40px;
	height: 25px;
	padding: 3px 20px 10px 3px;
}
.video-overlay .layer.question .inputtext.moveable {
	background-color: red;
}
.video-overlay .layer.question .inputtext.ui-draggable {
	cursor: move;
}
.video-overlay .layer.question .inputtext input {
	width: 100%;
	height: 100%;
}
.video-overlay .layer.question .inputtext input {
	font-size: 150%;
	background-color: #444;
	border: 1px solid #444;
	color: #ddd;
}
.video-overlay .layer.question .inputtext input:focus {
	background-color: #555;
	color: #fff;
}

.video-overlay .layer.question .label {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	font-size: 160%;
	padding: 5px;
	color: #f60;
}

.video-overlay .layer.question.edit .label {
	border: 1px solid #fff;
}


.video-overlay .submit-area {
	position: absolute;
	z-index: 3;
	bottom: 10px; /* no idea why this value works */
	right: 0;
}
/* needed so that buttons don't inherit opacity */
.transparency-container {
	position: relative;
	padding: 20px 15px;
}
.video-overlay .transparent {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.8;
}
.video-overlay .submit-area .simple-button {
	font-size: 140%;
	opacity: 1.0;
}
.video-overlay .submit-area .simple-button.skip {
	margin-left: 15px;
}

.interactive-video-controls {
	position: absolute;
	float: left;
}




/* todo: style form elements so they look ok on a black background */
input[type="text"], input[type="email"] {
	outline: inherit;
}
