<div class="all-goals fancy-scrollbar">
    {{#goals}}
    {{>goalbook-row}}
    {{/goals}}
</div>
<div id="goalbook-controls">
    <a class="new-goal simple-button action-gradient green" href="javascript:void(0)">New goal</a>
    <a id="btn-goal-history" class="simple-button action-gradient seethrough" href="javascript: myGoalBookView.goToGoalHistory()">Goal History</a>
    <a class="close-button">x</a>
</div>
