<div class="exercise-edit" data-id="{{ name }}">
  <a href="javascript: KnowledgeMap.nodeClickHandler(KnowledgeMap.dictNodes['{{ name }}'], null);" style="color: {{#if live}}#069{{else}}red{{/if}}; {{#if live}}text-decoration: line-through{{/if}}">{{ display_name }}</a></div>
</div>

