<div style="padding: 50px; height: 150px; text-align: center;">
    <!-- TODO(kamens): clean up all this inline style and work on this card's look -->
    <div style="width: 330px; margin-left: auto; margin-right: auto; position: relative; z-index: 2;">
        <div style="background: transparent url('/images/stories/slit.png') no-repeat top left;">&nbsp;</div>
        <div style="background: #E9EFDD; height: 50px; position: relative; top: -17px;">&nbsp;</div>
    </div>

    <h2 style="display:none;">Raking up leaves...</h2>
    <h2 style="display:none;">Crunching hard numbers...</h2>

</div>
