<div class="leaves clearfix">
    <div class="leaf {{leaves.0.state}}" data-desc="Complete this card">
        <div class="full-leaf">
        </div>
    </div>
    <div class="leaf {{leaves.1.state}}" data-desc="Complete this card without using all of the hints">
    	<div class="full-leaf">
        </div>
    </div>
    <div class="leaf {{leaves.2.state}}" data-desc="Answer this card correctly on your first try, without using any hints">
    	<div class="full-leaf">
        </div>
    </div>
    <div class="leaf speed {{leaves.3.state}}" data-desc="Answer this card quickly and correctly on your first try, without using any hints">
    	<div class="full-leaf">
        </div>
    </div>
</div>
