<div class="card-container">
    <div class="card">
        <div class="card-front card-face">

            <span style="font-size:8px;line-height:8px;">
                {{index}} ({{leavesEarned}}) ({{cardType}})

                {{#if frontVisible}}
                    (front)
                {{else}}
                    (back)
                {{/if}}
            </span>

        </div>
        <div class="card-back card-face">
            &nbsp;
        </div>
    </div>
</div>
