<div class="leaves clearfix">
    <div class="leaf {{leaves.0.state}}">
    	1
    </div>
    <div class="leaf {{leaves.1.state}}">
    	2
    </div>
    <div class="leaf {{leaves.2.state}}">
    	3
    </div>
    <div class="leaf speed {{leaves.3.state}}">
    	4
    </div>
</div>
