<div class="card-container">
    <div class="card">
        <div class="card-front card-face">
            &nbsp;
        </div>
        <div class="card-back card-face">
            &nbsp;
        </div>
    </div>
</div>
