<div class="leaves clearfix">
    <div class="leaf {{leaves.0.state}}" data-desc="Complete this card to earn 1 leaf.">
        <div class="full-leaf">
        </div>
    </div>
    <div class="leaf {{leaves.1.state}}" data-desc="Complete this card without using all of the hints to earn 2 leaves.">
    	<div class="full-leaf">
        </div>
    </div>
    <div class="leaf {{leaves.2.state}}" data-desc="Answer correctly on your first try without any hints to earn 3 leaves.">
    	<div class="full-leaf">
        </div>
    </div>
    <div class="leaf speed {{leaves.3.state}}" data-desc="Answer quickly and correctly on your first try without any hints to earn 4 leaves.">
    	<div class="full-leaf">
        </div>
    </div>
</div>
