<div class="leaves clearfix">
    <div class="leaf {{leaves.0.state}}">
        <div class="full-leaf">
        </div>
    </div>
    <div class="leaf {{leaves.1.state}}">
    	<div class="full-leaf">
        </div>
    </div>
    <div class="leaf {{leaves.2.state}}">
    	<div class="full-leaf">
        </div>
    </div>
    <div class="leaf speed {{leaves.3.state}}">
    	<div class="full-leaf">
        </div>
    </div>
</div>
