<div class="current-card-container">
    <div class="current-card-container-inner vertical-shadow">
        <div class="leaves-container">
            {{> current-card-leaves}}
        </div>
        <div class="current-card-contents"></div>
    </div>
</div>
