<div class="end-of-stack-info">
    <div class="title clearfix">
        {{#if reviewsLeft}}
        <h2>You have {{reviewsLeft}} skill{{pluralize reviewsLeft}} left to review...</h2>
        {{else}}
        <h2>You're done reviewing!</h2>
        {{/if}}
    </div>
    <div class="stack-controls">
        {{#if reviewsLeft}}
        <a href="/exercisedashboard" class="simple-button action-gradient left">Take a Break</a><a href="?" class="simple-button action-gradient green right">Keep reviewing!</a>
        {{else}}
        <a href="/exercisedashboard" class="simple-button action-gradient left">Head back to your exercise dashboard</a>
        {{/if}}
    </div>
</div>

