<section class="exercises-content">

    <div class="exercises-header">{{> exercise-header}}</div>

    <div class="exercises-body">
    
        <!-- TODO(jason): ben poops tables -->
        <table width="100%">
            <tr>
                <td style="vertical-align:top;">
                    <div class="exercises-stack incomplete-stack"></div>
                </td>
                <td style="vertical-align:top;">
                    <div class="exercises-card current-card"></div>
                </td>
                <td style="vertical-align:top;">
                    <div class="exercises-stack complete-stack"></div>
                </td>
            </tr>
        </table>

    </div>

</section>
