<h2 class="section-headline">
{{#if reviewMode }}
Review
{{else}}
    {{#if practiceMode }}
    {{ practiceExercise.displayName }}
    {{else}}
    {{ topic.standaloneTitle }}
    {{/if}}
{{/if}}
</h2>
