<section class="exercises-content">

    <div class="exercises-header">{{> exercise-header}}</div>

    <div class="exercises-body">
    
        <!-- TODO(jason): ben poops tables -->
        <table width="100%">
            <tr>
                <td>
                    <div class="exercises-stack incomplete-stack"></div>
                </td>
                <td>
                    <div class="exercises-card current-card" style="border:1px solid black;-webkit-border-radius:10px;"></div>
                </td>
                <td>
                    <div class="exercises-stack complete-stack"></div>
                </td>
            </tr>
        </table>

    </div>

</section>
