<style>
  #page_sub_nav {
    display: none;
  }
</style>

<section class="exercises-content">

    <div class="exercises-header">Header</div>

    <div class="exercises-body">
    
        <div class="exercises-left-stack exercises-stack">Left stack</div>
        <div class="exercises-card">Card</div>
        <div class="exercises-right-stack exercises-stack">Right stack</div>

    </div>

</section>
