<style>
  #page_sub_nav {
    display: none;
  }
</style>

<section class="exercises-content">

    <div class="exercises-header">{{> exercise-header}}</div>

    <div class="exercises-body">
    
        <div class="exercises-left-stack exercises-stack">{{{ renderStack userTopic.incompleteStack }}}</div>
        <div class="exercises-card">Card</div>
        <div class="exercises-right-stack exercises-stack">{{{ renderStack userTopic.completeStack }}}</div>

    </div>

</section>
