<div class="stack">
{{#each stack.cards}}
    <div class="card" style="height:20px;width:20px;border:1px solid black;margin:5px;background:black;opacity:0.2;-webkit-border-radius:3px;">&nbsp;</div>
{{/each}}
</div>
